[2015-10-23 20:56] #211 closed

[2015-10-23 20:57] KrauseFx commented on #215
I'm really sorry about this, I couldn't find a better solution. Check out [this](https://github.com/KrauseFx/snapshot#how-does-it-work) for more information about why. Also, please duplicate the radar and let me know if you have an idea on how to implement this the right way.

[2015-10-23 20:58] KrauseFx commented on #220
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:58] #220 closed

[2015-10-23 21:03] plaetzchen commented on #215
One (probably bad) solution could be to send cmd + s to the simulator and collect the shots from the desktop by the time stamp?

[2015-10-23 21:03] pieisgood commented on #234
I ,literally, have no idea.

[2015-10-23 21:08] KrauseFx commented on #229
Thanks :+1:

[2015-10-23 21:08] #229 closed

[2015-10-23 21:08] KrauseFx commented on #215
@plaetzchen I tried that, it's only possible using Apple Script, I don't think we should go that road.

[2015-10-23 21:08] KrauseFx commented on #215
It didn't really work

[2015-10-23 21:09] KrauseFx commented on #233
I'm happy to merge a pull request if you have the time to try it :+1:

[2015-10-23 21:10] KrauseFx commented on #234
Interesting, thanks for sharing @oskarn97. I don't know why that's the case.

[2015-10-23 21:11] KrauseFx commented on #176
I'm pushing another fix right now! :+1:

[2015-10-23 21:16] plaetzchen commented on #215
I agree that using AppleScript is the worst solution. Is there any official documentation how one uses the tap methods you use? Maybe the upper right corner would lead to less problems.

[2015-10-23 21:48] zmeyc commented on #162
Wow! Nice workaround with the swipe gesture! :)

[2015-10-23 21:53] KrauseFx commented on #162
:rocket:

[2015-10-23 21:53] KrauseFx commented on #162
I tried my best

[2015-10-24 01:20] swizzlr commented on #215
@KrauseFx would it at least be possible to retrieve the screenshot from before the event was synthesized, instead of after? that way we don't have a weird mid-transition screenshot, and then we just have to write code to restore the state we need to restore.

[2015-10-24 01:33] zineer commented on #215
Additional documentation on the "swipe" being done in `func snapshot` would be handy as well. Then we could customize where the action is being done so it doesn't interfere with our interface. I tried playing around with different numbers, but it either doesn't make too much of a difference or it causes the screenshot to not be found at the end of `snapshot`

[2015-10-24 03:25] bestwnh commented on #204
Amazing! I will make the upgrade and test it again after my app online the current working version.

[2015-10-24 06:07] kostiakoval commented on #208
Ok! Thanks

[2015-10-24 11:22] swizzlr commented on #215
32.1 is a magic number that snapshot looks for. You'd need to inject that dependency if you want to workaround that.

[2015-10-24 13:53] zineer commented on #215
I suspected that might be the case. Maybe we can have an option in the snapfile for `magic swipe number` so those of us who need to can override that. For example `0.1111, 0` and `0.1, 0` seem to not hit anything in my app, so I could do 0.111 as my magic number to look for.

[2015-10-24 20:02] KrauseFx commented on #215
@swizzlr

interesting, that sounds like a good idea

[2015-10-24 20:08] GrimSmiler opened #237 "Error when processing UIAlertController"
Hi all!

I was trying to do a simple UI Test with pressing a button, receiving an alert, clicking the button of the alert and that should be it, but whenever i run the code below, the test shows up as failed.

[code]

If i run a second test (does the same thing but without taking snapshots), than everything works fine.

Any idea why?

the second test
[code]

the whole project can be found here:
ht

[2015-10-25 17:25] bkrijgsman opened #238 "Multiple schemes"
Hi,

Is there a way to use the new way of taking screenshots using multiple schemes?
If i create a scheme only 1 configuration can be tested / producing screenshots.

Regards,
Bas

[2015-10-25 17:41] #238 closed

[2015-10-25 17:42] bkrijgsman commented on #238
I am sorry spent whole day trying to find a solution :) The solution is to auto create a test scheme.

See here my configuration:
<TestAction
      buildConfiguration = "{{SCHEME}}"
      selectedDebuggerIdentifier = "Xcode.DebuggerFoundation.Debugger.LLDB"
      selectedLauncherIdentifier = "Xcode.DebuggerFoundation.Launcher.LLDB"
      shouldUseLaunchSchemeArgsEnv = "YES">
      <Testables>

[2015-10-25 20:22] carlossless commented on #176
Works great again, thank you! Also have fun @ twitter!

[2015-10-25 22:30] KrauseFx commented on #176
Thanks @carlossless :+1:

[2015-10-26 11:35] plaetzchen commented on #233
See #240

[2015-10-26 14:44] pedro380085 commented on #224
@converted2mac What was your solution?

[2015-10-26 14:46] pedro380085 commented on #186
@KrauseFx What's the replacement for `custom_build_args`?

[2015-10-26 15:49] olavgm commented on #215
@zineer solution works for me (it doesn't tap on the last item of the UITabBar), but I don't get the right screenshots.

Maybe there could be a way to get all the screenshots on a first pass and then we can select the ones we want... snapshot([1, 2, 6, 7, 9, 14])

[2015-10-26 17:14] KrauseFx commented on #186
@pedro380085 I think there isn't one yet. Please submit a new issue with more information on how you'd use it and how the `xcodebuild` command looks like for you

[2015-10-26 17:22] pedro380085 opened #241 "custom_build_args Support"
Hi @KrauseFx,

On snapshot previous version, I used `custom_build_args` so I could identify when SNAPSHOT was running:

[code]

How can I do this now?

[2015-10-26 17:34] fluffyemily opened #242 "App is not being removed and reinstalled between language runs"
In older versions of snapshot the app was removed and reinstalled before each language change to ensure a clean start.

This no longer happen on snapshot 1.0. The app gets run for each location and picks up where it left off in the previous location, meaning that the screenshots are not the same for each language.

If there is an option or flag that I should be passing in every time that I have mi

[2015-10-26 17:51] larryonoff commented on #186
as for me I need to add preprocessor macros: SNAPSHOT, because I don't like adding it into the project configuration.

[2015-10-26 17:53] pedro380085 commented on #186
https://github.com/KrauseFx/snapshot/issues/241

[2015-10-26 17:54] larryonoff commented on #241
@pedro380085 thank yo for the issue. I have the same issue.

[2015-10-26 17:58] KrauseFx commented on #233
Thanks :+1:

[2015-10-26 17:58] #233 closed

[2015-10-26 18:11] converted2mac commented on #224
@pedro380085 I had been using the 'SNAPSHOT_SKIP_UNINSTALL' flag when running the script. So every time I had launched the script, it re-ran an older version of my app that didn't have the #ifdef checks. Removing this flag allowed snapshot to build and install the newer version of my app.

[2015-10-26 18:22] pedro380085 commented on #224
Hi @converted2mac, thanks for your comment. My issue is with `custom_build_args` being deprecated: https://github.com/KrauseFx/snapshot/issues/241

[2015-10-26 18:45] zorn opened #243 "`snapshot reset_simulators` did not create a simulator for the AppleTV"
Using: OS X 10.11.1, Xcode 7.1, snapshot 1.0.3

When I ran `snapshot reset_simulators` it did not create a simulator for the AppleTV. I was able to manually create one but it curiously showed up as using 9.0 when all the other simulators under Xcode 7.1 were listed as 9.1.

[2015-10-26 19:07] niklassaers commented on #162
Congratulations! :-)

[2015-10-26 19:07] niklassaers commented on #162
(and THANK YOU! :-) )

[2015-10-26 19:27] antoniocasero commented on #215
Same problem here... I end up disabling the last item...

[2015-10-26 19:54] ChaosCoder commented on #243
Well, that's because tvOS currently exists only in version 9.0. Other than that: Agree, it didn't recreate AppleTV simulators.

[2015-10-26 21:46] KrauseFx commented on #242
Right now it doesn't re-instal your app

[2015-10-26 22:42] niklassaers opened #244 "screenshots_path in sample Snapfile"
But screenshots_path is not a valid option, output_directory is

[2015-10-26 22:43] KrauseFx commented on #244
Thanks!

[2015-10-26 22:44] #244 closed

[2015-10-26 23:33] pedro380085 commented on #226
@KrauseFx Sorry to ask, but things are really slow now. Is there anyway we can have a compatibility mode?

[2015-10-27 00:10] pieisgood opened #245 "Unit tests fail Waiting for simulator"
Unit tests fail, not because they fail (pulling a VW for regular unit tests), because the needed simulator does not load in time, going through two timeouts of 120 seconds. If there's a way to launch the simulator  before building the unit tests then this could solve the issue.

[2015-10-27 00:19] richwaters opened #246 "snapshot fails when compile time is greater than 120 seconds"
For apps that take longer than 120 seconds to build, snapshot fails with the following message, "Timed out waiting 120 seconds for simulator to boot"

I think this is related to this bug: https://openradar.appspot.com/22413115
This also might be of interest:  https://github.com/bitrise-io/simulator-launch-timeout-includes-build-time

As those pages suggested, I made changes to the xcodebuild line

[2015-10-27 03:03] pedro380085 commented on #215
:+1:

[2015-10-27 04:04] pedro380085 opened #247 "[UI Testing] iPad Testing fails"
When running UI Testing on iPads, I get the following error:

[code]

ID number: 39a78a7132fb3d148e92467078bbf5f6

[2015-10-27 13:39] Alexandre968 opened #248 "iPad problem"
Hi,

I have a problem with snapshot (1.0.3) and the iPad Air 2 simulator (iOS 9.0/9.1).
I use Xcode 7.1.

Snapshot works fine with iphone simulators, I have my screenshots etc... but when snapshot use the ipad simulator, it seems like the "hack" into the snapshot function caused an infinite loop.

When I run the test in Xcode, there is no error, just always the same lines in the log. When I dont c

[2015-10-27 14:49] savage7 commented on #186
The only way to solve this without custom_build_args would be to create an extra configuration and add there custom preprocessor macros. This adds a lot overhead to the project configuration, so I also would prefer having some kind of custom_build_args or some other way of adding xcargs to the actual build.

[2015-10-27 20:54] zineer commented on #248
I ran into the same issue. It appears to be due to the iPad simulator always showing the battery percentage in the status bar so snapshot sees 5 elements when device isn't "loading" versus the 4 elements the iPhone simulator has at rest. I fixed this by changing the `waitForLoadingIndicatorToDisappear` function to:
[code]

[2015-10-27 20:55] zineer commented on #247
Possibly related, see my comment on https://github.com/fastlane/snapshot/issues/248#issuecomment-151640593

[2015-10-27 20:57] pedro380085 commented on #226
I've downgraded for now.

`sudo gem uninstall fastlane`
`sudo gem install fastlane -v 1.33.6`

[2015-10-27 21:32] antoniocasero opened #249 "Missing UI components in the screenshot"
Hi,

First of all, thanks for sharing this amazing project.

I'm trying to use Snapshot in my project, but the images taken from the UITest are incomplete. Some tableviews are missing, or sometimes only one of the cells appear in the screenshot.

Has anyone experience the same?

I'm using snapshot 1.0.3

[2015-10-27 21:49] MarcoMiltenburg opened #250 "Navigation bar is garbled on iPhone 5s and iPhone 6s but not on other devices"
I've updated to Snapshot 1.0.3 and seeing problems with just the iPhone 5s and iPhone 6s simulator screenshots. I get a garbled navigation bar in all my screenshots. All other devices (like iPhone 4s and iPhone 6s Plus) are fine.

![iphone6s-02-selectbuzzpattern](https://cloud.githubusercontent.com/assets/6213937/10773502/0117feba-7cfc-11e5-9885-62f4b0b7b09b.png)

No error is displayed, Snapshot i

[2015-10-27 22:48] enricenrich commented on #226
I agree with @pedro380085. Really like UI Testing, but is really slow.

[2015-10-27 23:00] pedro380085 commented on #249
Hi @antoniocasero, can you provide some screenshots? This happens for all devices or just a specific subset?

[2015-10-27 23:03] enricenrich commented on #226
Just tried it. On UI Tests it took 25 minutes to take 24 screenshots. On UI Automation 5 minutes.

[2015-10-27 23:23] niveuseverto commented on #249
Same goes for v1.0.4
Here are screenshots by snapshot:
![iphone4s-1withtitle](https://cloud.githubusercontent.com/assets/449253/10775563/926b8a80-7d1a-11e5-9229-5fa5712ca4ac.png)
![iphone6-1withtitle](https://cloud.githubusercontent.com/assets/449253/10775567/9ad82d40-7d1a-11e5-82ba-c3fc49cdd8cf.png)

Here is manual screenshot from simulator:
![simulator screen shot 27 oct 2015 23 28 23](https://c

[2015-10-28 01:15] KrauseFx commented on #226
It is impossible to maintain both versions of `snapshot`, as their architecture is completely different. @pedro380085 downgrade solution should work fine, but don't expect any big updates for that.

UI Automation is not maintained by  any more, so it's a safe bet to go all-in to UI Tests instead. I'll take a look if there is any way to not re-build the app every time.

[2015-10-28 01:17] KrauseFx commented on #246
Interesting - I can easily change it to `build test` instead. Do you notice any different in the compile time when doing so?

[2015-10-28 01:17] KrauseFx commented on #245
This might be tricky to implement, as we have to be sure to launch the correct simulator, both the right device type and the right iOS version.

[2015-10-28 01:27] pieisgood commented on #246
This fixed my previous error, the compile time didn't take any longer than before (considering it was already longer than 120 seconds)

[2015-10-28 07:02] antoniocasero commented on #249
Yep, it happens in all devices, but each device has different problems (like @niveuseverto screenshots or #250)

[2015-10-28 09:51] yeradis commented on #241
*I need this too!*

I prefer preprocessor directives , a solution can the use of environment variables
but with the preprocessor all that code only used in SNAPSHOT is not included in the app for distribution

[2015-10-28 10:12] larsparendt opened #251 "Call to snapshot() triggers a tap on last TabBar item"
1) Create a new Xcode project from the Tabbed Application template.
2) Add a UI Testing target
3) Initialize snapshot (as per instructions)
4) Add `snapshot("test")` to `testExample()`
5) Run test

Expected:
A snapshot of the first view controller.

Result:
Second view controller is selected and snapshot.

Note:
Changing `30000` to `-30000` in the helper function does not cause this tap, however,

[2015-10-28 10:14] yeradis commented on #249
For me is the same, every device is broken in a different way but just for the screenshots
Because on the simulator it runs without problems

[2015-10-28 10:18] pabloromeu commented on #249
I had the same issue. Try to set the zoom of the simulator to 1x. It fixed the problem for me.

![captura de pantalla 2015-10-28 a las 11 16 47](https://cloud.githubusercontent.com/assets/3224197/10785607/898207a0-7d65-11e5-9438-7bc9cf72613b.png)
![captura de pantalla 2015-10-28 a las 11 17 01](https://cloud.githubusercontent.com/assets/3224197/10785609/8cfeb7ac-7d65-11e5-81c6-8bbddd61e1a3.png)

[2015-10-28 10:20] niveuseverto commented on #249
Earlier that was not an issue.

Main problem in this approach: I have display mounted to mac with resolution 1920x1080.

[2015-10-28 10:29] safx commented on #250
Hi, it's probably a bug in Xcode 7.1 (and Xcode 7.2-beta).
Screenshots of UI test are already corrupted in Xcode.
These screenshots exist in `~/Library/Developer/Xcode/DerivedData/Your-App/Logs/Test/Attachments`.

Workaround: Use Xcode 7.0.1

[2015-10-28 10:46] pabloromeu opened #252 "snapshot "taps" button at screen bottom"
I have a button which width is the full wide of the device at the bottom of the screen. When I call "snapshot" method it "taps" that button, breaking the UITest.

![sin titulo](https://cloud.githubusercontent.com/assets/3224197/10786258/842fa2e0-7d69-11e5-826d-42e41c6ceebe.png)

[2015-10-28 10:47] pabloromeu commented on #252
Ups, duplicate: https://github.com/fastlane/snapshot/issues/251

[2015-10-28 10:47] #252 closed

[2015-10-28 10:56] MarcoMiltenburg commented on #250
The comment of @pabloromeu  in issue #249 about setting the simulators to 100% fixed this problem for me. So I guess it's up to Apple to fix the simulators.

[2015-10-28 10:57] #250 closed

[2015-10-28 11:14] larsparendt commented on #251
An easy way to reproduce this is by using the Example project where you can just insert a `return` after the first `snapshot()` call:
[code]
This will tap the last tabBar item too.

[2015-10-28 11:38] carlossless commented on #248
+1, thanks @zineer for getting to the bottom of this.

[2015-10-28 11:54] ConfusedVorlon commented on #228
I sent a pull request to support this

[2015-10-28 12:28] mozinator opened #254 "Test Logs attachment method is not reliable"
The screenshots taken by the xcactivitylog are not always "complete". Sometimes missing a UINavigationToolbar or other GUI elements.
In case of the iPad simulator this occurs more often. Its hard to reproduce, I will try to post a method to reliable reproduce this bug.

Do other people have encountered the same issue ?

[2015-10-28 12:59] kornale opened #255 "snapshot is not running"
I have done all the setup, but when I run snapshot I get the following error:
OSX: 10.11.1
Xcode: 7.1

[code]

[2015-10-28 13:36] antoniocasero commented on #249
Using @pabloromeu fix (by changing the simulator scale to 100%) solves the problem.

[2015-10-28 13:37] ConfusedVorlon commented on #241
I'm not sure that custom build args are even necessary. I think that just setting FASTLANE_SNAPSHOT for all projects would do the job.

My impression is that most or all requests just want a way to cheat their code with

#ifdef FASTLANE_SNAPSHOT
#endif

I don't think there is any downside to imposing that on all projects.

[2015-10-28 14:06] enricenrich commented on #226
@KrauseFx I've investigated a little bit more. AWS uses the `.xctest` file and the `.ipa` file to do the tests. Maybe you could do the same? Build the app one time, extract the `.ipa` and `.xctest` files and run it.

There's a `xctest` tool in Xcode, maybe it can help.

[2015-10-28 14:39] earltedly opened #258 "Running in an endless loop with 'exit code 127'"
I noticed after a while that there was an error message saying 'xcpretty not found'. Does it need to be a dependency on the gem?

I installed it via `gem install xcpretty` and things are now up and running.

[2015-10-28 14:47] larsparendt commented on #251
When looking at the collector code (lib/snapshot/collector.rb)

```                  was_snapshot = activity["Title"].match(/Press and drag from Target Application.*\[32.10.*\].*/)```

it doesn't really matter what the y-coordinate is, so I simply changed ```30000``` to ```-30000``` in ```SnapshotHelper.swift```:

[code]

and everything works fine!

[2015-10-28 15:56] richwaters commented on #246
The compile time does not change, but the "build test" does succeed in working around the Apple bug.

I think the nature of that bug is that the timer starts when the "test" argument is processed. If that argument has a dependency on "build", then the build is performed as part of processing the "test" argument and the timer is exceeded.

If the "build" is passed as the first argument, then the ti

[2015-10-28 16:09] ericertl commented on #258
Thanks @earltedly for the fix :+1:

[2015-10-28 17:08] bencollier commented on #251
Changing to `-30000` breaks it for us as it taps the top right navigation button (in our case Share). Have Apple changed in 7.1 to prevent off screen user interactions?

[2015-10-28 17:17] KrauseFx commented on #251
Duplicate of https://github.com/fastlane/snapshot/issues/215

[2015-10-28 17:17] #251 closed

[2015-10-28 17:17] KrauseFx commented on #258
It is added as dependency: https://github.com/fastlane/snapshot/blob/master/snapshot.gemspec#L26
How did you install `snapshot`?

[2015-10-28 17:18] #246 closed

[2015-10-28 17:20] earltedly commented on #258
I did `sudo gem install snapshot`. I’m on El Capitan and using the system ruby/gems.

[2015-10-28 17:24] KrauseFx commented on #248
@zineer @carlossless Please just disable loading for the loading indicator for now by commenting out this line

[2015-10-28 17:30] KrauseFx commented on #228
Thanks @ConfusedVorlon :+1:

[2015-10-28 17:31] KrauseFx commented on #255
[code]
This should fix your issue :+1:

[2015-10-28 17:31] #255 closed

[2015-10-28 17:31] KrauseFx commented on #254
Maybe this helps? https://github.com/fastlane/snapshot/issues/249

[2015-10-28 17:32] KrauseFx commented on #249
@pabloromeu Is that something I should add to the documentation? Or even print it in the `snapshot` output?

[2015-10-28 17:49] KrauseFx commented on #246
Please update to the latest version and let me know if that fixes the issue for you :+1:

[2015-10-28 18:03] cdemiris99 commented on #226
+1
Took a while to get things running with new UI Testing (finally got test files copied to app as part of Run Script for the test target), and happy to have them running, but definitely hope you can eliminate build for every language. Thanks.

[2015-10-28 18:05] enricenrich commented on #226
At least, it would be great that between language changes on the same device it doesn't build the app every time.

[2015-10-28 18:42] ericertl commented on #258
I had it installed more than 6 months ago. Doing gem updates since then, but never installed xcpretty

[2015-10-28 18:49] ericertl commented on #248
@zineer @KrauseFx I ran into this same issue but that fix didn't work for me...
I found out that the elements in your query find 2 elements with 'Network connection in progress' values, so I modified the function to the following and it's looking good for iPhone and iPad now.

[code]

[2015-10-28 18:51] earltedly opened #260 "The language doesn't seem to be getting set"
Another problem I'm having today :)

So I'm setting french and chinese as languages/regions to test but the simulator is coming up in English.

The build execution message in the log is:

[code]

I'm not seeing any parameter there which looks like it's passing the language in, which is suspicious. The comment at the top though seems to indicate it's picking up the language.

My config file is as f

[2015-10-28 19:19] ericertl commented on #228
@ConfusedVorlon Nice work. @KrauseFx needs to modify SnapshotHelper.swift to be contained in a class with @objc attribute. Otherwise Obj C cannot interact with the swift functions

[2015-10-28 19:43] pieisgood opened #261 "skip_open_summary = true still showing webpage"
Even though I've set skip_open_summary to true the webpage still opens on the most recent release of snapshot.

[2015-10-28 19:45] KrauseFx commented on #261
Nice catch, pushing a fix now! :+1:

[2015-10-28 19:46] pieisgood commented on #261
dope

[2015-10-28 19:46] #261 closed

[2015-10-28 19:47] KrauseFx commented on #261
This will be in the next release :+1:

[2015-10-28 20:56] richwaters commented on #246
Yes. Updating fixes the issue. Thanks.

[2015-10-28 21:50] pabloromeu commented on #249
@KrauseFx I am not really sure which is the process of taking the snapshot. I cannot assess you with that. But as far as I have seen at the swift helper code, you do something like moving a "press" along the screen. Maybe when the simulator is not at full screen this "movement" does not "grab" the full screen. And maybe it has something to do with #215

[2015-10-28 22:16] armadsen opened #262 "(Standalone) snapshot does not pick up Snapfile in hidden .fastlane folder"
I'd like to run snapshot on its own, but keep my Snapfile hidden in .fastlane/ . If I do that, snapshot doesn't seem to use the Snapfile.

Similar issue to https://github.com/fastlane/fastlane/issues/701

[2015-10-28 22:24] KrauseFx commented on #246
Yeah :+1:

[2015-10-28 23:19] armadsen opened #263 "snapshot() hangs when used on iPad Air 2 simulator"
More specifically, `waitForLoadingIndicatorToDisappear()` seems to be hanging because `query.count > 4) is never false (`query.count` is 5), even though the app has seemingly finished loading. My app hides the status bar on iPhone, so it may affect iPhone too?

The easy workaround is to pass false for `waitForLoadingIndicator:`, of course.

[2015-10-28 23:48] enricenrich commented on #226
@KrauseFx Also, I've found on StackOverflow that it should be possible to run `.xctest` files with `Instruments`.

[2015-10-28 23:59] KrauseFx commented on #226
@enricenrich did you try running it? Would you mind linking to the StackOverflow thread and share the code you used to try it?

[2015-10-29 00:06] enricenrich commented on #226
@KrauseFx This is probably the most useful. http://stackoverflow.com/questions/10962388/running-sentestingkit-unit-tests-in-instruments

But also: http://stackoverflow.com/questions/21031263/is-it-possible-to-run-xctest-based-tests-under-instruments-in-xcode-5

[2015-10-29 02:25] bassrock commented on #215
Disabling the last tab bar item works, but it also causes it to be greyed out in the screenshots.

[2015-10-29 08:45] mozinator commented on #254
KrauseFx, I think they talk about exactly the same issue as me. You can close this issue. I will try their method of changing the simulator size to 100%

[2015-10-29 08:45] #254 closed

[2015-10-29 09:00] pabloromeu commented on #249
@KrauseFx I have just tried to get manual snapshots from the simulator (not using Fastlane's snapshot). If scale is different from 100% the snapshot has incorrect size (e.g.: If zoom is 50% the snapshot has half the actual device size). So this is a simulator bug.

[2015-10-29 09:14] kornale commented on #255
Thank you for your quick help.
It is working now.

[2015-10-29 11:47] safx commented on #215
I've found another tricky workaround: add a 1x1 sized view to bottom right corner of the screen:

[code]

[2015-10-29 12:02] bencollier commented on #215
@safx that's gross but that's for that!-Working for now :game_die:

[2015-10-29 14:24] niveuseverto commented on #249
Doubtly, screenshots made from simulator itself are normal

[2015-10-29 14:26] pabloromeu commented on #249
@niveuseverto check the size of the snapshot. They are smaller than the actual device size.

[2015-10-29 14:28] niveuseverto commented on #249
I meant, do snapshot uses internal simulator's screenshot function or something other?
If it using something other - why not to use standard routine?

[2015-10-29 14:39] ericertl commented on #263
Same issue as #248

[2015-10-29 14:41] plaetzchen commented on #215
@safx This is a really good solution. I use this code in my UITabbarController subclass:

[code]

[2015-10-29 14:44] plaetzchen commented on #260
Is there a file in /tmp/language.txt which contains a string? Did you imported the SnapshitHelper file in your tests and did you call setLanguage(app) in your test?

[2015-10-29 14:45] ericertl commented on #213
@davidrothera  I changed waitForLoadingIndicatorToDisappear to look for the label "Network connection in progress" instead of hardcoding the number of elements on the statusbar as on iPad there were also more elements.
Hope this helps

[code]

[2015-10-29 17:02] EricKuck commented on #215
@plaetzchen Thanks for the tip. To make it a bit easier to reuse, I put this in my AppDelegate:

[code]

Then I just call `addSnapshotSwipeGuardView` in `application:didFinishLaunchingWithOptions:`. While I generally try to keep my AppDelegates clean, putting it here ensures that no views will ever be messed with by snapshot, regardless of the type of view or the view controller they're in (I was

[2015-10-29 17:10] plaetzchen commented on #215
@EricKuck You are totally right this seems like a better solution but since I already use a subclass of UITabbarController it was the obvious choice for me but AppDelegate is a good place as well.

BTW: Did someone already write an article called "Massive App Delegate" on Medium ;)

[2015-10-29 18:04] earltedly commented on #260
Thanks for the reply - it was my own stupid mistake though :). I was setting up the app and then calling `XCUIApplication.launch()` instead of `app.launch()`. Oops!

[2015-10-29 18:04] #260 closed

[2015-10-29 18:10] plaetzchen commented on #247
For now you could just use snapshot("name", waitForLoadingIndicator: false)

[2015-10-29 19:22] cltatman opened #265 "Snapfile is only loaded from Xcode project directory (1.0.5)"
i'm unable to load settings from the `fastlane/Snapfile` file generated by `fastlane init` or `snapshot init` - the file is never visited as far as i can tell

i found this code in `Snapshot::DetectValues`:
[code]
moving the `config.load_configuration_file` call out of the `chdir` block allowed me to load `fastlane/Snapfile`. the `detect_projects` call continued to display the project file prompt

[2015-10-29 20:20] JagCesar commented on #255
I have a similar error

[code]

And when i write `locale` I get this printed out
[code]

[2015-10-29 20:29] JagCesar commented on #255
Oh nvm, I just noticed I had to update fastlane_core by writing
`sudo get update fastlane_core`

[2015-10-29 22:36] hannesoid opened #266 "Xcode UI Tests screenshots break on scaled iOS Simulator"
See https://openradar.appspot.com/radar?id=6127019184095232

Is there maybe a way to force the iOS simulator to start in 100% scaling ?

[2015-10-30 02:38] KrauseFx commented on #262
Interest, thanks - will take a look now

[2015-10-30 02:39] #262 closed

[2015-10-30 02:40] KrauseFx commented on #262
Please update using `sudo gem update fastlane_core`

[2015-10-30 02:41] KrauseFx commented on #262
Thanks for letting me know :+1:

[2015-10-30 02:51] KrauseFx commented on #213
@ericertl I assume this is only working for English apps then, right?

[2015-10-30 02:52] KrauseFx commented on #263
Please disable waiting for loading indicator for now

[2015-10-30 02:53] KrauseFx commented on #265
Interesting - could you share a screenshot of how your folders are structured, where your `Snapfile` is, where your project is and what you defined in the `Snapfile`, so that I can reproduce the issue

[2015-10-30 11:31] klausbreyer opened #267 "((foundElement) is true) failed - Couldn't find element"
Hi, it is me again. Using fastlane.tools for the first time.

I build my app with react native and wanted to set up your snapshot tool.

I did everything like you said in the tutorial.

![screen shot 2015-10-30 at 12 13 52](https://cloud.githubusercontent.com/assets/32771/10844678/d762f0a4-7f01-11e5-86c9-5fc340bdf49f.png)

Code:
[code]

The Simulator fires up, when I run snapshot. But when I analy

[2015-10-30 12:05] hannesoid commented on #266
Sorry, this seems to be a duplicate of #249 #254

[2015-10-30 12:05] #266 closed

[2015-10-30 12:06] hannesoid commented on #249
you can dupe this radar https://openradar.appspot.com/radar?id=6127019184095232

Is there maybe a way to force the iOS simulator to start in 100% scaling from command line?

[2015-10-30 12:18] ericertl commented on #213
@KrauseFx sadly yes. I'm using @zineer code from #248 with the hardcoded values (4 for iphone, 5 for ipad)

I'm really disappointed that ```let query = XCUIApplication().statusBars.childrenMatchingType(.Other).elementBoundByIndex(1).childrenMatchingType(.ActivityIndicator) ``` doesn't return the loading indicators as it should and that the text for the loading indicator is localized

[2015-10-30 12:56] ericertl commented on #267
In your code there's no test called ```testRendersWelcomeScreen````
For the ```testExample```tests, the error doesn't show any problems for the line ´´´app.staticTexts["#01"].tap()´´´
The error appears on the next line. I assume if you comment out from ´´´app.staticTexts["#02"].tap()´´´ to ´´´snapshot("options")´´´it might work. You just need to check what's wrong with the rest of your code. Maybe

[2015-10-30 17:08] nthegedus opened #268 "Could not build Objective-C module"
I've installed Fastlane on my project (https://github.com/nthegedus/ReviewTime)

Now I'm trying to add snapshot, but and when I run snapshot I've got some error messages

[code]

I'm using Fabric to integrate Twitter.

[2015-10-30 17:23] KrauseFx commented on #249
@hannesoid It would probably be possible using Apple Script, but we don't want to go down this road.

[2015-10-30 17:31] KrauseFx commented on #268
@nthegedus do you get the same error message when running the UI Tests from Xcode directly?

[2015-10-30 17:46] kaolin commented on #248
+1 :)

[2015-10-30 23:24] pedro380085 commented on #249
I can confirm that @pabloromeu solution works. And I can also confirm that the bug is on simulator. I'm using snapshot old version (0.10.2) and the bug exists here too.

[2015-10-31 17:34] iandundas opened #269 "Assets not showing in snapshots - but are shown onscreen"
**edit: I'm using snapshot 1.1.0**

My snapshots are somehow produced without any assets visible, but in the simulator I can indeed see the assets whilst `snapshot` is running UI Automator. Any pointers as to why this might be?

See below:

Screenshot of the simulator whilst tests were running - note the red assets in the bottom right (everything is indeed solid red right now 🤔) and on the map ann

[2015-10-31 19:03] Mazyod commented on #269
I am seeing this as well, only on the iPhone 6s plus simulator. Are you experiencing this issue with other simulators as well?

[2015-10-31 22:33] iandundas commented on #269
you're right - it only happens for me on the 6 Plus and also the 6 simulator, but not the 5 or the 4s

[2015-10-31 22:58] DouglasHennrich opened #270 "There's a way to continue using JS files?"
I'm using an [third party tool](appcelerator.com) to compile my code to `Objective-C` so I can't and I don't know to code on `Objective-C` and for that reason, I can't put the new `snapshot` code to work as before... as the new `snapshot` works on the app's code itself.

There's a way to continue use `Automation` to generate the `script` to run `snapshot` ?

[This](https://github.com/ulizama/TiFas

[2015-11-01 00:23] KrauseFx commented on #270
Mh, the old version of `snapshot` is not maintained any more. You can always [downgrade to an older version of snapshot](https://stackoverflow.com/questions/17026441/how-to-install-a-specific-version-of-a-ruby-gem).

[2015-11-01 22:25] drupalmodule opened #271 "Is it possible to run mulitple instances of snapshot simultaneously?"
I have multiple apps to take screenshots of - is there a way to run snapshot for multiple apps at the same time?

[2015-11-01 23:34] KrauseFx commented on #271
No, because you can only run one simulator at the time.

[2015-11-01 23:34] #271 closed

[2015-11-02 13:25] kornale opened #273 "Uninstall app on language change?"
Is there a way to uninstall the app after each test with a certain language? I would like to behave the app the same for each language. Our app shows a disclaimer page on the first run, and right now I see the disclaimer screenshots only on the first language.

Thanks

[2015-11-02 15:16] danieleggert opened #274 "Only compile the app once"
There's absolutely no need to compile the app more than once. The current setup is unnecessarily slow because it re-compiled the project for every language / device combination. But the app binary will always be the same.

[2015-11-02 17:51] thankmelater23 commented on #180
▸ Compiling AppDelegate.m
▸ Compiling main.m
▸ Linking Bang\ Bang\ Studios\ Memory\ Game
Running Tests: ▸ Touching Bang\ Bang\ Studios\ Memory\ Game.app
▸ Building Bang Bang Studios Memory Game/Bang Bang Studios Memory GameTests [Debug]
▸ Check Dependencies
▸ Processing Info.plist
▸ Compiling Bang_Bang_Studios_Memory_GameTests.m
▸ Linking Bang\ Bang\ Studios\ Memory\ GameTests
Running Tests: ▸ Tou

[2015-11-02 23:36] emarley commented on #265
I am encountering the same issue.
My Snapfile is in a target folder below the project, which is several directories away from the workspace. I don't mind what directory I need to run 'snapshot' from, but it'd be nice to keep the Snapfile together with the rest of the UI test target files.

- Workspaces
- - AppName.xcworkspace
- Applications
- - AppName
- - - iOS
- - - - AppName-iOS.xcproj
- - - -

[2015-11-02 23:38] emarley commented on #274
I suspect it may be necessary to recompile for different device simulators, but it would be lovely if we can skip a clean compile for each language on that device.

[2015-11-03 00:25] KrauseFx commented on #274
@danieleggert I completely agree with you. If you find a way to *use* an existing `.app` bundle to run the tests, please let me know and I can integrate it into `snapshot` :+1:

[2015-11-03 00:26] KrauseFx commented on #274
@emarley There is no need to recompile for each language / device, we can use the same `.app` for all combinations.

[2015-11-03 00:51] emarley commented on #265
(It doesn't seem to matter what I put in my Snapfile—all the settings in it are being ignored.)

[2015-11-03 02:31] metalrecker commented on #269
Others are having a similar problem as you, myself included [@249](https://github.com/fastlane/snapshot/issues/249) Have you tried making sure your test run in a simulator with the window scale set to 100%?

[2015-11-03 02:48] kcharwood commented on #243
Seeing the same issue. tvOS Simulator was deleted, and not readded.

[2015-11-03 04:10] metalrecker commented on #269
By making sure that my simulator scales where set at 100%, all of my problems with missing elements in the screenshots went away.

[2015-11-03 04:12] Mazyod commented on #269
@metalrecker Thanks, you're right! Probably worth looking into the possibility of forcing full scale. I'll try to give it a shot

[2015-11-03 11:50] kornale commented on #273
Never mind, I found a solution by using the launch parameter "-ui_testing" and reset the user defaults during didFinishLaunchingWithOptions

[2015-11-03 11:50] #273 closed

[2015-11-03 13:26] osrufung commented on #249
I'm using snapshot 0.10.2 version (yes, I need to migrate my old JS code). I confirm the bug, and the solution.

[2015-11-03 13:43] nthegedus commented on #268
sorry @KrauseFx I've updated my pods and it now working perfectly.

[2015-11-03 13:43] #268 closed

[2015-11-03 14:17] marksands commented on #243
Same with the Watch for me.

[2015-11-03 19:07] jeryRazakarison commented on #199
I had this bug too. I'm using the snapshot js version. (for now, I prefer not to migrate to XCode UI Test, because of #215).

I solved this by deleting all the simulators, and recreating them manually (in xcode 7, it's at Window->Devices).

Hope it helps.

[2015-11-03 20:51] jaylyerly opened #276 "'snapshot()' call in UI test triggering elements on screen"
It appears the offscreen tap gesture used by the screenshot() call is being interpreted on screen.  I had a tap gesture recognizer on my login screen that was attached to an edge-to-edge view.  The screenshot() call consistently would trigger this gesture recognizer.  It seems as if the simulator is snapping those offscreen coordinates to the edge of the screen.  I tried several combinations, but

[2015-11-03 22:22] johnboiles commented on #241
+1 I used `custom_build_args` as well.

Some sort of runtime or compiletime check would be nice. Though I suppose I could add an environment variable to my UITests scheme.

[2015-11-04 13:50] osrufung opened #278 "[enhancement] create screenshots from a single size"
That's not a original idea. Surely you know https://launchkit.io/screenshots service. It basically creates all the necessary sizes (5.5", 4.7", 4.0", 3.5) from the iPhone 6+ size screenshot.

It could be a nice idea for snapshot (or maybe frameit) to have a similar feature to optimize the creation with big snapshot jobs.

[2015-11-04 14:25] Voxar commented on #276
I'm having the same issue but a button is being touched.

[2015-11-04 19:06] cltatman commented on #265
@KrauseFx sorry about the delay - this issue seemed to be fixed for me until yesterday. i'm updated to snapshot 1.1.0 now with fastlane 1.37.0

![image](https://cloud.githubusercontent.com/assets/6932310/10948495/b77ac1e2-82e2-11e5-89ec-9c44a7b45f5e.png)

this is my directory structure - i'm running fastlane as part of a rails app. the xcode project directory and the fastlane directory are at the

[2015-11-04 20:31] egarlock commented on #276
I am having this issue on the older device simulators (currently iPhone 4s for me).

[2015-11-04 21:14] #245 closed

[2015-11-04 22:36] #265 closed

[2015-11-04 22:43] KrauseFx commented on #268
Yeah :+1:

[2015-11-05 01:13] PeterWong2015 opened #280 "Not working on iPad simulator"
it's stuck at
=======================================
Running Tests: ▸ Touching ExampleUITests.xctest
=======================================
environment: OSX 10.10.5  xcode:7.1

[2015-11-05 01:44] emarley opened #281 "pass additional option flags to xcode"
Since the app has to build (devices x languages) times, I'd like to skip the analyze step. Just before 'build' in the xcodebuild command, I'd like to add RUN_CLANG_STATIC_ANALYZER=NO. I assume other people might like to add different things.

I am trying very hard not to define this on the scheme or something, since that would require maintaining two schemes nearly identical to one another.

[2015-11-05 01:52] emarley opened #282 "Request: when test fails, log device and language again"
At the beginning of a 'test', it neatly prints out what device and language are being used. Then the build proceeds for hundreds of lines of output (scrolling that neat summary way, way off screen). Then, if something horrible happens, there's a test failure, usually unfulfilled expectations. Then snapshot prints this line:

`Tests failed - check out the log above`

It would be delightful if that

[2015-11-05 09:20] webdevotion commented on #276
For me this occurs on iPhone 5s (and older devices) running Xcode 7.1 / iOS 9.1 and an up to date Fastlane toolchain.

The test used to be twenty lines long, but when I started to run into an issue with a button that could not be found I started removing lines.  I was fairly certain it was there and it worked on the other more recent device simulators.

Closed Xcode, Simulator, clean builds, ...

[2015-11-05 12:20] hannesoid commented on #276
I had this problem as well, in particular, snapshot() opens the last tab by accident in an *embedded UITabBarController*.

**demo project** with failing UI Tests
https://www.dropbox.com/s/u5shzxtkdxsv9e8/SnapshotTabsProblem.zip?dl=0

1. Run the tests
2. See how snapshot helper taps the last tab making the assertions tests fail

[2015-11-05 14:35] twestley opened #283 "snapshot init failed: Could not find 'snapshot' (>= 0) among 67 total gem(s) (Gem::LoadError)"
Probably this is not a snapshot-specific issue but rather something bad in my environment. Not being familiar with ruby and gems, I don't know where to start. Many of the similar error messages I see on the web seem to have solutions too specific to help me.

    Mac OS X 10.10.5
    Xcode 7.1
    twestley% ruby --version
    ruby 2.0.0p481 (2014-05-08 revision 45883) [universal.x86_64-darwin14]

[2015-11-05 15:25] egarlock commented on #276
For me it was closing a slide out side menu when I took a snapshot with this open. I ended up just checking for the tableView and if it wasn't there re-opening the side menu.

    XCUIElement *menuiconButton = navigationBar.buttons[@"menuicon"];
    [menuiconButton tap];

    [Snapshot snapshot:@"01SideMenu" waitForLoadingIndicator:YES];

    {
        // For Older Simulators the snapshot will hid

[2015-11-05 21:30] pieisgood commented on #280
This is an issue where it's waiting for a loading indicator on the iPad,
try adding false to the waitforloadingindicator on the snapshot function, like so
snapshot("03SearchPage", waitForLoadingIndicator: false)

[2015-11-05 23:16] cyupa opened #286 "UI Testing Failure - Failed to generate snapshot"
[Uploading snapshot_log.txt…]()

UI Test fails on `start.pressForDuration(0, thenDragToCoordinate: finish)`

Test example:
https://github.com/cyupa/Codecamp-iOS/blob/master/CodecampUITests/UITests.m

[2015-11-06 02:15] jeffd opened #287 "Add back SNAPSHOT Preprocessor Macro"
From a conversation with Felix, he told me to try adding back the flags with the xcrun command. Adding the following code seems to do the trick:

```GCC_PREPROCESSOR_DEFINITIONS='$(inherited) SNAPSHOT=1' OTHER_SWIFT_FLAGS='$(inherited) -DSNAPSHOT'```

Full Command:
```xcrun xcodebuild -showBuildSettings -workspace './MyCoolApp.xcworkspace' -scheme 'MyCoolApp' GCC_PREPROCESSOR_DEFINITIONS='$(inheri

[2015-11-06 07:13] esusatyo opened #288 "Snapshot command does not wait until all network requests finishes"
I have the following snippet in my code:

    let homeViewLabel = app.staticTexts["Silver Lane Gallery"]

    //Wait for download to finish
    homeViewLabel.pressForDuration(3.0);

    snapshot("01 Home Screen")

I added the second line out of frustration after trying snapshot a few times, because every time it runs on some devices, snapshot does not wait until the network requests finishes. Is t

[2015-11-06 09:10] cymen commented on #269
I ran into this problem but not with assets -- just with some text (well, text with drop shadow). Indeed, I found my iPad Air was running at scale 50% and changing it to 100% fixed it.

[2015-11-06 09:11] iandundas commented on #269
I wouldn’t even know where to start debugging this - anyone have any ideas?

[2015-11-06 09:31] cymen commented on #269
Well if snapshot could set the scale, the issue would be resolved. It looks like this StackOverflow answer has a hint:

http://stackoverflow.com/questions/18606926/adjusting-the-xcode-iphone-simulator-scale-and-size

If Snapshot could run the command to set the scale before each run like so:

`defaults write ~/Library/Preferences/com.apple.iphonesimulator SimulatorWindowLastScale "1"`

The part th

[2015-11-06 09:38] gerchicov-bp commented on #249
It seems I have the same issue:
http://i65.tinypic.com/2h73qyd.png
It is just default master-detail application

[2015-11-06 09:56] Mazyod commented on #269
@cymen This is awesome. Actually, the middle part is just the bundle identifier for the app. To vary per simulator, see the `read` output:

[code]

[2015-11-06 10:00] Mazyod commented on #269
@cymen Will you make a PR? I'd be interested in making one if you're busy. Really need this functionality.

[2015-11-06 12:05] webdevotion commented on #276
Thank you @jasoncabot.  I ended up with this snippet in `viewDidLoad` of the `UIViewController` where things went wrong.  `snapshot` was tapping a button in my view. The button was the last view in the hierarchy.

[code]

[2015-11-06 12:41] ogezue opened #291 "Documentation for Objective C and XCode 7.1"
I have an Objective-C Project, converted to iOS9 and I'm stuck in setting up fastlane.

What I have in my UITest target:
SnapshotHelper.Swift
MyAppNameUITests.m
Info.plist
MyAppNameUITests-Bridging-Header.h (empty file)

In the test method I added
[code]

But Snapshot can't be resolved. Could you please go into details and update your documentation? There are some changes with XCode 7 (target for

[2015-11-06 12:49] ConfusedVorlon commented on #287
where are you doing this?

I have experimented with this in test_command_generator.rb, but I get

	Unknown build action 'GCC_PREPROCESSOR_DEFINITIONS'.

or if I make it -GCC_PREPROCESSOR_DEFINITIONS

	xcodebuild: error: invalid option '-GCC_PREPROCESSOR_DEFINITIONS'

[2015-11-06 13:15] ogezue commented on #291
I could help myself with this video

[2015-11-06 13:29] ConfusedVorlon opened #292 "Any chance of returning the --skip_build option"
when testing a setup, it would really help.

[2015-11-06 15:55] andreamazz commented on #215
I hade the same issue, I changed the sign on the Y coordinate here:
[code]

Ugly, but it works :grimacing:

[2015-11-06 16:50] cymen commented on #269
@Mazyod I am busy for a bit -- if you can do it, go for it! If not, I'll try to circle back but might be 4+ days.

[2015-11-06 18:36] artuan opened #293 "Screenshot of UIAlertController"
I cannot make screenshot of app with alert controller. This has to do with the "swipe"?!.
Can I do something or should I wait?

Thank you

[2015-11-06 22:01] cyupa commented on #215
:+1:

[2015-11-06 23:25] cdemiris99 opened #294 "iPad Pro screenshots are writing over iPad Retina screenshots"
Had Snapfile set with "iPad Retina" and "iPad Pro" as devices to create screenshots for.  After writing the 'iPadRetina-' screenshots, it started on iPad Pro, and those are also being written as 'iPadRetina-', overwriting the original Retina screenshots.

[2015-11-06 23:27] #294 closed

[2015-11-06 23:34] jeffd commented on #287
This was just from the command line, changing the one command from the output, I have not modified my snapshot to add those arguments in, I'm not sure where it gets run from poking around the code a little.

[2015-11-06 23:41] ConfusedVorlon commented on #287
I ended up getting the same thing through fastlane and environment variables

https://github.com/ConfusedVorlon/snapshot#passing-a-preprocessor-macro

I do think snapshot should just set the variable by default though. I can't see any downside to having it set for all projects.

[2015-11-06 23:51] twestley commented on #283
Fixed it by running `gem install snapshot` instead of `sudo gem install snapshot`.

Weird.

[2015-11-06 23:51] #283 closed

[2015-11-07 08:55] TiboC opened #295 "Undefined symbols for architecture x86_64"
hello,

I included snapshot files into myproject. If I try to run test using cmd+U it succeeds but if I tried with snapshot I can't run the test as there is a linking issue " Undefined symbols for architecture x86_64"
I can't figure out what is that exactly and try some modifications of the project but nothing helped.

Any ideas ?

Thanks in advance,

Thibaut

[2015-11-07 19:20] ConfusedVorlon opened #296 "Snapshot corrupts screen"
this is weird, and I suspect there is nothing you can do.

On both the iPhone 6+ and the iPad Pro, my toolbar which shows at the bottom of the screen corrupts when you take a screenshot. On all other simulators, it is fine.

![iphone6plus-00imagescreen](https://cloud.githubusercontent.com/assets/586910/11016842/790cb0e2-8584-11e5-852c-238b8ebf4323.png)

It should look like

![iphone6-00imagescreen

[2015-11-07 19:32] ConfusedVorlon commented on #296
Now I'm looking more closely, I'm seeing that other screen elements are undrawn when the snapshot happens. In the example above, the whole bar at the top is gone. In other screenshots - other complete elements are missing.

this only applies on the 6+ and the iPad pro.

[2015-11-07 22:03] cescobaz commented on #296
Same issue in all simulators:
screenshot should be as following
![simulator screen shot 07 nov 2015 23 02 12](https://cloud.githubusercontent.com/assets/1547072/11017568/b01dbddc-85a3-11e5-9ae7-e30e51add9de.png)
but snapshot takes:
![iphone6-01-screenshot](https://cloud.githubusercontent.com/assets/1547072/11017571/c28f47f6-85a3-11e5-898f-5756bd8ea66e.png)

[2015-11-07 22:55] jeryRazakarison commented on #215
Sadly, changing the sign make a tap on the top bar right button item.

[2015-11-07 22:57] EricKuck commented on #215
Anything that doesn't involve intercepting the touch is just going to change what the problem is, not fix it. Every other solution just makes the gesture happen somewhere else so that it avoids one specific view, but touches another. The cleanest solution is going to be what I posted above until Apple creates a way to take screenshots without gestures.

[2015-11-08 02:51] foozmeat commented on #296
I'm seeing something similar on 6+ and iPad Retina. It's as if drawing hasn't completed before the snapshot is taken.

[2015-11-08 03:01] foozmeat opened #297 "snapshot is crashing after successful tests"
[code]

Sadly, I'm unable to attach a log file. As soon as it throws this error is tries the process over again and the log is truncated.

[2015-11-08 03:03] foozmeat commented on #297
Running the command listed above on its own yields no errors.

[2015-11-08 03:54] ggruen commented on #296
I'm seeing this intermittently on various different devices in the simulator (on my last run, it was all devices - see iPhone 5 screenshot below).  I noticed, however, that running the simulator from the command line produces the same artifacts.  That is, if I run the following, the screenshots in the "output" directory will have the same artifacts:
[code]

So it's clearly not snapshot's doing - i

[2015-11-08 04:10] ggruen commented on #296
Ok, solved, and this is a duplicate of #249.  Run the simulator at 100% scale (hint: hit command-1) and the screenshots are fine.

[2015-11-08 10:31] ConfusedVorlon commented on #296
good spot - thank you.

[2015-11-08 10:35] cescobaz commented on #296
Works for me, thank you

[2015-11-08 10:36] ConfusedVorlon commented on #249
@KrauseFx out of interest - why are you so against Apple Script?

[2015-11-08 13:37] ConfusedVorlon commented on #249
@KrauseFx how about just writing directly to the preferences?

If you set every preference starting with SimulatorWindowLastScale to 1, then that should do the job.

	com.apple.iphonesimulator.plist

converted to XML looks like:

	<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	<plist version="1.0">
	<d

[2015-11-08 16:04] foozmeat commented on #296
It looks like the `Debug -> Optimize Hardware for Window Scale` setting is the culprit.

[2015-11-09 11:16] cannyboy opened #298 "App Preview automation?"
Currently, its not possible to automate uploading App Preview videos using deliver - see https://github.com/fastlane/deliver/issues/34 - due to limitations in Apple's tools - http://www.openradar.me/18426754

However, it would still be useful to be able to automate the creation of App Preview videos using snapshot, using the same UI Test recorded code. Perhaps it is beyond the scope of snapshot.

[2015-11-09 11:26] cannyboy opened #299 "VPN IP automation?"
I have an app which responds differently according to which country the user is in. This is a result of the server giving the app different things according to the IP of the user.

I can use GUI apps such as tunnelbear to pretend to be in France, for instance, but is there a recommended way to script this, and have the IP changed according to the language being tested - i.e., when testing Italian,

[2015-11-09 12:30] kyleggapps opened #300 "Building with ruby motion"
I see that support for this was in v.0.6.0 but that its been removed in recent versions.  How have other people gone about building their ruby motion apps?

[2015-11-09 12:42] osorochich opened #301 "Missing assets in v.0.10.2"
Hi guys,

First of all, thank you a lot for that amazing tool. I believe this tool can make our QA-team work easier and faster :)

But I'd like to discuss one point regarding missing assets. I know there are very similar problems([#249](https://github.com/fastlane/snapshot/issues/249), [#296](https://github.com/fastlane/snapshot/issues/296)), but I found out very tricky workournd and hope you can

[2015-11-09 13:46] ogezue opened #302 "UI Testing Failure - App failed to quiesce within 30.0s"
Do you know why this happens? My UITest is running fine from XCode.

Here is my code:

[code]

[2015-11-09 14:20] JesseCrocker commented on #270
@DouglasHennrich Im currently maintaining a fork of Snapshot at https://github.com/JesseCrocker/snapshot/tree/js-snapshots-xcode7 that fixes several bugs in 0.10.2, and still supports Javascript based automation.

[2015-11-09 14:36] JesseCrocker commented on #301
I ran into what im guessing is the same issue, and eventually came up with a workaround for it: In the project build settings, under `Asset Catalog Compiler - Options` set `Enable Building Only Active Resources` to No.

Whats causing it:
It's an issue compiling binary asset catalogs that is causing only 1x assets to be included. I've got 2 build machines, one running 10.10 and one running 10.11, b

[2015-11-09 15:53] ogezue opened #303 "Screenshot to early"
Is it possible to tell snapshot to wait a second before the screenshot? I think the screenshot below was made to early.
![iphone4s-01overview](https://cloud.githubusercontent.com/assets/2361031/11038217/1d925238-8702-11e5-9f81-d84a8820b0c3.png)

Here is how I do it:
[code]

[2015-11-09 16:11] hannesoid commented on #302
Check this https://forums.developer.apple.com/thread/6503
In our case we removed a UIRefreshControl when running tests and it solved it.

[2015-11-09 16:14] hannesoid commented on #303
It is probably not because of timing, but because of simulator not at 100% scale, if so it is a duplicate of https://github.com/fastlane/snapshot/issues/249

[2015-11-09 16:53] SemenovAlexander commented on #293
+1 for this issue. If I try use snapshot() function  - dialog is being dismissed before actual screenshot is taken

[2015-11-10 03:27] esusatyo commented on #288
Ok, I fixed this. Turns out the simulator has to be at 100% size. https://github.com/fastlane/snapshot/issues/249

[2015-11-10 03:27] #288 closed

[2015-11-10 06:28] ogezue commented on #303
Scaling to 100% solved it. Would be great if Felix could handle it an make the product more stable.

[2015-11-10 06:29] #303 closed

[2015-11-10 06:31] ogezue commented on #302
Now I know what people mean with test driven design. I don't want to remove UI elements just because the testing can't handle it.

[2015-11-10 07:52] ogezue opened #306 "Screenshots of wrong screens"
I have problem with screenshots. My app has 4 tabs and the UI test completes successfully. I want to have screenshot of the first 3 tabs identified by its accessibility identifier. But what I get is three times a screenshot of tab 4 what I don't want to have snapshoted.

Any idea what the problem might be?

[code]

[2015-11-10 08:24] osorochich commented on #301
Setting `Enable Building Only Active Resources` to `No` solved my problem. @JesseCrocker thank you a lot!

[2015-11-10 08:43] SemenovAlexander commented on #306
I had also such problem and didn't found way to set accessibility identifier to tabbarItem. I've ended up using indexes of tabs instead of accessibility identifiers and problem was solved.

[2015-11-10 08:49] ogezue commented on #306
The accessibility identifier for tabbaritems is no problem anymore (solved in iOS8, as far as I know):
[code]
And my UI tests are working in XCode (the app navigates to all tabs).

[2015-11-10 08:56] SemenovAlexander commented on #293
So, I've ended up with moving swipe gesture to alertcontroller itself instead of target application and now it works fine for me. See pull request #307

[2015-11-10 09:41] martynovskij commented on #280
+1 to issue
"waitForLoadingIndicator: false" no good for me.
The application must load the page before screen shot make.

[2015-11-10 11:08] samuelbeek opened #308 "Camera Support"
*This is not a bug, but an enhancement.*

Since a lot of Apps use camera's, it would be nice to have a certain image inside every camera view there is, instead of a black screen. This could be in the terminal command like this:
 `snapshot --cameraImage "camera-image.png"`

I've accomplished something similar by adding a imageView behind every camera preview that I have, but I think that's too much

[2015-11-10 13:59] ogezue commented on #306
I discovered that

[code]
causes the app to jump to the last tab. If I comment it out the app behaves as it should - but I don't get a screenshot...

[2015-11-10 14:01] SemenovAlexander commented on #306
You've encountered known issue. There are some worarounds.
 See #276 and #215 for details.

[2015-11-10 15:58] lilidotshi opened #309 "Snapshot failing on pressForDuration"
Hi!

I'm running into an error when taking a snapshot. Basically after an async call (I used expectationForPredicate and waitForExpectationWithTimeout), I want to take a screenshot, but whenever I do the test fails when trying to do so.

It's hitting this line in SnapshotHelper.swift

        start.pressForDuration(0, thenDragToCoordinate: finish)

in the `snapshot(name:waitForLoadingIndicator)` f

[2015-11-10 22:45] johnboiles commented on #241
I added an environment variable to my UITest scheme, but it wouldn't get picked up in the app. It turns out `XCUITest`s are run as a separate process from the app, so any environment variables get passed into the test runner, but not the app itself. To see this for yourself, set a breakpoint while running your UITests and you'll see two processes in the `Debug navigator` pane in Xcode. This is pre

[2015-11-11 12:59] ogezue commented on #306
This code here works if you put in your app delegate without any extra frameworks.

[code]

[2015-11-11 12:59] #306 closed

[2015-11-11 20:22] SemenovAlexander opened #311 "Return --Snapfile option"
I've discovered, option "--Snapfile" was removed in new snapshot version. For our fastlane setup it was very useful.
We use it to specify individual fastfile for each device/language combination, because we have 4k+ screenshots from one pass (all possible devices and iOS 7,8,9 versions - crap, but what to do :) ). And we want to have further segmentation.

Is it possible to return that option back

[2015-11-12 07:11] vinbhai4u opened #312 "iPad retina screenshots not working"
Cant take screenshot of iPad retina snapshot is simply stuck

[code]

after a long (lunch) break
[code]

[2015-11-12 07:24] artuan commented on #293
Thank you @SemenovAlexander, when it will be available an update of snapshot?

[2015-11-12 15:28] sabadow commented on #312
I have the same issue, the tests isn't running on ipad simulators but works fine on iphone ones.

[2015-11-12 15:50] sabadow commented on #280
The "waitForLoadingIndicator: false" workaround solves the issue.

[2015-11-12 15:58] vinbhai4u commented on #312
yes @sabadow not working for iPad or iPad Retina

[2015-11-12 18:39] MartinRogalla commented on #215
Argh, I would really love to use snapshot so much. I really like it. However right now sadly I can't. The '*snapshot swipe*' is affecting my UI. I've tried giving the `snapshot` function extra parameters so I can change the direction and position of the 'snapshot swipe' for a given screen, but on some views it will always bring me into a state I don't want to be in.

I duplicated the radar for now

[2015-11-12 20:07] lilidotshi commented on #274
Running into this issue now, as it takes forever to take screenshots because of all the extra compiling. So if the app exists after one build, is there any way you could exclude the compiling phase the following time the script runs xcodebuild? Such as duplicating the project.pbxproj file, with Sources under buildPhases commented out?

[2015-11-13 10:22] linked67 commented on #297
Have this problem too, exit 139 and it try again the same simulator.

[2015-11-13 14:19] egistli opened #313 "Unable to capture screenshots for language "zh-Hant""
Due the change of #264, the second part of the language ID is removed.
However, the second part of language ID is not necessarily an locale designator, it might be a script designator instead. In the case of "zh-Hant" and "zh-Hans", the second parts `Hant` and "Hans" means traditional Chinese script and simplified Chinese script as described in [Section Language IDs of Internationalization and Loc

[2015-11-13 15:09] egistli commented on #313
Another way to specify language+locale is to use the following form of locale ID described in [Internationalization and Localization Guide](https://developer.apple.com/library/ios/documentation/MacOSX/Conceptual/BPInternational/LanguageandLocaleIDs/LanguageandLocaleIDs.html).

`[language designator]-[script designator]_[region designator]`

Example: "zh-Hant_TW", "zh-Hans_CN".

With two separators

[2015-11-14 12:44] ConfusedVorlon commented on #280
I think that this is the correct code for your swift helper

	    class func waitForLoadingIndicatorToDisappear()
	    {
	        let query = XCUIApplication().statusBars.childrenMatchingType(.Other).elementBoundByIndex(1).childrenMatchingType(.Other)

	        let expectedCount=((UIDevice.currentDevice().userInterfaceIdiom == .Pad) ? 5 : 4)

	        while (query.count > UInt(expectedCount)) {

[2015-11-16 10:15] KrauseFx commented on #306
@ogezue Interesting - do you think the code sample you posted should be added to the official documentation of `snapshot`?

[2015-11-16 10:20] ogezue commented on #306
Hi Felix, yes I think it would help others as long as this workaround is needed. Perhaps it can be improved, but for me it is working.

[2015-11-17 09:30] robertoferraz commented on #215
I tried the workaround from @EricKuck and @andreamazz but didn't work for me. Someone has another idea?

[2015-11-17 09:34] davidrothera commented on #215
I think ultimately unless someone finds an awesome undocumented method to trigger a screenshot without actually interacting with the app we are going to have to wait and see if Apple ever responds to the Radar :-1:

[2015-11-17 16:28] SemenovAlexander opened #314 "OS X support"
This would be very nice to support MacOS app in snapshot as well.
Now, when Xcode 7 UI testing supports UI Testing on Mac - it should be pretty easy to implement.
How do you think?

[2015-11-17 17:45] ailnitskiy commented on #234
also have this problem and can't resolve it.

[2015-11-17 17:50] KrauseFx commented on #314
I agree, this would be a very nice addition to `snapshot`, however requires some changes, in particular how the actual screenshots are triggered.

[2015-11-17 18:05] egarlock commented on #312
I'm currently working through a problem with the iPad simulators. I am not quite sure if it is the same problem resulting in your error but it might be.

With iPad simulators they are showing the "Battery Percentage" next to the battery icon. This results in 5 status bar elements and if you are using

`[Snapshot snapshot:@"MyCoolSnapshot" waitForLoadingIndicator:YES];`

it will be checking for <4

[2015-11-17 18:29] SemenovAlexander commented on #314
@KrauseFx I could try to implement this and create appropriate pull request. I've already performed some experiments, and was able to take some screenshots using same swipe approach as iOS and removing `destination` param from xcodebuild.
However swipe gesture on OSX triggers  menu to open, so it's not very nice. And also not clear for me from code, how to enable "Mac" to be available in devices

[2015-11-17 18:35] KrauseFx commented on #314
The devices are detected [here](https://github.com/fastlane/snapshot/blob/master/lib/snapshot/detect_values.rb#L22). Check out the project description on why I used the swipe gesture. If you find a better solution, I'm more than happy to change that in `snapshot`.

[2015-11-17 19:17] egarlock commented on #280
You should make a pull request @ConfusedVorlon ... I found the same thing to be true.

With iPad simulators they are showing the "Battery Percentage" next to the battery icon. This results in 5 status bar elements and if you are using `waitForLoadingIndicatorToDisappear` then it will never pass that check.

[2015-11-17 20:17] SemenovAlexander commented on #314
Ok, thanks a lot! Yes, I've already checked description and docs on project couple times to make it clear :)
I've started to use fastlane couple months ago. We use it for building, delivery and testing our product on iOS, OSX and Android, and really happy with it, so I'll do my best to help solve this issue.

[2015-11-17 21:07] enricenrich commented on #226
@KrauseFx Any news no this? :)

[2015-11-17 21:17] ffittschen commented on #215
@mihahribar If I understand [this](https://github.com/KrauseFx/snapshot#how-does-it-work) correctly, that is exactly what snapshot does. The gesture is used to "remember" the timestamp and later map the remembered timestamps to the existing screenshots and copy the ones which correlate to the timestamps

[2015-11-18 09:12] mihahribar commented on #296
Scale solved it for me too.

[2015-11-18 09:52] mihahribar commented on #313
I just replaced line 35 in `SnapshotHelper.swift` to pass the same locales to as `AppleLanguages`

[code]

But I was using `zh_TW` and `zh_CN` so not sure if script part works as well.

[2015-11-18 09:55] mihahribar commented on #297
Had the same problem. Removing screenshots folder by hand solved it.

[2015-11-18 10:58] victor opened #315 "`coordinateWithNormalizedOffset:` not available on AppleTV"
I tried to install snapshot for an AppleTV project and followed the instructions to install the helper. But on this platform, `coordinateWithNormalizedOffset:` is not available:

[code]

so there should be another method to trigger the screenshots

[2015-11-18 14:38] robertoferraz commented on #296
Scale solved it for me too

[2015-11-19 01:45] pieisgood commented on #297
This has been an issue for me as well. The thing is that snapshot will still pull screenshots from the UITests after the next build. Anyway, the whole unit testing system seems a bit flaky, things will fail when they succeed on screen, loading the app sometimes won't work. A bit frustrating.

[2015-11-19 04:13] egistli commented on #313
@mihahribar Ah, you're right. Setting `AppleLanguages` to `("zh_TW")` does change the simulator language correctly.

But still, we need to clarify the format of `languages` and it's difference to locale.

[2015-11-19 07:16] sarthak03 commented on #274
@KrauseFx Any workaround to take screenshots without compiling the app again for each device?

[2015-11-19 09:26] mihahribar commented on #313
Agreed.

[2015-11-19 11:13] swizzlr commented on #215
This is what I ended up doing. No changes to test target necessary: http://codehardstare.swizzlr.co/post/132335036254/a-new-approach-to-automating-screenshots

[2015-11-19 12:13] ConfusedVorlon commented on #215
I haven't got anywhere with this - but thought I'd post something to see if anyone can take it further.

XCUIElement has a private method

    _dispatchEvent:block: of encoding 'v32@0:8@16@?24'

I have tried sending events to that, and it seems to require that events

1) implement copyWithZone:
2) implement utf8String

Which my events don't. Perhaps someone else can make something useful of this.

[2015-11-19 17:05] osrufung opened #317 "[old issue] Instruments wants permission to analyze other processes"
this problem is not new -> https://github.com/fastlane/snapshot/issues/182 It seems that the problem was solved, but ... since Xcode 7.1.1 (OS X Yosemite) it happens every day. Snapshot works normally after the Instruments GUI dialog has been presented for a few hours, but (it seems) that every day Intruments needs to present the permissions dialog. :(

Any idea how to solve this? I'm using snapsh

[2015-11-19 18:32] osrufung commented on #317
hmmmm... I need to check this in a few days, but I think the solution is setup the "server machine" in "developer mode" with the  'DevToolsSecurity --enable'  command. Look the documentation:

[code]

It makes sense... doesn't?

[2015-11-20 00:22] GabrielCartier opened #318 "Snapshot stuck on any command"
Just installed and did some tests with Snapshot but ran into some problems. Basically, Snapshot seems stuck however I tried to run it. It simply freezes and does nothing. Whenever I interrupt it I get:
[code]
I basically get this running whatever command from Snapshot (snapshot init, snapshot -v, snapshot, etc.).

I have ran xcode-select --install (both as normal and root privileges) and I always

[2015-11-20 03:45] GabrielCartier commented on #318
I got a bit further and was able to find that the errors might be with xcodebuild as I can't compile the app with xcodebuild for some odd reasons. Still, it feels a bit weird to have snapshot freeze and not give any output or stop on an error of compilation.

Will comment further if I find the solution to this.

[2015-11-20 09:18] CBeloch commented on #276
I created a Subclass of UITabBarController with the snippet provided by @webdevotion .
Fixes the issue of taking a snapshot of the wrong screen.
But I have another issue: the Snapshot doesn't contain the TabBar!

[Created by Snapshot](https://cloud.githubusercontent.com/assets/171119/11296046/e74b1b30-8f6f-11e5-8e1c-9df41c255622.png)
[Created with ⌘S in the Simulator](https://cloud.githubuserconte

[2015-11-20 10:22] CBeloch opened #319 "No TabBar in snapshots"
After Issue #276 I have another issue: the Snapshot doesn't contain the TabBar!

[Created by Snapshot](https://cloud.githubusercontent.com/assets/171119/11296046/e74b1b30-8f6f-11e5-8e1c-9df41c255622.png)
[Created with ⌘S in the Simulator](https://cloud.githubusercontent.com/assets/171119/11296049/ec0716f6-8f6f-11e5-86cf-96516efbe203.png)

Don't mind the different resolution, looks like the latest

[2015-11-20 15:01] kubbing commented on #319
try running simulator at 100% scale, that helped me

[2015-11-20 15:14] bunuelcubosoto opened #320 "Wrong simulator UDID"
Hi,

I get an error when I run `sudo snapshot --verbose` command line.

[code]

I've found an issue in these lines:

[code]

The simulator with the UDID **3793E05C-CBDA-4164-B9F3-9DA3E3150292** doesn't exist. Here are simulators available on my Mac.

[code]

Is there a cache or something else I can clear?

Thanks

[2015-11-20 17:59] GabrielCartier commented on #318
Ok, I was able to "fix" the problem by going into the Snapshot code. As the line that hangs seems to be ```Open3.popen3```, I started digging around a bit. Seemed a bit weird to me on first sight, I replace the popen3 with:
[code]

Strangely enough, everything goes into the out_err and output only has ```pid 14122 exit 0```. I simply modified the match to be done on the out_err. All of this to say

[2015-11-20 18:33] sonxurxo commented on #291
@ogezue I'm stuck there, and the video didn't help. How did you get it working?

[2015-11-20 18:49] sonxurxo commented on #291
Ok, you have to tell Xcode to create the bridging header file. I had to remove the file from the project and add it again for Xcode to ask me to create the file. Then it worked.

[2015-11-21 05:37] Ged2323 commented on #296
Awesome scale did it for me too!

[2015-11-21 07:49] Ged2323 opened #321 "Localised string"
I had some trouble with a localised string and had to make it not localised so that it would work.  It would cause snapshot to fail when doing the chinese language.

[2015-11-21 19:29] ZTGravity commented on #320
Don't run the command with "sudo"!
The command with "sudo" will scan "/private/var/root/...".
"xcrun simctl list devices" without "sudo" will scan "~/Library/Developer/CoreSimulator/Devices"

[2015-11-22 06:48] lyahdav opened #322 "Calling snapshot performs actions on app"
When I call the `snapshot` function in my UI Tests, it causes the app to perform certain actions. It causes buttons to be tapped in 2 situations, and in another case it causes a table view cell that's swiped open to close (but I want it open for the screenshot).

[2015-11-23 08:34] bunuelcubosoto commented on #320
OK thanks!

[2015-11-23 08:34] #320 closed

[2015-11-23 09:42] CBeloch commented on #319
That works, but it's not practical.
Some of the Simulators still launch resized and are missing the TabBar.
For an automated process, this doesn't work and should be fixed!

[2015-11-23 09:54] CBeloch commented on #322
Duplicate of #276
There is a workaround included

[2015-11-23 15:26] peacemoon opened #323 "Export result as junit"
Is it possible to export the results to a junit xml file? I know that you can do it with 'scan' tool but since snapshot actually runs the UI Tests, I don't want to run the UI Tests 2 times using different tools in my CI setup

[2015-11-23 16:25] GabrielCartier commented on #234
I have this problem as well. Adding a random tap before didn't fix it for me.

[2015-11-23 16:39] peacemoon commented on #319
I don't think you can fix this in snapshot code because snapshot just copies screenshot created by UI Testing process to the corresponding folder. This should be fixed by Apple.

[2015-11-23 21:56] talkaboutdesign opened #324 "Background missing for iPhone 4s and iPhone 5"
See the difference. Any clue what this could be?

![iphone4s-04imagepreview](https://cloud.githubusercontent.com/assets/2926534/11351174/1b27082a-9203-11e5-939d-02fece2f3223.png)
![iphone6-04imagepreview](https://cloud.githubusercontent.com/assets/2926534/11351182/21b3761a-9203-11e5-9c56-cb317d149714.png)

[2015-11-23 23:10] GabrielCartier commented on #318
Somehow after reinstalling it with rvm it started working. I'll close for now.

[2015-11-23 23:10] #318 closed

[2015-11-24 06:40] ciryon commented on #234
Same as @GabrielCartier here. Works after putting the snapshot function call in a test method (I first had it in the setUp function)

[2015-11-24 14:46] vCrespoP commented on #274
+1 To this please

[2015-11-24 15:40] vCrespoP opened #325 "Just working the first time. Then fails"
Hello,

I have managed to configure my app for handling snapshot with the latests UI tests and I'm facing this problem. **The first time, everything goes smooth and I got the screenshots, but when it tries to build again and run them again, Error.**

This is the output:

SnapshotTests

✗ testSnapshot, UI Testing Failure - App accessibility isn't loaded

AppUITests.SnapshotTests

testSnapshot, UI T

[2015-11-24 15:41] vCrespoP commented on #325
More clues, guys.

If I do the same with just one language and all devices: Working OK.
If I do just one device with language "de-DE": Working OK.

[2015-11-24 15:44] vCrespoP opened #326 "Simulator not starting "real size""
Since this changed, when taking a screenshot from the simulator i gets resized according to the current scale. So, if is not full-size, the image gets cut in Snapshot.

Please, make the simulator start in full-size scale.

This is completely related:
https://github.com/fastlane/snapshot/issues/296

Is there not any other way that resetting all simulators?

[2015-11-24 18:47] CBeloch commented on #319
Ok, I think I found a solution for this.

[code]
includes the following values:

    "SimulatorWindowLastScale-com.apple.CoreSimulator.SimDeviceType.Apple-TV-1080p" = "0.5";
    "SimulatorWindowLastScale-com.apple.CoreSimulator.SimDeviceType.Resizable-iPad" = "0.5";
    "SimulatorWindowLastScale-com.apple.CoreSimulator.SimDeviceType.iPad-2" = 1;
    "SimulatorWindowLastScale-com.apple.CoreSimulato

[2015-11-24 19:03] CBeloch commented on #326
Also related: #319
I have added a hotfix

[2015-11-24 19:27] KrauseFx commented on #249
@ConfusedVorlon That's a great find, I can implement this into snapshot :rocket:

[2015-11-25 00:36] 0xced commented on #249
Looks good to me. I’d iterate over the _== Device Types ==_ section of `xcrun simctl list` to make sure all simulators’ scale are properly updated.

[2015-11-25 01:20] KrauseFx commented on #249
@0xced doing that right now :rocket:

[2015-11-25 02:30] KrauseFx commented on #276
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

[2015-11-25 02:30] #276 closed

[2015-11-25 02:30] KrauseFx commented on #215
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

[2015-11-25 02:30] #215 closed

[2015-11-25 02:30] KrauseFx commented on #249
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

[2015-11-25 02:30] #249 closed

[2015-11-25 02:30] KrauseFx commented on #326
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

[2015-11-25 02:30] #326 closed

[2015-11-25 02:31] KrauseFx commented on #296
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

[2015-11-25 02:31] #296 closed

[2015-11-25 02:32] KrauseFx commented on #324
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

[2015-11-25 02:32] #324 closed

[2015-11-25 02:32] KrauseFx commented on #319
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

[2015-11-25 02:32] #319 closed

[2015-11-25 02:33] KrauseFx commented on #322
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

[2015-11-25 02:33] #322 closed

[2015-11-25 02:34] KrauseFx commented on #323
Mh, that should be possible to add, though I don't have the time to focus on it now. Feel free to submit a pull request. Basically you'd need a new option in `options.rb` enabling the junit report (setting the output path for it) and then pass the option the `xcpretty` command :+1:

[2015-11-25 02:34] KrauseFx commented on #315
Mh, I haven't tried `snapshot` on an Apple TV.

I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0

I'll try it now :1234:

[2015-11-25 02:35] KrauseFx commented on #312
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

In particular, please disable `waitForLoadingIndicator:` and set it to `NO`

[2015-11-25 02:35] #312 closed

[2015-11-25 02:35] KrauseFx commented on #309
I just pushed a new release https://github.com/fastlane/snapshot/releases/tag/1.2.0
Please update to the latest version, make sure to read the release notes and let me know if it works for you :+1:

[2015-11-25 02:35] #309 closed

[2015-11-25 02:37] KrauseFx commented on #299
You should fake this data somehow, e.g. by accessing the language and showing different content. I wouldn't connect to a different VPN depending on the language of the screenshots.

[2015-11-25 06:32] mctavishsolutions opened #329 "Missing Comma in SnapfileTemplate"
**Issue:** In the [SnapfileTemplate](https://github.com/fastlane/snapshot/blob/master/lib/assets/SnapfileTemplate), the `Devices` array is missing a comma between "iPad Retina" and "iPad Pro".

[2015-11-25 07:40] KrauseFx commented on #329
Oh, thanks, that's fixed now :+1:

[2015-11-25 07:40] #329 closed

[2015-11-25 09:37] martynovskij commented on #315
not working on Apple TV :(
[code]

[2015-11-25 09:41] vCrespoP commented on #325
With the latest update (1.2.1) it's not working anymore...not even the first time. Everything seems to be working, but when the time for generating the actual files comes:

SnapshotTests
✓ testSnapshot (40.352 seconds)

	 Executed 1 test, with 0 failures (0 unexpected) in 40.352 (40.355) seconds

[10:39:36]: Collecting screenshots...
[10:39:36]: Found 0 screenshots...
[10:39:36]: Looks like the nu

[2015-11-25 10:48] buscarini opened #330 "Test failed. Exit status: 65"
I upgraded a project from the old UIAutomation method to the new snapshot, and it's not working for me. I get an exit status 65, but there's no visible error above. I am getting a lot of warnings like this:
    Could not resolve external type c:objc(cs)NSString
Which seems to be because of the latest Xcode, and the fact that I have some libraries with precompiled headers, module enabled and such t

[2015-11-25 11:26] peacemoon commented on #323
Seems simple to add. But I don't know anything about ruby, it's quite hard for me to change the source code. It would be very helpful if anyone can jump in and add this.

[2015-11-25 12:14] ConfusedVorlon commented on #311
slightly hackish, but you could use a shell script to 'rotate' the snapfile you need into place

	lane complex: do
	   sh cp "./snapfiles/snapfile1 snapfile"
	   snapshot
	   sh cp "./snapfiles/snapfile2 snapfile"
	   snapshot
           <etc>
	end

[2015-11-25 15:47] vCrespoP commented on #330
Related?

https://github.com/fastlane/snapshot/issues/325

[2015-11-25 16:20] jonathanrauch commented on #321
I recently went through a similar issue. Here how I solved it:
* In your UI Tests target -> Build Phases -> Copy Bundle Resources, add the localization files needed (e.g. Localizable.strings).
* Add a function similar to the following:
[code]
* Then in your code you can use `app.buttons[localizedString("localized.string.key")]`

[2015-11-25 22:43] SemenovAlexander commented on #311
@ConfusedVorlon thanks for that hint, I've already solved the issue like this, using symlink instead of copy.
But, this solution looks not very nice.

Actually, I've found, snapshot  now supports passing list of devices and languages as commandline options and as fastlane action paramerets as well.

This solves my issue without hacking around snapfiles.

Thanks

[2015-11-25 22:43] #311 closed

[2015-11-26 02:38] ahknight commented on #274
I went in to runner.rb in launch() and changed the remove statement to:

          FileUtils.rm_rf(screenshots_path + "/Logs")

That seemed to let it re-use the derived data folder while still getting the screenshots correct.  It's probably good enough to trash the derived data when the script starts.  It'd be better if there were an option to not do that so that we could have some control over it

[2015-11-26 08:24] vCrespoP commented on #274
Nice, it would be perfect to add a new parameter when running
--no-clean (Snapshot)
no_clean: true (Fastlane)
or something similar, and make that line of code depend on if it's present or not.

Nice catch @ahknight

[2015-11-26 09:54] CBeloch commented on #319
Thanks for the new release @KrauseFx and everyone who contributed!
Looks fine for me. Removed the hacks from my project

[2015-11-26 16:30] markusloffler commented on #287
Anybody knows if there is any chance to get this officially back into snapshot? That would be really great.

[2015-11-26 17:11] ConfusedVorlon commented on #287
yup - there is a pull request in progress:

https://github.com/fastlane/snapshot/pull/310

[2015-11-27 09:26] markusloffler commented on #287
Thanks for the link to the pull request. However, this one uses launch arguments, I'd need a solution with preprocessor macros, for two reasons.
- I want to do screenshots of today exentsions, they don't take launch arguments as far as I know
- I prefer not to have screenshot specific code in my app store release

[2015-11-27 12:49] Myrronth opened #333 "Test location defined in scheme settings does not work when running snapshot"
I have a location-based app that has to show map(s) on its app store screenshots using a custom "current" location. To achieve this I created a custom scheme "Snapshot" and set a gpx file as test location for the tests that snapshot will use to create its screenshots.

When running the test with XCode via Product > Test the "current" lcoation is set to the location provided by the gpx file and all

[2015-11-27 13:51] ConfusedVorlon commented on #287
my mistake - I was confusing environment variables and launch arguments. I think @KrauseFx is going to add a default environment variable which can then be used via the preprocessor definition in my earlier comment.

[2015-11-27 18:18] SemenovAlexander commented on #119
@KrauseFx this stuff seems to be thrown away with 1.0 version of snapshot. But grouping screenshots in report by orientation is really must have feature.
Any plans to reimplemnt this?

[2015-11-28 04:32] KrauseFx commented on #119
@SemenovAlexander To be honest, I don't think that's a must have feature. I'm more than happy to merge a pull request re-adding this functionality :+1:

[2015-11-28 07:04] jiggajoe opened #334 "Failed to perform AX action for monitoring the animations"
I'm getting the below error message when I run snapshot. The testExample runs fine within Xcode so I'm a bit confused what I could be doing wrong.
✗ testExample, UI Testing Failure - Failed to perform AX action for monitoring the animations of Target Application 0x7fc9b1751690, error: Error -25204 performing AXAction 2043

[2015-11-28 07:47] SemenovAlexander commented on #119
@KrauseFx here you go #335

[2015-11-28 18:27] jiggajoe commented on #334
Figured it out. Had some issues within my viewWillAppear where I was using NSUserDefaults to retrieve data in an array that was nil. I narrowed the issue down by first commenting out my entire viewWillAppear; once I did that the test was passing.

[2015-11-28 18:27] #334 closed

[2015-11-29 02:24] zkirill commented on #321
@jonathanrauch Many thanks! :+1:

[2015-11-30 08:15] zkirill commented on #313
@egistli @mihahribar Thank you! :+1:

`-AppleLanguages` accepts `zh-Hans_CN` and `zh-Hant_TW` and correctly sets the languages for me.

As a side note I need to pass `ja_JP` to both `-AppleLanguages` and `-AppleLocale` to get it to work instead of `ja`.

[2015-11-30 16:41] hiltonc commented on #242
This would be helpful to me as well.

[2015-11-30 23:48] KrauseFx commented on #274
I'm doing some final tests right now. Thanks @ahknight for letting me know :+1:

[2015-11-30 23:58] KrauseFx commented on #274
Thanks @ahknight for providing the solution. It's so simple: https://github.com/fastlane/snapshot/commit/70dec7f1407eb18b4f5512f526535649a84ab211

[2015-11-30 23:58] #274 closed

[2015-11-30 23:58] KrauseFx commented on #274
I'm pushing a new release right now, it should be available in about 5 minutes.

[2015-12-01 00:09] zkirill commented on #274
@KrauseFx @ahknight Thank you so much!!! :smile:

[2015-12-01 00:18] KrauseFx commented on #278
Thanks for the feedback. I don't like the idea of using one screenshot across different device sizes, you can read more about it here: https://krausefx.com/blog/creating-perfect-app-store-screenshots-of-your-ios-app :+1:

[2015-12-01 00:18] #278 closed

[2015-12-01 02:47] KrauseFx commented on #274
@zkirill Please let me know how it works for you :+1:

[2015-12-01 08:07] zkirill commented on #274
@KrauseFx Running 1.2.2 and snapshotting is now lighting fast. :+1:

[2015-12-01 11:51] facundomedica opened #337 "iPhoneSimulator: Sim iPhone 4s is booted but getenv returned nil for test connection socket path. + Exit status 65"
I'm getting these couple of errors when running UITests. Because of this I get Tests Failed too.
Any clues about this? I've been googling and looking at other issues but I didn't find much.
I've already reset every simulator.
Regards

[2015-12-01 12:35] facundomedica commented on #337
UPDATE: This happens when taking snapshots for more than one language.
I tried making snapshots for just "en-US" and it worked just fine. Then I tried "es-ES" and worked fine too. But whenever I try to make snapshots for both it fails.

[2015-12-01 13:15] bojan commented on #302
Wherever you see the `endRefreshing` method, like in this example:

    refreshControl.endRefreshing()

wrap it like this:

    if self.refreshControl.refreshing {
        self.refreshControl.endRefreshing()
    }

It should do the trick, no need to remove any UI elements.

[2015-12-01 14:29] facundomedica commented on #337
UPDATE: This happens with just one language too. It has a quite random behaviour

[2015-12-01 15:24] facundomedica commented on #337
More info:

▸ Build Succeeded
2015-12-01 12:17:16.043 xcodebuild[10144:295999] [MT] IDETestOperationsObserverDebug: (72C5A2BA-457E-4C3F-AF72-B51C238BA9F6) Beginning test session 72C5A2BA-457E-4C3F-AF72-B51C238BA9F6 with Xcode 7B1005 on target <DVTiPhoneSimulator: 0x7faf766ba970> {
SimDevice: SimDevice : iPhone 6 Plus (5B5C4FCC-BBA1-4473-BA52-B919ABCA0FEC) : state={ Booted } deviceType={ SimDeviceT

[2015-12-01 15:43] ogezue commented on #302
Added this but error still occurs. Are there any other blocking elements?

[2015-12-02 03:58] KrauseFx commented on #274
@zkirill :rocket:

[2015-12-02 04:11] timbueno commented on #241
+1 on the custom_build_args.

For me this could be even be solved with a default FASTLANE_SNAPSHOT value being set by snapshot itself.

[2015-12-02 07:13] ogezue opened #338 "SnapshotHelper.swift:14:23: 'XCUIApplication' is only available on iOS 9.0 or newer"
My Project is supporting iOS9 or newer and I haven't found an definition of iOS8 where I come from in my setup. Do you have an idea why the build process thinks that it would not build for iOS9?

[2015-12-02 07:17] #338 closed

[2015-12-02 08:56] ConfusedVorlon commented on #276
out of interest, I just got this report from apple bug reporting:

[code]

[2015-12-02 10:35] bojan commented on #302
In our case it was the only point that blocked the UI tests.

This is a clear example of the deteriorating quality of Apple's software. We, the developers, should not be wasting time on tasks like these. :-1:

[2015-12-02 14:27] talkaboutdesign opened #339 "Image Quality of Screenshots"
When my screenshots get uploaded to the app store the quality is significantly lower then that of screenshots I take and upload manually. What could be possibly causing this?

[2015-12-02 18:49] kylejm commented on #297
I don't know what version of Snapshot you are running, but I just update to version 1.2.2 which fixed the issue :tada:

[2015-12-02 19:15] KrauseFx commented on #297
Thanks @kylejm. @foozmeat could you confirm this resolves the issue for you?

[2015-12-02 19:29] Philluxx commented on #302
I ran into the same issue. After resetting all simulator the error did not occur again. So I tried a lot of things and recognized that it worked when the app was launched the first time in the simulator. It is not deleted automatically after taking screenshots. When I deleted it manually and ran snapshot again, everything was fine again.

Is there an option to remove the app after running snapshot

[2015-12-02 19:33] Philluxx commented on #325
Can you try to deinstalll your app manually from the simulator and try it again?

See https://github.com/fastlane/snapshot/issues/302#issuecomment-161407019

[2015-12-02 19:36] Philluxx commented on #242
This is why I ran into an error "UI Testing Failure - App failed to quiesce within 30.0s" which was only thrown when I ran snapshot again (see https://github.com/fastlane/snapshot/issues/302).

I would appreciate if there would be an option to uninstall the app after taking screenshots.

[2015-12-03 08:03] ogezue opened #340 "Feature Request: Integrate Simulator Status Magic"
I often need to reinstall SSM on each simulator after it has been reseted, due to updates or XCode bugs.
Wouldn't it be great if this would be a part of the fastlane chain?

[2015-12-03 14:57] kkestell commented on #337
I'm seeing this too. Simulator versions are all 9.1. Xcode version is 7.1.1. I'm also trying to generate screenshots for multiple languages and multiple devices. Like @facundomedica, the failures seem random. Sometimes I'll be able to generate screenshots for all 5 languages and 5 of the 6 devices before it bombs out, other times it fails much earlier. Once or twice I've gotten it to run to comple

[2015-12-03 15:21] jochen-st opened #341 "unable to use snapshot --devices command line parameter"
I want to override the devices list in Snapfile. However all I am getting is
`Devices must be an array` error message.

Tried with
* snapshot --devices 'iPhone 6 Plus'
* snapshot --devices "['iPhone 6 Plus']"
* snapshot --devices "(['iPhone 6 Plus'])"
* snapshot --devices "(['iPhone 6 Plus', ])"
* snapshot --devices 'iPhone 6 Plus'

but no success. Running latest snapshot gem with Mac OS Yosemite.

[2015-12-03 17:58] kkestell commented on #341
`snapshot --languages` crashes too with a `undefined method `each' for true:TrueClass (NoMethodError)`

[2015-12-03 17:59] facundomedica commented on #337
@kkestell I'm "glad" to hear that someone else has the same problem as I do.
Testing and searching a lot on google, I found someone that said that if you change this code:
[code]
from the `super.setUp()` function of your UITests to the actual test function, might work.
At first it didn't work with two languages, then I tried with a single language and seems to work just fine (I made some tests, bu

[2015-12-03 18:08] kkestell commented on #337
@facundomedica: Unfortunately, I'm already doing that.

[code]

I had the idea to maybe remove all of my languages from my `Snapfile` and instead invoke snapshot multiple times, resetting the simulators between each run, e.g.

[code]

Unfortunately, the `--languages` and `--devices` command line options appear to be broken at the moment.

I'll keep this issue updated as I learn more.

[2015-12-03 22:13] facundomedica commented on #337
@kkestell I'll give it a go when I have time! Maybe it's the temporary fix we need

[2015-12-03 22:39] kkestell commented on #337
Cool. If that works for you, it might be further evidence that the main issue at play here is related to reusing the same simulator for multiple languages.

I'm actually hacking together a quick Ruby replacement with a couple nice-to-haves like logging and a progress bar and stuff. Ideally I'd just be adding this functionality to `snapshot` but I'd rather let @KrauseFx weigh in first. This still f

[2015-12-04 00:15] kkestell commented on #337
Here's a first approximation at some Ruby to replace that ugly shell script. Knock yourself out.

https://gist.github.com/kkestell/76f86b78dfc408a16ccb

[2015-12-04 02:45] Ashton-W commented on #333
If you run the UI tests via xcode-build does the same thing happen?
Running snapshot with verbose should print out the xcodebuild command ised

[2015-12-04 04:19] KrauseFx commented on #315
@victor the new release uses orientation change to generate screenshots
@martynovskij I have the feeling that's `deliver` and not `snapshot`, right?

[2015-12-04 08:29] martynovskij commented on #315
@KrauseFx no, it is snapshot (1.2.2)

[code]
my Snapfile contain:
[code]

Also, new release uses orientation change to generate screenshots. But on this platform, ```orientation``` property is not available:
[code]

P.S. Thanks for your work :smile:

[2015-12-04 13:59] Myrronth commented on #333
snapshot uses "xcrun xcodebuild -showBuildSettings -workspace './Grunzeug.xcworkspace' -scheme 'Snapshot'" to run the tests. I don't know if there is another way to run the tests manually from the command line? The specified scheme and workspace seems to be correct and the rest of the tests itself succeed.

I attached a screenshot of my scheme's test configuration if that helps in some way?

![scr

[2015-12-05 00:40] Ashton-W commented on #333
Try
`xcrun xcodebuild -workspace './Grunzeug.xcworkspace' -scheme 'Snapshot' test`

If you have time, could you create a small sample project that reproduces it?

[2015-12-06 00:05] KrauseFx commented on #337
I can reproduce this issue and work on a solution :+1:

[2015-12-06 00:07] KrauseFx commented on #337
On my first experiments it seems like killing the simulators inbetween runs seems to solve the issue.

[2015-12-06 00:20] #337 closed

[2015-12-06 00:21] KrauseFx commented on #337
`Have you tried turning it off and on again` ... fixed with https://github.com/fastlane/snapshot/commit/019d1e7379bb2055aba5693bc2bec4af189cbc78

[2015-12-06 00:21] KrauseFx commented on #337
Will push a new release soon :rocket:

[2015-12-07 14:56] jochen-st commented on #341
The language issue is basically the same problem. The error is different since the type of the language argument is not checked to be Array, but the array method `.each` is called on a string object.

[2015-12-07 14:56] #341 closed

[2015-12-07 15:56] kkestell commented on #341
Thank you @jochen-st!

[2015-12-07 18:41] facundomedica commented on #337
Works perfectly!!!
Thanks for the fix Felix!
PD: I love the snapshot results chart
[code]

[2015-12-07 18:43] KrauseFx commented on #337
Oh yeah, glad you like it @facundomedica :+1:

[2015-12-08 16:42] binhminh07 opened #345 "Error when update to new version and latest xcode"
Hello,
I try to run snapshot that run ok with older version ,but now with the new version of napshot and lastest xcode , the below error happenning:

it occur with all devices.

Please help me. Thanks !

[2015-12-08 18:16] ericertl opened #346 "SnapshotHelper.swift"
So, there's a new function in this file called setupSnapshot to replace the use of setLanguage
The documentation is telling to use in objective c
[code]
But this doesn't work with the current SnapshotHelper.swift file as it's missing this setupSnapshot function inside the definition of the class.
Also the updated SnapshotHelper.swift file does not include the fix for the waitForLoadingIndicatorToD

[2015-12-08 19:04] jaronson commented on #180
For future note, I was experiencing this issue and it turns out it was because I was running `snapshot` in a tmux session. Upon exiting this, everything worked as expected.

[2015-12-09 17:05] klevison commented on #345
+1

[2015-12-09 17:33] ericertl opened #347 "app_identifier prompt"
Could the prompt for app_identifier only show up if reinstall_app is enabled?

I always get the:
[code]
and my app_identifier changes on each run. I can add it dynamically, but it won't be used by snapshot as I don't use reinstall_app

I'm not familiar with ruby sintaxis, but could the options.rb be changed to something like this:
[code]

[2015-12-09 19:37] KrauseFx commented on #347
Ahhh, nice catch, will fix this now!

[2015-12-09 19:39] #347 closed

[2015-12-09 19:40] KrauseFx commented on #347
Please update and let me know if that fixes the problem :rocket:

[2015-12-09 19:54] KrauseFx commented on #346
Sorry I don't understand the problem. There is a `setupSnapshot`... or does this only work with swift?

[2015-12-09 20:08] ericertl commented on #346
the function outside the class declaration doesn't work in objective c, that's why I had to add it inside the class.

Here's my modified swift file to work with obj c

[code]

[2015-12-09 20:21] ericertl commented on #345
How old was that snapshot version?
Are you still using .js files?
https://github.com/fastlane/snapshot/blob/master/MigrationGuide.md

[2015-12-09 21:40] BasThomas commented on #340
+1
If this is possible, I would love to help out if needed.

[2015-12-09 21:44] vovkasm commented on #291
I got the same problem and after some games with Xcode targets,schemes and projects still not get auto-generated "<name>-Swift.h" file. Because of this I decide to reimplement SnapshotHelper in Objective C. There is result: https://gist.github.com/vovkasm/9620d9105d0869d1debb
Hope, that this code helps.

[2015-12-09 23:17] klevison opened #348 "Dynamic Target Application"
For any reasons I have 3 targets/scheme each one to load a different theme. So, when I run snapshot command it only take the snapshot of the target selected into Target Application (UITest Target).

![Target]
(http://s15.postimg.org/x7movwqsr/Screen_Shot_2015_12_09_at_9_12_09_PM_copy.png)

Is there a way to deal with it dynamically? I wanna run `snapshot` command and get the result of 3 themes/tar

[2015-12-10 06:13] ogezue commented on #340
Perhaps the SSM code could be added to the existing snapshothelper class?

[2015-12-10 10:46] Name-less commented on #234
Hello, I have the same issue

```[11:42:49]: no implicit conversion of nil into String```

even if a run the snapshot method in a test method ... any idea or news about this issue ?

[2015-12-10 13:40] binhminh07 commented on #345
Hi ericertl ,

Thanks for reply.

I deleted snapfile old folder and run [snapshot init] after updated newest version.
So .js file deleted.

[2015-12-10 13:56] ericertl commented on #345
And did you create a new UI Test target in your Xcode project (https://krausefx.com/blog/run-xcode-7-ui-tests-from-the-command-line)

[2015-12-10 15:03] binhminh07 commented on #345
oh , may be that it
I didn't check below :
Note: New snapshot with UI Tests in Xcode 7

thanks a lot. i will see that :+1:

[2015-12-10 15:03] #345 closed

[2015-12-10 16:32] frranck commented on #346
@ericertl thanks, I had the same problem.

[2015-12-10 17:35] valeIT commented on #340
Yeah this would be great

[2015-12-10 21:32] KrauseFx commented on #348
By default `snapshot` will print out a list of available schemes. I think it's only possible to do that for schemes.

[2015-12-10 21:38] KrauseFx commented on #346
Thanks for providing a solution, I updated it https://github.com/fastlane/snapshot/commit/e799aa1f94fa5edcf09388018e4b6a93fb579181 :rocket:

[2015-12-10 21:38] #346 closed

[2015-12-10 21:39] KrauseFx commented on #287
@ConfusedVorlon @markusloffler I'm more than happy to add this back to `snapshot`. Let me know if you know how to add this :+1:

[2015-12-10 21:42] KrauseFx commented on #287
@ConfusedVorlon Oh I see you already submitted a PR for this: https://github.com/fastlane/snapshot/pull/284/files Thanks :+1:

[2015-12-10 21:45] KrauseFx commented on #292
Sorry, due to the change to UI Tests it's not possible to skip building any more... If you find a way please let me know, but I'm pretty sure it's not possible.

[2015-12-10 21:45] #292 closed

[2015-12-10 21:45] KrauseFx commented on #298
I agree, that would be nice, but currently it's not planned.

[2015-12-10 21:52] KrauseFx commented on #325
Could you try using the latest versoin?

[2015-12-10 22:01] KrauseFx commented on #340
The `SnapshotHelper` runs in the context of the `UI Tests` which are not on the main thread. It's not possible for the UI Threads to access the status bar directly.

@ogezue Why do you have to reinstall each time? You can easily add SSM to your `Podfile` and have it installed automatically :rocket:

[2015-12-10 22:01] KrauseFx commented on #286
Could you try the latest `snapshot` version and let me know if that fixes your issue :+1:

[2015-12-10 22:02] KrauseFx commented on #282
Thanks for the feedback. Check out the latest version which adds a nice summary table in the end.

[2015-12-10 22:04] KrauseFx commented on #280
Please disable the `waitForLoadingIndicator` if you have any problems. In the mean-time I disabled this by default as it doesn't work very reliably.

[2015-12-10 22:04] KrauseFx commented on #269
Sorry for the late reply, this is fixed with the latest release :rocket:

[2015-12-10 22:04] #269 closed

[2015-12-10 22:04] KrauseFx commented on #270
Sorry it's not possible and not planned. I'll close this issue for now :+1:

[2015-12-10 22:04] #270 closed

[2015-12-10 22:05] KrauseFx commented on #242
This was now re-added:
[code]

[code]

[2015-12-10 22:05] #242 closed

[2015-12-10 22:06] KrauseFx commented on #234
Could you please try again with the latest release?

@Name-less Can you please share the complete output including the stack trace?

[2015-12-10 22:06] klevison commented on #348
My solution:

1) Create 3 UITest targets
<img width="222" alt="screen shot 2015-12-10 at 1 42 54 pm" src="https://cloud.githubusercontent.com/assets/583230/11729391/31104fc2-9f76-11e5-8776-9426e96be24c.png">

2) Set the test action foreach
<img width="829" alt="screen shot 2015-12-10 at 1 43 36 pm" src="https://cloud.githubusercontent.com/assets/583230/11729389/310c7dc0-9f76-11e5-818b-45be2434fe36

[2015-12-10 22:09] klevison commented on #348
With this solution I have the "ideal final result" but I'm looking for a way that avoid create a lot of targets and subclass..

[2015-12-10 22:32] iandundas commented on #269
Nice! Thanks 👌🏼

[2015-12-11 09:30] Name-less commented on #234
@KrauseFx, thanks for your answer, here is the complete outup and the stack trace (after having selected the scheme) :

[code]

[2015-12-11 10:33] vCrespoP commented on #325
Yes Mr @KrauseFx I will but I don't know when I'll be able, thanks all for your interest.
Have you encountered any similar behavior in anyone else?

Btw @Philluxx I already try that, even resetting the simulator wiping out everything, restarting Xcode and that kind of things

[2015-12-11 10:48] robertofrontado opened #350 "xcodebuild: error: missing value for key 'id' of option 'Destination'"
Hi Felix, im trying to execute snapshot but I can't make it works,

My Snapfile:
[code]

Im getting the following error when it tries to execute:
[code]

There is no **id** in destination, so it returns:
[code]

Hope you can help me

[2015-12-11 13:28] cyupa commented on #286
Sure Felix, I will give it a try and come back with an answer.

[2015-12-11 15:36] lilidotshi commented on #309
Hi Krause!

I actually suspect this is an UITest issue. I'm seeing a lot of people get it over in the developer forums, and I currently have a work around. In case other people are experiencing it, I've found that if you have a page with a lot of content, say a UITableController and many custom cells, UITest seems to hand trying to query all of them to take a snapshot, it hangs and crashes with "F

[2015-12-11 19:07] KrauseFx commented on #315
Ah sorry about that @martynovskij. Sorry, but right now it doesn't seem to be working on tvOS then

[2015-12-12 01:50] jodybrewster commented on #234
+1

[2015-12-12 18:37] ogezue commented on #340
Cool! Didn't knew that.

[2015-12-12 18:37] #340 closed

[2015-12-13 17:59] hiltonc commented on #242
Works great, thank you!

[2015-12-14 01:50] KrauseFx commented on #234
Looks like `snapshot` doesn't log the actual error, I added more debug information with https://github.com/fastlane/snapshot/commit/23a7388ee34d3b7812ede7d17beaf31516b571dd, which will be in the next release.

[2015-12-14 01:51] KrauseFx commented on #234
@Name-less @jodybrewster could you also share your UI Test file?

[2015-12-14 01:51] KrauseFx commented on #286
Any news on this? :smiley:

[2015-12-14 01:54] KrauseFx commented on #348
@klevison Thanks for sharing. Do you know if there is a way to only run a subset of tests using `xcodebuild`? If so, I can easily add this to `snapshot`.

[2015-12-14 01:54] KrauseFx commented on #276
Thanks @ConfusedVorlon :+1:

[2015-12-14 01:54] KrauseFx commented on #319
Yeah @CBeloch :+1:

[2015-12-14 01:54] KrauseFx commented on #294
How was this issue resolved?

[2015-12-14 01:55] KrauseFx commented on #273
This was now added, check out `snapshot --help` for more information :+1:

[2015-12-14 01:56] KrauseFx commented on #350
Do you have simulators enabled? Could you try deleting all your simulators using `snapshot reset_simulators` and try running it again?

[2015-12-14 02:10] cdemiris99 commented on #294
i think it may have had to do with the zoom percent issue, and making sure I was at 100% zoom solved it (don't quite remember though)

[2015-12-14 06:18] cyupa commented on #286
Hi Felix, didn't had the time to retest this but I'll give it a try today

Sent from my iPhone

[2015-12-14 07:19] kornale commented on #273
Thank you for your great support!

[2015-12-14 08:11] robertofrontado commented on #350
Yes, they're enabled

I tried that but I'm getting the same result, any other idea??

Thanks!

[2015-12-14 10:38] ast3150 commented on #234
I seem to be having the same problem, only the other way round:

[2015-12-14 11:00] robertofrontado commented on #350
I've checked the snapshot versions from 1.2.0 to 1.4.1 and this issue its happening in v1.2.1 and above, if I use 1.2.0 it works perfectly

[2015-12-14 12:22] JakubFlis commented on #350
I managed to resolve same issue by changing the ios_version in the Snapfile - just check if the one you entered is the actual one.

[2015-12-14 19:06] DominicFrei commented on #321
@jonathanrauch Nice one!

But have ever found a way to do the same with system button?
When I record UITests with Xcode it comes up with something like

[code]

if the language is set to English and

[code]

when set to German for example.

Does anyone see a solution other than localising system button names manually?

[2015-12-14 20:03] DominicFrei commented on #260
I saw your comment @earltedly and thought 'Might that be the problem? ... No, never!'. Then I looked back into my code and yes, I instantiated a new object, too.

Thanks for letting us know what finally fixed your problem. Saved me some time for sure! :+1:

[2015-12-14 20:36] pedro380085 commented on #226
https://github.com/fastlane/snapshot/issues/274

[2015-12-14 21:36] zkirill commented on #321
@DominicFrei How about we get a shared library going? I localize system button names at the moment and have a few to contribute. Any legal issues?

[2015-12-14 21:47] pedro380085 commented on #226
Hi @KrauseFx, just to say that the new version is faster than Automation. Congrats on this awesome work!

[2015-12-14 21:55] #247 closed

[2015-12-14 21:56] pedro380085 commented on #241
https://github.com/fastlane/snapshot/pull/284

[2015-12-14 21:59] pedro380085 commented on #330
The same happens here, but only for iPad Air.

[2015-12-15 19:11] ZevEisenberg opened #351 "Erase or delete and restore existing simulators"
I usually work with a subset of the normal simulators, or maybe with, e.g., several sizes of iPhones running iOS 8.4 and 9.2. I sometimes want to blow away the contents of my simulators, but I don't want to have to re-delete the ones I don't want, and recreate the nonstandard ones I do want. What I'd like is a way to programmatically choose *Simulator* → *Reset Content and Settings…* for each simu

[2015-12-15 20:02] DominicFrei commented on #321
@zkirill Whenever there is a possibility to contribute something for our community, I'm in! :)

What about https://github.com/DominicFrei/iOS_Localised_System_Buttons ?
Sorry I couldn't come up with a better name. :D

[2015-12-15 20:21] zkirill commented on #321
@DominicFrei Thank you kindly for setting this up! :+1: Let's hope that others will help.

/cc @egistli @mihahribar @earltedly @b-ray @jilouc Would this be helpful to you?

[2015-12-15 20:53] ZevEisenberg commented on #351
Thanks to @DimaVartanian, I found out that you can just use `xcrun simctl erase all`. You'll probably want to quit the simulator first, so the `osascript` above may be useful, but this probably doesn't need to be in snapshot. Feel free to reopen if you think otherwise.

[2015-12-15 20:53] #351 closed

[2015-12-15 21:41] wootwoot1234 opened #352 "Snapshot with React Native?"
Has anyone used snapshot with react native?

When I try to record my clicks in the UI Test I get code that looks like this:

      app/*@START_MENU_TOKEN@*/.otherElements["    \Ue00e Getting Started \Ue00c   \Ue00e Unlimited Foods \Ue00c   \Ue00e Limited Foods \Ue00c "].otherElements["  \Ue00e Getting Started \Ue00c"]/*[[".otherElements[\"       \\Ue00e   \\Ue004   \\Ue00d   \\Ue006     Info

[2015-12-15 23:06] hebertialmeida commented on #348
@KrauseFx I know that `xctool` can do this https://github.com/facebook/xctool#testing

Also, there is a Open Radar on this http://www.openradar.me/15750338

[2015-12-16 06:39] KrauseFx commented on #352
This seems more like an Xcode / UI Testing issues and is not caused by `snapshot` itself.

[2015-12-16 06:40] KrauseFx commented on #348
@hebertialmeida I might be wrong, but I think `xctool` doesn't use `xcodebuild` to run tests.

[2015-12-16 06:49] wootwoot1234 commented on #352
@KrauseFx thanks for the response. It's definitely not a snapshot issue.  I was hoping someone have encountered this issue and already found a solution.

[2015-12-16 09:04] osrufung commented on #297
Same problem **with 1.4.1** version
[code]
This happens on a empty *./screenshots* folder, and... yes!, a *headless* configuration. 😔

[2015-12-16 10:03] Name-less commented on #234
@KrauseFx here is my UI Test file :
[code]

[2015-12-16 11:26] robertofrontado commented on #350
@JakubFlis Thanks!

I removed the ios_version from the Snapfile and it works like a charm

[2015-12-16 15:17] SebastianBoldt commented on #325
Wiping out everything fixed it for me.

[2015-12-17 07:57] kerrmarin commented on #313
:+1: #264 has introduced a bug for (at least) Chinese.

[2015-12-17 10:48] dturing commented on #337
hey, i'm still (or again?) having this issue with snapshot 1.4.2, xcode 7.2, iOS 9.2.
Language switch seems predictable if, in addition to the "xcrun simctl shutdown booted", i add the (unneccesarily brute-force) "pkill Simulator" to runner.rb.

Thanks for looking into this again, and of course for snapshot generally!

[2015-12-17 10:55] SebastianBoldt commented on #248
+1

[2015-12-17 13:24] SebastianBoldt commented on #330
Same error over here. Seems to be random.

[2015-12-17 16:50] valeIT opened #353 "Reset Simulators + Add iPad Pro"
I'm resetting all simulators before running snapshot each time, because Xcode always breaks something.
Doing so doesn't add the iPad Pro.
[code]

Can i add the iPad Pro from the FastFile or manually from a shell script or something?

[2015-12-17 21:31] KrauseFx commented on #353
So it's a bug in `snapshot reset_simulator`, right?

[2015-12-17 21:32] KrauseFx commented on #352
:+1:

[2015-12-17 21:32] #352 closed

[2015-12-17 21:33] KrauseFx commented on #350
Yeah :+1:

[2015-12-17 21:33] KrauseFx commented on #350
On the other hand, this should probably be something that's automatically detected by `snapshot`

[2015-12-17 21:34] KrauseFx commented on #248
Please disable loading indicator waiting and it will work on the iPad.

[2015-12-18 00:15] KrauseFx commented on #226
Oh yeah, thanks :+1:

[2015-12-18 00:15] #226 closed

[2015-12-18 00:41] jwilson85 opened #355 "Exit status: 70 Caught error... 70"
Too many errors... no more retries...

+---------------+---------+
|    snapshot results     |
+---------------+---------+
| Device        | en-US   |
+---------------+---------+
| iPhone 6      |  ❌      |
| iPhone 6 Plus |  ❌      |
| iPhone 5      |  ❌      |
| iPhone 4s     |  ❌      |
+---------------+---------+

I am not sure where to go from here
I get
error: The scheme 'ACCUITests' is not

[2015-12-18 00:54] #355 closed

[2015-12-18 00:55] jwilson85 commented on #355
This was was due to trying to run the UITest Scheme Instead of running the target.

[2015-12-18 06:27] mrshih commented on #234
Below code works for me:
[code]
The ``app`` you use to navigation, tap etc.. need through ``[Snapshot setupSnapshot:app];``

If do that, ``Snapshot`` method will work.

Otherwise will show error like ``Looks like the number of screenshots (4) doesn't match the number of names (0)``

[2015-12-18 07:53] jinsumv opened #356 "Snapshots not created"
Thanks for creating the snapshot tool. I'm trying to take some screenshots using the application.I followed the instructions in the Github page. In my Swift UI test case, I'm invoking the snapShot() function. However, the snapshot tool does not create any snapshots.

I read through the "how it works" section and I looked at /tmp/snapshot_derived and I cannot see any snapshots created by Xcode.

 I

[2015-12-18 08:42] jochen-st commented on #341
see also #354 which uses fastlane/fastlane_core#52

[2015-12-18 11:35] ashukhobragade opened #357 "(RuntimeError) How to get rid of this?"
/Library/Ruby/Gems/2.0.0/gems/snapshot-1.4.2/lib/snapshot/runner.rb:49:in `work': Tests failed - check out the log above (RuntimeError)
	from /Library/Ruby/Gems/2.0.0/gems/snapshot-1.4.2/bin/snapshot:37:in `block (2 levels) in run'
	from /Library/Ruby/Gems/2.0.0/gems/commander-4.3.5/lib/commander/command.rb:178:in `call'
	from /Library/Ruby/Gems/2.0.0/gems/commander-4.3.5/lib/commander/command.rb:

[2015-12-18 15:32] valeIT commented on #353
Yes, it would appear so.

[2015-12-18 19:21] ohwutup commented on #234
Hey everyone! I have experienced this issue myself and while I don't remember exactly how I fixed it off the top of my head and will definitely go in and investigate a little further, I know that one step I did take that I think got it at least _closer_ to working, was to make sure to call the `snapshot` function inside of an actual test and I did happen to be calling it after an initial `tap()` w

[2015-12-18 21:53] Jules2010 commented on #347
I've tried several variations for my application identifier but I always get prompted, then it fails no matter what I provide.

I have the latest version.

Also I've tried adding this to my snapfile but that doesn't work with what I expect either.

[2015-12-18 22:15] Jules2010 opened #358 "Compiler error build commands failed, but fine in Xcode"
I keep getting errors, when running snapshot.
Xcode doesn't show this error when running normally, or when running my UI test.
It seems to be looking for a cocoapod, which it can't find.

I've project is for iPhone and iPad.

[22:08:46]: > ▸ Compiling ScorePopupLoseVC.m
[22:08:46]: > 'MBProgressHUD/MBProgressHUD.h' file not found
[22:08:46]: > ** TEST FAILED **
[22:08:46]: > The following build co

[2015-12-18 22:19] aavina commented on #180
@jaronson This was my issue. I ran it in a regular, non-tmux console session and it worked fine. Thanks!

[2015-12-18 22:39] KrauseFx commented on #347
@Jules2010 please share your output and your `Snapfile`

[2015-12-18 22:49] KrauseFx commented on #355
:+1:

[2015-12-18 22:49] KrauseFx commented on #357
This basically means, that your UI Tests have failed and didn't succeed.

[2015-12-18 22:49] KrauseFx commented on #357
That's why you get an error

[2015-12-19 07:56] karlvr commented on #313
I am successfully running snapshot with `ja` for `-AppleLanguages` and `ja_JP` for `-AppleLocale`.

I made the following change in `SnapshotHelper.swift`:

[code]

And then I specify the languages with `_` e.g. `ja_JP` and `zh-Hans-CN`.

[2015-12-19 08:09] Jules2010 commented on #347
I've rebooted and got a whole load of new warnings in dark yellow about the tmp folder.

You'll notice I'm using the application identifier which is specified next to touching, when I didn't use the rebuild command.

I'm wondering if this code be related to me using a swift ui test in a objective c project, but as I say this does run in xcode.

I have another issue which is shown in the log file.

[2015-12-19 08:35] Jules2010 commented on #347
Ahhh nevermind, I had the wrong scheme name :)

Thanks anyways.

[2015-12-19 08:35] Jules2010 commented on #358
Nevermind I had the wrong scheme name :)

[2015-12-19 08:35] #358 closed

[2015-12-19 17:39] simonmaddox commented on #339
I've found this happens when you zoom the simulator to a smaller size. Leave it at full size, and the screenshot quality is much better.

[2015-12-20 04:33] KrauseFx commented on #339
The latest version of `snapshot` should automatically zoom the simulator to a 100%. Is that not the case for you?

[2015-12-20 05:09] KrauseFx commented on #350
@ohwutup Basically `snapshot` should detect when the user specifies a specific `ios_version` (e.g. 9.0) which is not available, since Xcode already is on 9.1

[2015-12-20 19:17] ilteris opened #360 "No such file or directory - screenshots/screenshots.html"
Hello,

Great set of tools! Thanks so much for building this for the community. I am using snapshot. I managed to make it work however I haven't managed it to generate screenshots.  My test class and results are below.

https://gist.github.com/ilteris/e92a48e154280f23a64b

        [14:05:49]: > ▸ Test Succeeded
        [14:05:49]: > All tests
        [14:05:49]: > Test Suite DevUITests2.xctest sta

[2015-12-21 00:13] KrauseFx commented on #360
This this start happening recently?

[2015-12-21 07:10] ashukhobragade commented on #357
Could not write domain /Users/ashishk/Library/Preferences/

How could I make it write?

[2015-12-21 07:48] jinsumv commented on #356
For what it's worth, snapshot is running xcodebuild as:

xcodebuild -workspace './MyApp_iOS.xcworkspace' -scheme 'iPhoneAutomation' -derivedDataPath '/tmp/snapshot_derived/' -destination 'platform=iOS Simulator,id=07E84B67-0005-4BB9-B39F-2114529ACB55,OS=9.1' build test | tee '/Users/jinsumv/Library/Logs/snapshot/Video-iPhoneAutomation.log'

The compilation succeeded and artifacts like the compiled

[2015-12-21 08:37] RobertBiehl commented on #325
For me the issue was solved by preventing ```[[UIApplication sharedApplication] registerForRemoteNotifications]```happening in the simulator. The prompt stuck around unhandled and somehow prevented the next run from happening.

[2015-12-21 10:47] ashukhobragade opened #362 "How do I can make it write? I am always getting this error every time I run the snapshot"
Could not write domain /Users/ashishk/Library/Preferences/com.apple.iphonesimulator.plist; exiting

[2015-12-21 10:50] DominicFrei commented on #330
Same here. Looks totally random at the moment.
Might be a UITest problem though, because the more complicated the tests get the more likely this error occurs.

[2015-12-21 16:34] ohwutup commented on #356
hey @jinsumv would you mind sharing your UI test code? it would help to see how you have the snapshots set up.

[2015-12-21 16:57] yakubbaev commented on #330
It seems to be somehow related with simulator versions.
Tested on iOS 9.0, 9.1, 9.2.
iOS 9.0 appears to be the most stable.

[2015-12-21 18:09] appleguy1999 commented on #330
Same happens for me. This occurs for me when I call this:
[code]
(which I got from [Issue #321 comment](https://github.com/fastlane/snapshot/issues/321#issuecomment-159660882))

[2015-12-21 18:13] DominicFrei commented on #330
@rcobelli Interesting. I am using the exact same snippet. Might be worth investigating a little bit more.

[2015-12-21 20:57] ohwutup commented on #234
hi @Name-less, i am going to go ahead and close this issue, but if any of you are still feeling some pain here, please do not hesitate to reopen it and comment and we can dig into this further, for the time being it is best to put calls to take snapshots inside of a test itself rather than in a `setUp` function.

[2015-12-21 20:57] #234 closed

[2015-12-22 04:14] ilteris commented on #360
@KrauseFx I cannot answer for before since I didn't try the library before but it happened yesterday.

[2015-12-22 09:36] yakubbaev commented on #330
Updating OS from Yosemite to El Capitan fixed issue for me.

[2015-12-22 19:43] jinsumv commented on #356
Thanks @ohwutup. Its working now.
But the issue was: I have more than 100 test cases. If any one of them fails, its not saving the screenshot. It saves screenshot only if all the tests pass. Is there any way to get screenshot of passing tests?

[2015-12-22 21:25] gokeji commented on #320
@ZTGravity Your comment helped solve a problem I've been stuck on for a long time! I'm trying to run snapshot in the machine running xcode server, and the _xcsbuildd user does not have permission to access a lot of files that snapshot needs to access. So I ended up using `sudo snapshot`, and that fixes the permission problems, but I end up with the simulator 120 second timeout problem.

Your comme

[2015-12-22 22:18] martingjaldbaek commented on #330
Every time I run snapshot I'm getting "Test failed. Exit status: 65" without even having had the app launched (with a UI Test that runs fine from Xcode). I don't get "Could not resolve external type c:objc(cs)NSString" so at least in my case that's unrelated. The snapshot example project runs fine too.

What does seem to matter is build time: I've tried invoking xcbuild manually in a couple differ

[2015-12-22 22:32] lcerveau opened #364 "Available languages should "be closer" to [NSLocale availableLocaleIdentifiers] (using 4 letters scheme)"
Currently the list of available languages in on the README is having 2 letters languages like "it". It would be nice to add their 4 letters equivalent like it-IT (in a complementary way), as they appear more and more in translation related software (like POEditor and such).
Also currently such languages are having a dash (en-US) while Apple [NSLocale availableLocaleIdentifiers] is returning unders

[2015-12-23 06:55] senfi opened #365 "Device starts in other language than app"
It seems, as this is not intended: https://twitter.com/senfi/status/678921936848740352

I checked out the repository including the example project. The Snapfile was changed at the devices- and the languages-part:
[code]
If i run ```snapshop``` on this project, this is the displayed run config:
[code]
The results are good:
[code]

But it seems like, the simulator device is not started with the same

[2015-12-23 16:19] bitmaskstudio commented on #360
I get the same error,

[16:12:08]: Collecting screenshots...
[16:12:09]: Found 0 screenshots...

+---------------+-------+-------+-------+
|           snapshot results            |
+---------------+-------+-------+-------+
| Device        | en-US | de-DE | it-IT |
+---------------+-------+-------+-------+
| iPhone 4s     |  💚    |  💚    |  💚    |
| iPhone 5      |  💚    |  💚    |  💚    |
| iPhone

[2015-12-25 09:17] cyupa commented on #286
All good. Thanks and Merry Christmas! :christmas_tree:, @KrauseFx!

[2015-12-25 09:17] #286 closed

[2015-12-25 12:28] Jules2010 opened #366 "html file template"
It would be awesome if the screenshot html was generated from a template.

At the moment I'm using the screenshots as a design tool, to compare my autolayout settings.

I'd like to display the screenshots twice with some scrollbars so I can look at 2 screenshots from different devices and compare the two.

[2015-12-28 11:56] ldrr opened #367 "Hardware keyboard connected"
Hello Felix,

when the simulator is connected to a hardware keyboard ("Hardware / Keyboard / Connect hardware keyboard") it's not possible to set the text from a password field. The following code will fail

[code]

That's not an snapshot issue per se but it would be very cozy to have an option to disconnect the hardware keyboard.

Christoph

[2015-12-29 22:24] hjanuschka opened #368 "harmonize scan/snapshot"
as of the latest release and the use of xctest instead of uiautomator - i am having the following issue.

i want to collect uitest generated screenshots (`snapshot`) AND also want to have the html report of the test results (ui and unit)  as of `scan`

my current work arround looks like:

[code]

with this one i get the screenshots into `fastlane/screenshots` and the test report into `fastlane/log

[2015-12-30 01:55] bitmaskstudio commented on #330
I can reproduce this whenever I have a failing unit test which is included in the test scheme. If I disable unit tests in the test scheme and run UI tests alone it works correctly. Weird though as it just started happening, the unit tests failures never used to effect the UI tests screenshots.

[2015-12-30 09:52] DominicFrei commented on #330
@bitmaskstudio @KrauseFx Would you recommend using a separate scheme only for snapshot then?

[2015-12-30 10:40] iOSAppMaker commented on #348
Same issue. Multiple targets.

[2015-12-31 19:13] iOSAppMaker commented on #330
Have the same problem. Damn slow, doesn't load anything. And finally shows this:
Exit status: 65

[2015-12-31 20:03] postmechanical commented on #364
:+1:

[2015-12-31 20:08] iOSAppMaker commented on #330
I can do unit testing when I try from xcode. But somehow fails when I try running snapshot from terminal.
It gets stuck at "Checking Dependancy". Sometimes it compiles further, but always stops short of the app running in the simulator.

[2016-01-01 07:40] iOSAppMaker commented on #330
Here is the error post:
/Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.32.0/lib/fastlane_core/command_executor.rb:26:in `each': Interrupt
	from /Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.32.0/lib/fastlane_core/command_executor.rb:26:in `block in execute'
	from /Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.32.0/lib/fastlane_core/command_executor.rb:25:in `spawn'
	from /Library/Ruby/Gems/2.0.0/gem

[2016-01-01 10:23] iOSAppMaker commented on #330
I noticed that when I delete the builds from the simulator and re-runs them, then they continue a bit more, and exits with error status:
[code]

I runned without anything in UITests to make sure it is not an error because of some wrong programming code.

Full code:

[code]

But it doesn't exit here. Instead it does the run for the next language, runs upto "checking dependency", and then stands the

[2016-01-02 16:26] iOSAppMaker commented on #337
Same issue.

[2016-01-04 10:53] PoissonBallon opened #369 "Bad HTML overview format"
Hi,
It's possible to configure "HTML overview" generation ?
The device-names is wrong, for example 5.5-Inch in place of iPhone 6 plus
And screenshots is bigger (100%) (see screenshot)

Thx for your help

![capture d ecran 2016-01-04 a 11 52 15](https://cloud.githubusercontent.com/assets/8491808/12088220/a4f7f2f2-b2d9-11e5-93e6-ea56767b8a67.png)

[2016-01-04 13:40] Alak commented on #364
:+1:

[2016-01-04 17:48] postmechanical opened #370 "Snapshot not properly code signing"
I had snapshot configured and working well for a project last week and then eventually ran into the `UI Testing Failure - App accessibility isn't loaded` error because all of a sudden the app would no longer run in the simulator. The crash log shows `Code Signature Invalid` reason and `codesign -v` on the generated app gives `invalid signature (code or signature have been modified)`. Running the s

[2016-01-04 21:24] iOSAppMaker commented on #330
Do I need to include all the App Target Class into Unit Test Target?? Testing the app from Xcode shows no problem and runs smooth. The problem appears only when running snapshot (from terminal).

[2016-01-04 21:26] iOSAppMaker commented on #330
Sma epost in fastlane_core issues:
https://github.com/fastlane/fastlane_core/issues/65#event-505068508

[2016-01-04 22:00] iOSAppMaker commented on #330
There was no problem with UIAutomation.

[2016-01-05 13:04] niklassaers opened #371 "xcodebuild: error: missing value for key 'id' of option 'Destination'"
When I run "snapshot" I get the error "xcodebuild: error: missing value for key 'id' of option 'Destination'"

This is my Snapfile:

devices(["iPhone 6"])
languages(["no"])
scheme "iOS9Test"
output_directory "./fastlane/screenshots"
workspace "./MyProject.xcworkspace"

and that results in this command
set -o pipefail && xcodebuild -workspace './MyProject.xcworkspace' -scheme 'iOS9Test' -derivedDat

[2016-01-05 14:04] Alak commented on #365
+1

[2016-01-05 17:42] lilidotshi commented on #356
+1 Also it would be nice to have a retry function. Sometimes network can be unpredictable with downloading things, something like --max-retries 3 for any failing test.

[2016-01-05 18:17] ohwutup commented on #356
currently, the features are implemented such that screenshots are saved upon a successful full test run.  i will leave this issue open for more discussion and it would be awesome if someone would want to submit a PR to add in this functionality.

@lilidotshi if i understand your question correctly, it seems as though that is a different feature request than what this issue was created about. would

[2016-01-05 19:03] lilidotshi opened #372 "Automatic retry of failed test"
It would be nice to have a retry option for failed tests. Sometimes tests fail because of random simulator/UITest issues (network, UITest framework bugs, etc) and not issues with the code itself. If it happens even 1 in 200 times (which is likely given simulator * languages), the HTML doesn't get generated. It would be nice to specify retry x number of times, as often I've experienced that re-runn

[2016-01-05 20:09] dpettit commented on #372
I agree, I find that one of the tests fails about 10% of the time, but all work fine on a 2nd run.  Even if the snapshot command itself returned a value (t=all tests ran successfully, f=at least one test failed) after running all tests, I could just re-run snapshot myself whenever any of the tests failed.

[2016-01-06 04:14] wenyang9319 commented on #357
✗ testRoamingSearch, UI Testing Failure - No matches found for SearchField
** TEST FAILED **

MyMaxisUITests.RoamingUITest
testRoamingSearch, UI Testing Failure - No matches found for SearchField
/Users/macserver/Desktop/Developments/MyMaxis/maxis-mymaxis-ios/MyMaxisUITests/RoamingUITest.swift:27
[code]

	 Executed 2 tests, with 1 failure (0 unexpected) in 55.452 (55.463) seconds

[12:08:32]: Exit

[2016-01-07 14:53] iOSAppMaker commented on #330
It might be a time out problem, I found out that small apps are running properly, but bigger ones stop at the point I mentioned.

[2016-01-07 17:48] RainerSchwarze opened #376 "Use two sets of devices in snapshot? (Or have multiple Snapfiles?)"
I'm using fastlane snapshot for building the screenshots for the App Store. As usual the set of devices is defined in the `./fastlane/Snapfile`. Now I want a different set of screenshots for a website and do not want all the devices, but only one of them.

So far I defined two lanes in `./fastlane/Fastfile` where one `snapshot` overrides the `devices` like so:

      desc "Just run snapshot"

[2016-01-07 20:20] iOSAppMaker commented on #348
Is there any progress on this??

[2016-01-07 20:33] iOSAppMaker opened #377 "No such module when adding SnapshotHelper.swift file"
I'm getting a "No such Module" when adding SnapshotHelper.swift file to the UITests.swift file using:
import SnapshotHelper

I did the Clean, restart, everything.
Also checked that the files are added to the target.
What might be the problem??

[2016-01-07 20:49] iOSAppMaker commented on #330
I got this in a recent run:
2016-01-08 02:15:02.185 xcodebuild[9954:203428]  iPhoneSimulator: Timed out waiting 120 seconds for simulator to boot, current state is 1.

[2016-01-07 23:24] Ashton-W opened #379 "Summary table output should avoid extremely long lines"
When using many `launch_arguments`, the output of the summary table in the terminal gets pretty messy. Is there something we could do about this, wrap the array or long line values.
Can we detect the terminal width?

[code]

[2016-01-08 09:25] KrauseFx commented on #379
I agree, should be implemented in `fastlane_core`

[2016-01-08 09:25] artworker commented on #379
NAVER - http://www.naver.com/
--------------------------------------------

artworker@naver.com 님께 보내신 메일 <Re: [snapshot] Summary table output should avoid extremely long lines (#379)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2016-01-08 11:14] jcampbell05 commented on #121
@KrauseFx Even if this isn't possible it would be awesome if we could use something like this https://dribbble.com/shots/1719044-Apple-Watch-Free-Template-PSD so we can produce mockups of the app for marketing material outside of the app store.

[2016-01-08 11:15] artworker commented on #121
NAVER - http://www.naver.com/
--------------------------------------------

artworker@naver.com 님께 보내신 메일 <Re: [snapshot] Apple Watch (#121)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2016-01-08 11:33] jcampbell05 commented on #121
@bassrock  @KrauseFx  So apple recently changed it so the Apple Watch Simulator is now a seperate simulator.

- We can in theory find some way of loading it manually.
- People have found ways of using UIKit in the Apple Watch, so in theory it *may* be possible to do this for UIAutomation.
- Failing that we could do some sort of hack where we run a custom scheme for the user or launch the app with

[2016-01-08 13:55] pkamppur opened #380 "Snapfile template is broken with regards to "clear_previous_screenshots""
Template says:

[code]

"true" is missing (after "clear_previous_screenshots", which means uncommenting doesn't work, old screenshots aren't cleared.

The template should be

[code]

[2016-01-08 13:59] pkamppur commented on #380
And the template file I'm referring to is snapshot/lib/assets/SnapfileTemplate

By the way, thanks for the great tool.

[2016-01-08 13:59] artworker commented on #380
NAVER - http://www.naver.com/
--------------------------------------------

artworker@naver.com 님께 보내신 메일 <Re: [snapshot] Snapfile template is broken with regards to "clear_previous_screenshots" (#380)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2016-01-08 20:46] RainerSchwarze opened #381 "launch_arguments not added to NSUserDefaults.standardUserDefaults() and not added to NSProcessInfo.processInfo().arguments"
The snapshot README.md includes this:

Part of my `fastfile`:

    lane :mysnapshot2 do
      snapshot(
        devices: ["iPhone 5"],
        launch_arguments: ["-app_uitests websitescreenshots"],
        output_directory: "./screenshotsweb"
      )
    end

In my UITest the setUp method looks like this:

    - (void)setUp {
        [super setUp];
        XCUIApplication *app = [[XCUIApplication

[2016-01-09 17:47] axaiOS commented on #298
+1

[2016-01-09 17:47] artworker commented on #298
NAVER - http://www.naver.com/
--------------------------------------------

artworker@naver.com 님께 보내신 메일 <Re: [snapshot] App Preview automation? (#298)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2016-01-11 16:04] tlv opened #382 "Snapshot launching wrong simulator"
Hi,

Snapshot sometimes launches the wrong simulator when I run it. What seems to happen is it will just launch the last simulator that I launched from Xcode (e.g. after running my UI tests in Xcode to verify that they were working), regardless of which simulator it is supposed to be launching. For example, snapshot will say it is running the UI tests on the iPhone 6 simulator, and then proceed to

[2016-01-11 22:43] gop1334 opened #384 "Is it not possible to take screenshots even if the tests fail ?"
Looks like currently we can get screenshots only when all tests pass. We have around 100s of tests and we are using snapshot to take screenshots at different points in the tests. Is there an option to generate the screenshots if some of the tests fail ?

[2016-01-11 22:44] gop1334 opened #385 "Option to have XCUITest logs"
Even upon passing -verbose we are not able to see the complete XCUITest logs in the Snapshot logs when run from CLI. Is there a way to view them ?

[2016-01-12 01:03] gop1334 opened #386 "Can we use snapshot for XCUITests running on an OS X App ?"

[2016-01-12 07:21] jerrylee007 commented on #371
I have the same issue.

[2016-01-12 10:03] #369 closed

[2016-01-12 22:25] KrauseFx commented on #371
What Xcode did you set in `xcode-install`? Could you try running `snapshot reset_simulators`?

[2016-01-12 22:25] KrauseFx commented on #386
Sorry, currently iOS only

[2016-01-12 22:27] KrauseFx commented on #380
Nice catch, thanks :+1:

[2016-01-12 22:28] #380 closed

[2016-01-12 22:31] KrauseFx commented on #362
How do you run `snapshot`? SSH? Jenkins?

[2016-01-12 22:34] KrauseFx commented on #367
:+1:

[2016-01-13 00:03] #385 closed

[2016-01-13 00:06] gop1334 commented on #384
Hi @KrauseFx - Is this possible ? Right now snapshot is working great for us when all tests pass. However if even one single test fails we don't get the screenshots.

[2016-01-13 00:07] KrauseFx commented on #384
Sorry no, the tests have to pass

[2016-01-13 12:41] ashukhobragade commented on #362
In Mac terminal

On Jan 13, 2016 4:01 AM, Felix Krause <notifications@github.com> wrote:

How do you run snapshot? SSH? Jenkins?

—
Reply to this email directly or view it on GitHub<https://github.com/fastlane/snapshot/issues/362#issuecomment-171081229>.

[2016-01-13 14:20] ashukhobragade commented on #362
In Mac terminal

[2016-01-13 21:28] my7choices opened #387 "Testing Failed with Exit Status 65"
Every time I run `snapshot`, the script fails to connect to the simulators.

I get the following message:
[code]

The following is the log file found at /var/folders/tl/q54gxgmn56z03q9tl9rmlbrc0000gn/T/com.apple.dt.XCTest-status/Session-2016-01-13_13:12:12-UIx6AV.log
[code]

The following is my Snapfile
[code]

[2016-01-15 08:37] codesourse opened #388 "anyone can help me?"
devices([
   "iPhone 6",
   "iPhone 6 Plus",
   "iPhone 5",
   "iPhone 4s"
])

languages([
  "en-US",
  "de-DE",
  "it-IT"
])
scheme "XHEnglishBrushStudent"
output_directory "./screenshots"

workspace "./XHEnglishBrushStudent.xcworkspace"

meet
[16:31:30]: ▸ ❌  ld: library not found for -lPods
[16:31:30]: ▸ ❌  clang: error: linker command failed with exit code 1 (use -v to see invocation)
[16:31:3

[2016-01-15 09:30] Alak opened #389 "How the snapshot is done"
Hey,

Can someone explain me, or at least point me in the code,
how and where the screenshot (snapshot) is taken ?

Thank you

[2016-01-15 09:33] #389 closed

[2016-01-15 09:33] Alak commented on #389
Stupid question. I should RTFM. (aka Readme -_-)

[2016-01-15 18:14] vpolouchkine commented on #388
That looks like a CocoaPods issue, does your workspace build in Xcode?

[2016-01-15 21:02] KrauseFx commented on #388
Also make sure to run `pod install` :+1:

[2016-01-16 15:07] donaldpiret commented on #372
+1 on this as well. Having major trouble getting through the entire test suite (all devices + all locales) without a single error.

[2016-01-16 16:36] barbelith commented on #372
+1

[2016-01-17 11:49] Myrronth commented on #333
Sorry for the delayed response, i had a few busy weeks.

I created a small test project (https://github.com/Myrronth/GPX-Location/tree/master).

Running and testing the app via Xcode works fine, testing via snapshot or `xcrun xcodebuild -scheme 'GPX Location' -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.2' test` does not.

[2016-01-17 12:55] codesourse commented on #388
I can run my project on my Xcode,and my project is complete,How to use “snapshot”  in the workspace.

[2016-01-17 18:40] sanmarcos commented on #333
Same issue here

[2016-01-17 23:24] Orgmir commented on #381
I'm also trying to use this. I'm expecting to use the launch arguments in my app, are these only available on the UI test classes? Because the text gives all indication that it should be use on the standard app code.

[2016-01-17 23:25] Orgmir commented on #381
@RainerSchwarze Do you have any updates on this? Did you move on or used other strategy?

[2016-01-17 23:33] Orgmir commented on #377
I don't think you need declaro the `import SnapshotHelper`. Just add it to your UITest target and use it on your test class.

[2016-01-18 08:31] niklassaers commented on #371
"snapshot reset_simulator" did the trick. Thanks Felix. :-)

For reference:
xcode-select points to Xcode 7.2 7C68.
I don't know xcode-install, but it says:
    $ xcode-install
    /usr/local/bin/xcode-install:23:in `load': /Library/Ruby/Gems/2.0.0/gems/xcode-install-1.0.1/bin/xcode-install:2: syntax error, unexpected tIDENTIFIER, expecting keyword_do or '{' or '(' (SyntaxError)
    	from /usr/loca

[2016-01-18 08:31] #371 closed

[2016-01-18 08:53] iOSAppMaker commented on #377
@Orgmir Cool. Do I need to import anything at all like the project module, etc or will they also auto import.

[2016-01-18 09:19] buhlem commented on #365
I also have the same issue, any solution ?

[2016-01-18 14:43] ashukhobragade opened #391 "how to get Screenshots in multitarget projects"
I am having  multitarget project and when I add UItest target and added an executable app for it.
To get the screenshot for new target,  I am just changing executable app for UItest but it keeps on running for a long time and UItest gets fails

Do you have other solution for multi targets?

[2016-01-18 18:04] RainerSchwarze commented on #381
@Orgmir
I added a helper method to my screenshot test case:

    - (NSString*) argValueForKey:(NSString*)key inApp:(XCUIApplication*)app {
        NSInteger index = [app.launchArguments indexOfObject:key];
        if (index==NSNotFound || index>=app.launchArguments.count-1) {
            return nil;
        }
        return [app.launchArguments objectAtIndex:index+1];
    }

and I use it like this

[2016-01-18 20:02] KrauseFx commented on #365
I don't know if it's possible to set the simulator locale. Instead the language is passed via launch arguments to your app

[2016-01-18 20:03] KrauseFx commented on #371
Yeah, the `xcode-install ` binary has a syntax error, you should use `xcversion` instead. cc @neonichu

[2016-01-18 21:46] neonichu commented on #371
@KrauseFx it's gone for some time now, you should update your dependencies :trollface:

[2016-01-19 00:32] KrauseFx commented on #371
Thanks @neonichu, done with https://github.com/fastlane/fastlane/commit/db24354cf96c6d1cb6d7cd8c3696ea659e0d6b38

[2016-01-19 09:28] neonichu commented on #371
@KrauseFx doesn't this break horribly because of its pinned spaceship dependency? :scream:

[2016-01-19 10:38] ClementPadovani commented on #333
Hey @Myrronth, I’ve had the same issue as you. After some digging in the Apple private frameworks I’ve abandoned the GPX file for my tests. I’m using a location simulation class that’s available as a private API. You can check it out [here](https://github.com/ClementPadovani/aBike/blob/master/aBikeFramework/aBikeLibrary/Additions/VELocationManager.m#L195).

[2016-01-19 13:51] radshag commented on #387
Hi,  I think I have the same issue.  Does your app have an app extension?  My scan lane stopped working the day I added an app extension.  I get the same error from fastlane but when I check the logs for coresimulator it says that the app extension has the wrong bundle id...  I have not figured out how to fix this yet...

[2016-01-19 17:20] KrauseFx commented on #371
@neonichu this makes me so sad. Didn't @snatchev push a fix for this yet?

[2016-01-19 19:45] neonichu commented on #371
@KrauseFx like all good PRs, you haven't merged it, yet :trollface: fastlane/spaceship#208

[2016-01-19 21:18] vpolouchkine commented on #388
Did you run pod install?

[2016-01-19 21:47] IngmarStein opened #393 "Obscure status bar"
Besides using SSM to manipulate the simulator to show a "perfect" status bar, there is another way to process the screenshots for the App Store, namely to obscure the status bar area. The free utility [Status Barred](https://itunes.apple.com/de/app/status-barred/id413853485) offers this option. It would be nice to have a post-processing step in snapshot to implement something similar.

[2016-01-20 00:13] KrauseFx commented on #393
Since iOS 7 it's not recommended to remove the status bar, since it's usually half transparent and has content behind it. This is not planned to be implemented in `snapshot` as of now

[2016-01-20 00:13] #393 closed

[2016-01-20 05:46] IngmarStein commented on #393
The [iTunes Connect Developer Guide](https://developer.apple.com/library/ios/documentation/LanguagesUtilities/Conceptual/iTunesConnect_Guide/Appendices/Properties.html#//apple_ref/doc/uid/TP40011225-CH26-SW2) still states "Don’t include the device status bar in your screenshots".
I don't think this is outdated because that sentence is also included in the iPad Pro section which has been added just

[2016-01-20 06:12] ashukhobragade commented on #391
Any solution for this ?

[2016-01-20 07:41] KrauseFx commented on #393
Check out the section about the iPhone 6 and 6 Plus, you can't even upload apps without a statusbar according to the docs.
They have it in the Pro section, but it seems like a Copy&Paste error, since the listed resolutions don't include the one without a status bar

[2016-01-20 07:44] IngmarStein commented on #393
Yes, the section about iPhone 6 and 6 Plus is why Status Barred offers the option to "obscure" the status bar, instead of cropping it. That way, the images have the right sizes but still don't have a status bar.

Here's an example:
![simulator screen shot 29 06 2015 19 20 44](https://cloud.githubusercontent.com/assets/490610/12442651/f54e3d40-bf51-11e5-9a04-5901f05231b6.png)

[2016-01-20 16:43] linked67 commented on #280
Please commit the code from ConfusedVorlon, it works very nice on my side.

[2016-01-20 18:17] vpolouchkine commented on #391
Take a look at https://github.com/fastlane/snapshot/issues/348 for a possible solution.

[2016-01-20 19:23] #280 closed

[2016-01-20 19:23] KrauseFx commented on #280
Thanks @ConfusedVorlon, I added this to the main code base now! :+1:

[2016-01-20 20:45] ronaldocwb opened #394 "Fail Collecting screenshots"
[Snapfile.txt](https://github.com/fastlane/snapshot/files/98069/Snapfile.txt)

I'm running snapshots and UI interactions run ok on simulator, but i am getting a error when the files are going to be stored (I supoose). Error trace and my snapfile below.

Thanks in advance

[code]

Snapfile

[code]

[2016-01-20 20:55] varmeh opened #395 "Is it feasible to use snapshot with KIFF test?"

[2016-01-20 21:00] mikeread1967 opened #396 "Locales not working - Any tips"
Hi,

I'm trying to take screenshots in German and English.  I have this in my Snapfile:

devices([
  "iPhone 5s"
])

languages([
	"en-US",
  	"de-DE"
])

But it gives me 2 sets of screenshots in en-US (although it labels one de-DE).   The language.txt file goes through both locales when it runs, and the tests run twice.  It just doesn't change the language in the simulator.

What am I missing?

Ch

[2016-01-20 21:02] varmeh opened #397 "How to fix error - Undeclared Identifier Snapshot for Objective-C Project?"
The swift.h file created by XCode holds no reference to snapshot.

[2016-01-20 21:12] jtwigg opened #398 "Can Snapshot be used in XCode Unit Tests? (not UI Automation tests?)"
I'm really finding im leveraging the use cace that  ios-snapshot-test-case provides for
https://github.com/facebook/ios-snapshot-test-case.git
but I really like the overall pattern that snapshot provides,
BUT
I find UI Automation tests to be not very helpful in Xcode. I prefer to mock a bit of data and render to disk what it would look like. This is not easily doable with UI Automations at all.

Q

[2016-01-20 23:35] vpolouchkine commented on #398
No, not at this time.

[2016-01-20 23:36] vpolouchkine commented on #397
Did you add the helper and bridge files per https://github.com/fastlane/snapshot#quick-start?

[2016-01-20 23:38] varmeh commented on #397
I did.

[2016-01-20 23:42] vpolouchkine commented on #396
Take a look at this comment https://github.com/fastlane/snapshot/issues/365#issuecomment-172638332

[2016-01-20 23:45] vpolouchkine commented on #394
Could you update spaceship using sudo gem update spaceship and see if that fixes the problem?

[2016-01-20 23:47] vpolouchkine commented on #395
Are you referring to https://github.com/kif-framework/KIF?

[2016-01-20 23:48] varmeh commented on #395
Yes.

[2016-01-21 01:27] codesourse commented on #388
Thank you,I have sloved my problem.

[2016-01-21 01:32] #388 closed

[2016-01-21 10:24] ilandbt opened #399 "snapshot stuck running the UITests"
Every time i try to run snapshot it gets stuck in the same place.

log:

[code]

[2016-01-21 14:07] tsafrir commented on #399
I have the same issue started yesterday on the same Xcode build as yours.
Also get stuck on iPhone4S, but on my logs the device state is "booted".
I also tried to reset simulators with `snaspshot reset_simulators` and restart the mac but it still get stuck when taking screenshots on iPhone4S.

[2016-01-21 14:11] ronaldocwb commented on #394
I updated and got the same error

Em qua, 20 de jan de 2016 às 21:45, Val Polouchkine <
notifications@github.com> escreveu:

[2016-01-21 15:42] cameroncooke opened #401 "UI Tests failing with Snapshot but passing using Xcode"
I'm getting the following error when running snapshot:

This indicates that the Main Window is not ready or not available when the test attempts to reference it.

Our UI tests already deal with this issue by waiting for the Main Window and the tests all work perfectly and pass when running from Xcode.

When the tests run as part of Snapshot the tests always fail with this error yet work perfectly

[2016-01-21 16:00] #401 closed

[2016-01-21 16:37] ronaldocwb commented on #394
I updated all my gens and selected to use XCode 7.2. Its working ok now. Thanks

[2016-01-21 16:37] #394 closed

[2016-01-21 18:12] vpolouchkine commented on #395
That is not currently supported.

[2016-01-21 22:07] prodiddler commented on #382
Any word on what works? I'm stuck on this too.

[2016-01-22 10:54] masterrr commented on #396
Same issue here, they have a bit different issue in #365

[2016-01-22 11:25] masterrr commented on #396
Disabling base internalization fixed the issue for me

[2016-01-22 13:11] julianhirt commented on #396
Disabling base interenation did NOT fix it for me :-/

[2016-01-22 17:17] afehners commented on #313
#264 also breaks en-GB vs en-US e.g. colour vs color

Trying to capture screenshots passing in languages "en-GB" and "en-US" results in the same Americanised spellings as only "en" gets passed to -AppleLanguages.

If I revert this change and pass in the full locale "en-GB" to -AppleLanguages it correctly uses the English spellings

[2016-01-22 17:31] mikeread1967 commented on #396
It turned out my issue was that I only had de-DE defined in the project, so it reverted to 'en' without the 'DE' locale.  Once i'd added a 'de', life was good!

If i'd tested in any other language I'd have been non the wiser, as Portuguese (Portugal) reverts to Portuguese.

[2016-01-22 21:58] KrauseFx commented on #401
What was the problem?

[2016-01-22 23:19] Orgmir commented on #377
I'm not sure, but you can easily try :) Also, you can close this issue if it's resolved.

[2016-01-23 09:44] danielbmarques commented on #396
I have the same problem, but disabling base internalization is not an option for me. I localized my app to "pt" (not "pt-BR" or "pt-PT"), which is how it has to be for Brazilian Portuguese, and tried adding "pt-BR" to my Snapfile, but the screenshots come out all in english.

[2016-01-23 14:57] zauberware commented on #397
Following solution worked for me:

1. Change "class Snapshot: NSObject" to "@objc class Snapshot: NSObject" in SnapshotHelper.swift
2. Change the build settings of your test target (not the normal project). Set "Install Objective-C Compatibility Header" to YES.
3. Clean and build, you should now have a bridge file in your derived data (not in your project).
4. The bridge file is not added to your

[2016-01-23 16:45] pedro380085 commented on #287
Any updates on this?

[2016-01-24 05:52] iOSAppMaker commented on #377
How to close??

[2016-01-24 05:52] #377 closed

[2016-01-25 05:53] Ashton-W commented on #333
@KrauseFx can we label this issue and future issues like these as *Xcode Issues*?

[2016-01-25 14:47] cameroncooke commented on #248
Is there an official fix for this coming, or is the solution just to not use this feature? How should we wait for loading indicators on iPad?

[2016-01-25 17:42] KrauseFx commented on #248
Pushing a fix right now!

[2016-01-25 17:51] KrauseFx commented on #248
Fixed with https://github.com/fastlane/snapshot/releases/tag/1.5.0 :rocket:

[2016-01-25 17:51] #248 closed

[2016-01-25 19:46] cameroncooke commented on #248
Great work. Looking forward to trying this.

On Mon, 25 Jan 2016 at 17:51, Felix Krause <notifications@github.com> wrote:

[2016-01-25 23:48] vpolouchkine commented on #287
@pedro380085 Related PR has not been merged yet. https://github.com/fastlane/snapshot/pull/284/files

[2016-01-26 00:34] ericertl commented on #280
Hi @KrauseFx . This is still not working if you have the location icon showing in the statusbar. I think I already commented this, but if it helps, here's my code for this function handling also the location icon.

[code]

[2016-01-26 00:43] vpolouchkine commented on #396
@danielbmarques Can you provide a sample repro project?

[2016-01-26 03:29] Ashton-W commented on #333
I think this is related to this Xcode Known Issue, since Gather Coverage data is another flag set in schemes that does not work during UI Testing:

xcodebuild test, even when "Gather coverage data" is enabled. (23913271)

[2016-01-26 03:40] Ashton-W commented on #381
The `launch_arguments` option is for setting launch arguments on the app (`app.launchArguments`), and creating a screenshot matrix if multiple argument sets are specified.

You must call `setupSnapshot` before you launch the main app like so

[code]

I see how the documentation can be confusing, we should make it clearer.

I do like the idea of making the arguments available to the UI Tests, will

[2016-01-26 03:44] Ashton-W commented on #381
@RainerSchwarze from the snippet you posted, could I recommend creating separate Schemes or Targets for your different sets of UI Tests. You can edit a scheme and select a subset of tests for it to run, or create a new UI Testing target and keep the tests separate.

[2016-01-26 03:47] Ashton-W commented on #381
Use [this Snapfile](https://gist.github.com/Ashton-W/cc85ca1520b2eac15ce7) in the Snapshot Example project.

[2016-01-26 03:55] Ashton-W opened #404 "FASTLANE_SNAPSHOT should only be set when running Snapshot"
Currently Snapshot sets the userDefault value `FASTLANE_SNAPSHOT` to YES when your tests call `setupSnapshot:`, even if you are running the UI Tests through Xcode.

Shouldn't this only be set when the UI Tests are actually being run from Snapshot? Or does that introduce too much unpredictable behaviour into the tests?

[2016-01-26 04:47] danielbmarques commented on #396
@vpolouchkine Ah, I guess I was doing something wrong. I couldn't reproduce the problem in a new project, so I updated Snapshot and reinstalled it from scratch in my old project, and now everything works. Sorry for the hassle.

[2016-01-26 06:15] KrauseFx commented on #404
Agreed, it should only be set when running it via `snapshot`

[2016-01-26 06:32] Ashton-W commented on #404
@KrauseFX this would have to be done via the temporary file, but we would need to clear it at the end of snapshot because the tests will read that file regardless of being run by snapshot or not. Do you see a problem with this approach?

[2016-01-26 07:36] KrauseFx commented on #404
Is it still a pre-processor macro then? You need to be able to actually access this value in code

[2016-01-26 08:02] Ashton-W commented on #404
It is a key in `NSUserDefaults`

[2016-01-26 08:56] RainerSchwarze commented on #381
@Ashton-W Thanks for your information. I already call setupSnapshot in setUp in the right sequence. My UITests are separated from the screenshots using schemes and targets; so there will be no problem extending that to the different kinds of screenshot "runs".

[2016-01-26 09:50] ilandbt commented on #399
The last update worked for me, but now i'm getting this:
[code]

But i have 1 test:

[code]

[2016-01-26 10:41] masterrr commented on #396
Issue upd.: If you launch XCUIApplication obj twice, locales will fail too
[code]

[2016-01-26 10:43] ilandbt commented on #325
@RobertBiehl  how did you prevent the registration from happening?

i tried:
[code]

and

[code]

non of them worked for me.

[2016-01-26 12:14] Alak opened #405 "Launching UITest from xcrun simctl launch"
Hey,

Is there a way to launch UITest from xcrun simctl launch?
My build time is very long, so I want to uninstall/install/launch app for every language without recompiling.

Thanks.

Alak

[2016-01-26 17:49] danielbmarques commented on #396
Ah! That's what I was doing wrong.
Actually I'm still doing that, but the first time I had pasted the snapshot code *before* `XCUIApplication().launch()`, and then it didn't work, and then I did it all over again but this time I pasted the code *after* Xcode's standard code, and now it works:

    XCUIApplication().launch()
    // (…)
    let app = XCUIApplication()
    setupSnapshot(app)
    app.

[2016-01-26 20:30] quinnthomson commented on #387
I had the same problem, but I installed the latest Mac OS X software updates, then snapshot worked for me.

[2016-01-26 20:44] muZZkat commented on #372
+10000, the pre-1.0 snapshot did this and it was very useful

[2016-01-26 21:09] muZZkat commented on #399
I get the same but only for the iPhone 6,6s, 6 Plus and 6s Plus simulator... other simulators are working OK. I have verbose enabled but don't see anything, is there other logs?

I've updated to the latest snapshot and still see the same thing.

[2016-01-26 21:21] muZZkat commented on #399
Turns out my Test target was only configured for armv7, not sure why but switching it to standard arch fixed it.

[2016-01-27 10:24] jannietheron opened #407 "South Korean"
Hi there

It seems that South Korean ko-KR is not supported. I also get the same zh-Hans localisation for zh-Hans and zh-Hant.

Would be great to have these fixed so I can get screenshots of all translations.

Thanks
Jannie

[2016-01-27 12:57] sam-swift opened #408 "Snapshot- Code is executing but no snapshot are taken"
I have downloaded the project from this path and configured it.

1. Executed "sudo gem install snapshot" in terminal
2. Executed  "xcode-select --install" in terminal
3. Navigate to "snapshot_test" folder in terminal and executed the commend "snapshot init" , 
SnapshotHelper.swift and snapfile are created.
4.  I have added "screenshot" and "fastlane/screenshot" folder under "Snapshot TestUITests"

[2016-01-27 13:57] masterrr commented on #396
You should not be calling launch() method twice at all. Remove the first `XCUIApplication().launch()` line and you'll be fine :)

[2016-01-28 12:04] alexth opened #409 "setupSnapshot() Use of unresolved identifier"
Before all, thanks for such cool Fastlane tools, they are awesome!
Just started with UITests and Snapshot, and struggling a bit.
I have 'setupSnapshot() Use of unresolved identifier' error, when placing it inside my setup() func because it should be somewhere? Or it' s expected that I should implement this? If so, what should be inside?

Sorry for dumb simple question in advance!

Best regards,
Al

[2016-01-28 12:51] alexth commented on #409
Oh, there is SnapshotHelper.swift to import to project.

If someone reading this, sorry for disturbance

Best regards,
Alex

[2016-01-28 12:51] #409 closed

[2016-01-28 15:02] sanmarcos commented on #333
![screen shot 2016-01-27 at 21 34 45](https://cloud.githubusercontent.com/assets/229094/12648059/f39956d8-c58c-11e5-83a6-a152fa94ef6a.png)

Xcode does support location testing with UI Testing.

They do not work in Snapshot.

Perhaps somebody can figure out what exactly Xcode is doing to launch a simulator instance with location simulation.

[2016-01-28 22:14] Ashton-W commented on #333
In my brief testing it does not work when running UI Tests at all.

[2016-01-28 22:21] KrauseFx commented on #409
:+1:

[2016-01-28 23:26] sanmarcos commented on #333
It works if you don't run it with a UI Test that has any reference to snapshot. Also be sure to reset the simulator before trying it again.

[2016-01-29 00:34] karlbb opened #410 "--ios_version causing issues"
I'm trying to use the --ios_version in our shell scripts and I keep getting errors in using it. As a sanity check, I went straight to the CL and typed out the flag like so:

`snapshot --ios_version "9.1"`

and I'm getting this error:

[code]

Not sure if this is causing an issue for anyone else.

I'm using Snapshot 1.5.0 & Ruby 2.2.2

Thanks in advance!

[2016-01-29 02:56] #410 closed

[2016-01-29 02:56] KrauseFx commented on #410
Hey, really sorry for the issue, I just pushed a fix, which will be available in the next release :+1: In the mean-time you can set the iOS version in your `Snapfile` :+1:

[2016-01-29 08:03] jannietheron commented on #407
So we moved out Korean localisation over to "ko" and that worked, but the chinese issue is still around. It seems to only have one chinese localisation used for both.

Launching the simulator manually with the two chinese variations works.

[2016-01-29 12:12] ClementPadovani commented on #333
You can simulate your location using this method that I specified in this comment https://github.com/fastlane/snapshot/issues/333#issuecomment-172812854

[2016-01-29 16:20] SRowley90 commented on #258
I am getting this issue also. Fresh install of OS X El Capitan calling snapshot though fast lane (fastlane take_screenshots), seems to loop around trying to do the first set of screenshots then fails with error 127 with no better error message.

I am starting the fastlane call through an Xcode bot but it does run if I go onto the build mac and run the fast lane command as the _xcsbuildd system use

[2016-01-29 18:42] karlbb commented on #410
Thanks for the quick response! :+1:

[2016-01-29 23:51] jinsumv opened #411 "Launch arguments not working"
Hello,
I am having the following issues when I use launch_arguments.
Case: 1-
Noticed that by default derived data are stored in  /tmp/snapshot_derived. When I gave this:
 launchArgs="-derivedDataPath ./derivedData"
snapshot  -m $launchArgs

it uses launchArgs passed to rename screenshot file name
[15:06:54]: Copying '../Snapshots/Automation/en-US/iPhone6s--derivedDataPath-InboxPage.png'...
[15:06

[2016-01-30 10:42] dpettit opened #412 "Add filenames directly below snapshots in snapshots.html?"
It would be helpful to have filenames listed above or below each smaller snapshot in snapshots.html.

My use case is that I take snapshots of all pages of my app, and then select which ones I want to submit to ITC as demo snapshots.  It would be awesome to have the filename right there above or below each snapshot to facilitate identifying which page belongs to which filename.

Thank you so much f

[2016-01-30 17:38] KrauseFx commented on #412
Thanks for the kind words. The file names are actually really long, I'm not sure if that's a good idea. You see them however when you click on it.

[2016-01-31 11:37] dpettit commented on #412
My use case is in a book app context, and each book has a lot of pages, so
I have to choose which to send to ITC.   I don't suppose my use case is
too common though.  Thank you for thinking about it though. 👍

On Saturday, January 30, 2016, Felix Krause <notifications@github.com>
wrote:

[2016-01-31 20:49] wkoszek commented on #376
@RainerSchwarze With Ruby-based stuff like `snapshot` and other fastlane tools, you can pick the different configurations of things based on something like environment variable, for example. If `ENV['WEBSITE_BUILD']` is there, you pick a different list of devices.

[2016-02-01 09:50] madnik opened #413 "Couldn't find specified scheme 'MyUITests'"
snapshot returns error message it Couldn't find scheme.  XCode 7.2

[2016-02-01 10:26] madnik commented on #413
Adding a UITesting target doesn't add a scheme automatically for me. I had to add a new scheme manually after the target and then this resolved.

[2016-02-01 10:26] #413 closed

[2016-02-01 13:21] RainerSchwarze commented on #376
@wkoszek Thanks for the hint. Indeed - every now and then I forget, that things like `Snapfile` are just ruby code instead of only a text config file.

[2016-02-01 16:47] HughJeffner commented on #348
I have over 70 targets (don't ask) and a single ui test could cover them all so I want to avoid creating 70+ additional targets for the unit tests.

[2016-02-01 18:43] KrauseFx commented on #413
:+1:

[2016-02-01 18:43] KrauseFx commented on #376
Easiest way is probably to use fastlane and define 2 lanes for each of the configurations. You can pass the devices, languages and more to each of the `snapshot` calls there. Let me know if that works for you.

There is no way to specify the `Snapfile` right now.

[2016-02-02 07:33] madnik opened #416 "Give option to configure the template html file name"
Currently the template file always be the 'screenshots.html'. Give option to configure this name via Snapfile. For example someting like 'index.html'

[2016-02-02 09:44] linked67 opened #417 "Scheme say wrong number of arguments"
Just updated to 1.6 and when i run snapshot i get this:

    /Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.34.0/lib/fastlane_core/project.rb:89:in `select_scheme': wrong number of arguments (1 for 0) (ArgumentError)
	from /Library/Ruby/Gems/2.0.0/gems/snapshot-1.6.0/lib/snapshot/detect_values.rb:19:in `set_additional_default_values'
	from /Library/Ruby/Gems/2.0.0/gems/snapshot-1.6.0/lib/snapshot.r

[2016-02-02 18:16] ilandbt opened #418 "UITests failing because of push notification popup"
Hi,
My UITests are failing so i cant get any screenshots.
Its failing because of the push notification popup.

I tried disabling the registration with the "FASTLANE_SNAPSHOT" flag but its not working (the popup is still popping).
[code]

[2016-02-02 19:01] KrauseFx commented on #416
You can easily move/rename the filter afterwards in your `Fastfile` using `sh "mv screenshots.html index.html"`. Let me know if you need help with that

[2016-02-02 19:01] #416 closed

[2016-02-02 19:02] KrauseFx commented on #417
Sorry about this, please update using `sudo gem update fastlane_core` or `bundle update` if you use `bundler` :+1:

[2016-02-02 19:02] #417 closed

[2016-02-02 21:42] ashur opened #419 "snapshot crashes during "Collecting screenshots…" phase"
## Description

Whether running `snapshot` directly or as a `fastlane` action, snapshot crashes with `undefined method 'last' for nil:NilClass` after successfully executing the single test and starting the "Collecting screenshots…" phase:

[code]

## Configuration

### fastlane

| Version |
| :-: |
| 1.57.0 |

**Fastfile**:
[code]

### snapshot

| Version |
| :-: |
| 1.6.0 |

**Snapfile**:
[code]

[2016-02-02 21:54] KrauseFx commented on #419
Could you run it again using `--verbose`, then you should see the path to the plist file. Could you share the content of the file?

[2016-02-02 22:27] Vaseltior commented on #325
Hi guys, same issue here.. with *Fastlane* there I get a **exit status 65**

1. When doing so with xcode, I'm getting "Code Coverage Data Generation Failed"... Unable to retrieve the profile data files from 'iPad 2'. The last time the simulator was in use it was set on an iPhone 6 device, and was actually shut down when the test was launched.
2. Ok. Now launching the simulator. Switching from iPho

[2016-02-02 22:31] ashur commented on #419
Ah… I was inadvertently running against Xcode 7.3b's command line tools. Switching back to 7.2 via `xcode-select` seems to have done the trick. If the .plist contents are still helpful for troubleshooting 7.3, I'd be happy to post it.

[2016-02-02 23:05] KrauseFx commented on #419
Interesting, that means  has changed something in the new Xcode version, could you send it to me? In case there is any sensitive information, feel free to send it to me via email instead, thank you :+1:

[2016-02-03 00:17] lottadot commented on #395
I was experimenting with this recently. I haven’t found a solution yet. But I’ll explain what we were going after, and why:

1. Snapshot requires iOS9
2. KIF tests can run tests in iOS8/9 Simulators.
3. KIF only screenshots on failure.
4. Snapshot’s snapshot() function, as well as it’s ability to save them off with device/OS/language is quite handy. For us, we want the screenshots in all device fo

[2016-02-03 00:21] varmeh commented on #395
That sounds like a cool hack.
Even if KIF Screenshot works only with iOS 9+. Could you share the hack?

[2016-02-03 00:24] varmeh commented on #397
Hey Zuber, sorry for delayed response.
I tried all this and it still did not work for me.
Derived header did not have the implementation of snapshot class (checked in derived data folder).
That's why it's still not working for me.

[2016-02-03 04:24] thelontx commented on #291
Having the same issues here as well.  I've gone through multiple iterations of these directions, including the additional items shown in the video.   No luck.  I can't get the import statement in the test class to recognize   "MYUITests-Swift.h".  I have allowed xcode to create the bridging header for me.   The automatically created bridging header has a name of format  "MYUITests-Bridging-Header.

[2016-02-03 06:44] madnik commented on #416
Yup. Thats how I do it at the moment.
[code]
Plz consider it as trivial feature request.

[2016-02-03 11:49] alexth opened #420 "Error setting value './Project.xcworkspace' for option 'workspace'"
Hello!
Just updated Snapshot to latest version and have this when running:

[13:47:28]: Error setting value './Project.xcworkspace' for option 'workspace'
/Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.35.1/lib/fastlane_core/configuration/configuration_file.rb:24:in `eval': Workspace file not found at path '/Users/alexgolub/Desktop/my-project/fastlane/Project.xcworkspace' (RuntimeError)

Is it rela

[2016-02-03 13:11] alexth commented on #420
Looks like one more false start here...
Should have setup workspace path inside of Snapfile.

[2016-02-03 13:12] #420 closed

[2016-02-03 14:04] alexth opened #421 "All UITests are failing"
EDIT
Hello!
Failed snapshot run, and the same is in Xcode.
![screenshot 2016-02-03 17 34 39](https://cloud.githubusercontent.com/assets/2251522/12788143/209c5702-caa1-11e5-8e97-7f7dfcff102c.png)
From logging I see that at the time to uset it, element is not nil, but it's exists property returns false.
Is it normal?

[2016-02-03 19:51] KrauseFx commented on #416
Cool :+1:

[2016-02-03 19:58] zirinisp commented on #325
Hello,

I am having a similar experience and only with simulator reset I get results. Otherwise on second run I get the following:

`All tests
Test Suite KiteSpotterUITests.xctest started
KiteSpotterUITests
✗ testExample, UI Testing Failure - App failed to quiesce within 30s

KiteSpotterUITests.KiteSpotterUITests
testExample, UI Testing Failure - App failed to quiesce within 30s
/Users/zirinisp/Dr

[2016-02-04 00:05] ahknight commented on #418
This is a regression, BTW.  I just ran into this after updating the support file for the latest version from a version about three months ago.

[2016-02-04 01:05] ahknight opened #422 "Language codes are too naive"
The language code parser in the helper is presuming "XX_XX" for the codes, but this is incorrect.  For instance, to use French Canadian in Canada I would say "fr-CA_CA".  This breaks the tool rather horribly.

I wound up hacking the helper as follows.  It could use more love (and error checking) but you get the idea:

        let input = try NSString(contentsOfFile: path, encoding: NSUTF8StringEnc

[2016-02-04 01:05] ahknight commented on #422
This is also what is breaking the Korean and Chinese users, by the way.

[2016-02-04 15:25] KrauseFx commented on #418
@ahknight That's because it's a different technology now, `snapshot` now uses UI Tests and not UI Testing anymore.

[2016-02-04 21:23] garfbargle opened #423 "Snapshot repeats after successfully getting screenshots"
I have  snapshot working to successfully get screenshots but after it completes the tests, it runs again. It appears as if there is an infinite loop somewhere.

[code]

Command I'm using
`$ fastlane snap_test
`

## fastfile
[code]

## snapfile

[code]

## Additional Testing
I have tried making changes to the scheme to figure out what may be happening. I made my scheme invalid according to snapshot

[2016-02-04 23:01] garfbargle commented on #423
## Possible Solution
After adding another device to my devices array, it doesn't seem to have the infinite looping.

[2016-02-04 23:17] garfbargle commented on #423
Two issues:

1. An invalid scheme does cause snapshot to keep trying many times. (This is probably not useful because nothing is going to have changed to make it succeed.)
2. Having the launch arguments caused snapshot to rerun the same lane causing me to think it was broken.

[2016-02-04 23:17] #423 closed

[2016-02-05 15:25] mwang2016 opened #424 "Screenshot and html report are not generated when tests failed"
I have installed fastlane and snapshot:
 - sudo gem install fastlane
- fastlane enable_crash_reporting
- sudo gem install snapshot
- xcode-select --install
- snapshot init

Everything works fine when all the tests passed. Screenshot were taken and html report were generated.
However, if the some tests failed no screenshots and html generated. What I would like to do is to get screenshots report wh

[2016-02-05 17:21] KrauseFx commented on #424
Yes, the HTML page is only generated when all screenshots succeeded.

[2016-02-05 20:20] jbtrask opened #426 "problem with screenshots generated within interruption monitor blocks"
__snapshot__ doesn't seem to properly handle screenshots that are generated inside UI interruption monitor blocks.

for example, if you request photo permission in an `XCUITest` and handle the resulting system dialog  using `addUIInterruptionMonitorWithDescription`, any screenshot captured in the handler block will cause an error when __snapshot__ tries to collect screenshots because the screensho

[2016-02-05 20:52] ddilley commented on #362
No response? I have the same issue.

[2016-02-05 21:06] ddilley commented on #382
I too am experiencing this issue and would appreciate any input

[2016-02-05 21:07] bb-git opened #427 "Snapshot hangs on Running tests: Touching target.xctest"
There is just nothing happening at all. Earlier this day it was running, but now it just stopped working. What can I do?

Stack Trace on canceling shows this:
/Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.36.1/lib/fastlane_core/command_executor.rb:47:in `each': Interrupt
	from /Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.36.1/lib/fastlane_core/command_executor.rb:47:in `block in execute'
	from /L

[2016-02-05 21:22] mwang2016 commented on #424
Hi Krause,

Thanks for the quick reply. Is it possible to get it generated even if the test failed? I can make some changes on my side just for this special needs, however I would like to know where should I look up.

[2016-02-05 22:00] KrauseFx commented on #424
Basically the report gets generated here: https://github.com/fastlane/snapshot/blob/master/lib/snapshot/runner.rb#L52
If you use fastlane, it is quite easy to generate the report yourself, you should be able to add this to your `Fastfile`:

[code]
if that doesn't work, try it without the `Dir.chdir` :+1:

[2016-02-08 09:38] buscarini commented on #372
+1

[2016-02-08 12:33] koenpunt commented on #302
I solved it by adding an extension for `UIRefreshControl`, which is only a member of my test target.

This extension overrides the `beginRefreshing` and `endRefreshing` methods with noop's.

https://gist.github.com/koenpunt/cf8130bdfc432d31136b

[2016-02-08 14:14] lyptt commented on #372
+1

[2016-02-08 16:28] mwang2016 commented on #424
Hi Krause,

Thank you for the help. It does get better, the report was generated when test failed. But some screenshots were not taken in the failed test case. Here's one of my functions for validating the result:
    func verifyStaticTextsVisible(texts: String) {
        let text = app.staticTexts[texts]
        if !text.exists{
            snapshot(texts+self.currentTimeStamp())
            XCTF

[2016-02-08 22:28] KrauseFx commented on #372
Just to clarify, `snapshot` should just retry a test run when it fails, assuming that it might succeed the second time? And it should be marked as failed if it fails twice?

[2016-02-09 00:01] lilidotshi commented on #372
Can it be configurable?

On Mon, Feb 8, 2016 at 5:35 PM Felix Krause <notifications@github.com>
wrote:

[2016-02-09 02:39] i2amsam commented on #426
@jbtrask Thanks for the issue, since the referenced PR was merged I'm going to close this, please reopen if there's something in here that wasn't fixed by the PR.   :bug: :dart:

[2016-02-09 02:39] #426 closed

[2016-02-09 02:47] i2amsam commented on #427
Appears that it is have trouble starting the simulator @bb-git, have you tried quitting / restarting the simulator and XCode?

[2016-02-09 06:02] dpettit commented on #372
I really like the idea of retrying a failed test, because they are often
successful the 2nd time through.  Configurable would be even better (could
we just set our own max number of retries before marking it as failed).
Returning a programmatically accessible value would provide us with the
option of trying again at a different time, but that might not be such a
big deal if we could configure it h

[2016-02-09 06:07] dpettit commented on #372
I really like the idea of retrying a failed test, because they are often
successful the 2nd time through.  Configurable would be even better (could
we just set our own max number of retries before marking it as failed).
Returning a programmatically accessible value would provide us with the
option of trying again at a different time, but that might not be such a
big deal if we could configure it h

[2016-02-09 17:54] b-ray commented on #422
I'm having the same problem.
Using `zh-Hans` (chinese simplified) or `zh-Hant` (chinese traditional) results in the same language `zh` being used with the current version of the SnapshotHelper.swift. I ended up adding a check for those two languages, and using the whole language-string as the `deviceLanguage`:
(at SnapshotHelper.swift around line 42)
[code]
That, of course, is not an optimal solut

[2016-02-09 19:24] AvdLee commented on #412
Maybe something on hover or an alt text suits here?

[2016-02-09 20:39] KrauseFx commented on #372
I just pushed https://github.com/fastlane/snapshot/pull/431, and yes, you can configure how many times `snapshot` should retry running the tests. This will be available in the next release :+1:

[2016-02-09 20:41] dpettit commented on #372
👍👍👍

On Tuesday, February 9, 2016, Felix Krause <notifications@github.com> wrote:

[2016-02-09 21:35] #372 closed

[2016-02-09 21:43] KrauseFx commented on #372
Alright, new version is live: https://github.com/fastlane/snapshot/releases/tag/1.7.0 Please update and let me know how you like it :+1:

[2016-02-10 07:55] ohwutup commented on #418
thanks for raising the issue @ilandbt and @ahknight! i am going to mark the issue as help-wanted in case anyone wants to try to tackle this problem. :hamster:

[2016-02-10 08:07] #356 closed

[2016-02-10 11:29] koenpunt commented on #302
I've updated my gist so that now an internal method of the `UIRefreshControl` is overridden. To make it work you'll have to add a preprocessor flag `TESTING=1` to the configuration you use for your snapshots:

https://gist.github.com/koenpunt/cf8130bdfc432d31136b

[2016-02-10 16:49] koenpunt opened #433 "Disable hardware keyboard before snapshotting"
Having _"Connect Hardware Keyboard"_ enabled causes issues with entering text in secure textfields, so maybe this should be added to the plist patch?

[code]

[2016-02-10 17:27] corristo commented on #433
👍🏻

[2016-02-10 22:33] KrauseFx commented on #433
Should this be default for every user?

[2016-02-11 08:33] buscarini commented on #372
awesome!!

[2016-02-11 08:40] corristo commented on #433
@KrauseFx it would be good to have it as an option

[2016-02-11 09:48] vCrespoP commented on #372
Thank you mister ;)

[2016-02-11 11:15] koenpunt commented on #433
I think it can be the default, because there's no chance that someone is going to automate a physical keyboard while snapshotting.

[2016-02-11 13:37] dpettit commented on #372
Soooooooo nice!  Thank you!

On Thursday, February 11, 2016, vCrespoP <notifications@github.com> wrote:

[2016-02-11 13:39] lilidotshi commented on #372
100% success rate now with three retries.
On Thu, Feb 11, 2016 at 8:37 AM dpettit <notifications@github.com> wrote:

[2016-02-11 14:02] corristo opened #434 "No way to suppress build output"
Log after making snapshots for 6 languages on 4 devices takes approximately 20 Mb for me and contains mostly xcodebuild output. It would be nice to have an option to suppress it.

[2016-02-11 14:36] cguess commented on #397
I'm fighting with the same issues here. @zauberware I've gone through every step you've laid out and Snapshot still cannot be found in my test files as a class. Any ideas?

[2016-02-11 16:08] i2amsam commented on #434
@corristo could you clarify which log file is 20 mb?  Thanks!

[2016-02-11 16:09] corristo commented on #434
@i2amsam one stored by Jenkins for each build. Sorry, I forgot to mention that.

[2016-02-12 08:53] zauberware commented on #397
Hi @cguess ,

could you get to step 3 to generate the bridge file in the derived data?
If not you can try to delete and add the UI target again. I had to change the valid target architectures in the build settings of the UI target and the product name to generate the bridge file.

Hope that helps!

Marcus

[2016-02-12 17:18] SemenovAlexander commented on #433
+1 to have this enabled by default.
However, it would be great to have an option to skip this patch.

There are some rare cases, when user doesn't have any secure text fields in app and still actively works with simulator - hardware keyboard is pretty useful for manual testing/debugging

[2016-02-12 17:20] KrauseFx commented on #433
Sounds good, adding this now :+1:

[2016-02-12 17:20] KrauseFx commented on #434
The output shouldn't be `xcodebuild` output, but `xcpretty` formatted output that doesn't take up so much space

[2016-02-12 17:21] KrauseFx commented on #372
Thanks everyone for confirming, I'm so happy this solves the issue :smiley:

[2016-02-12 17:28] KrauseFx commented on #433
Prepared https://github.com/fastlane/snapshot/pull/435, this will be available with the next release :+1:

[2016-02-12 17:35] aaronwhite commented on #433
omg, my exact problem, solution created 7 min ago, huzzah! :+1: :100:

[2016-02-13 18:35] FreudGit opened #436 "snapshot reset_simulators = lost iOS version."
Hi

I've tried "snapshot reset_simulators". And after I cannot see all iOS version.

Most iOS version are downloaded, but all ios Version (iOS 8.x, iOS 9.x, etc doesn't appear in the dropdown on Xcode.
How to reset this? (I know I can re-add manually using "Devices, Add", but i'm sure it's a way to just reset all, and have Xcode to offer redownload the sim.)

<img width="685" alt="screen shot 2016

[2016-02-13 23:31] jeffreyjackson opened #438 "/tmp permissions"
This caused me a little issue today.  I had to `sudo rm -rf /tmp/snapshot*` before a different user on the same system could use snapshot.

[2016-02-15 11:27] ianwhite2 commented on #388
Even I am getting this error ,How You have solved this ? @vpolouchkine  pod install in fast lane file or through terminal

[2016-02-15 13:21] freynolds commented on #418
Having the same issue!
Would appreciate a workaround!

[2016-02-15 14:57] ahknight commented on #418
What I wound up doing was Volkswagoning it and only asking for push permissions if I wasn't testing (I looked at the process arguments in my case).

[2016-02-15 15:45] #412 closed

[2016-02-15 15:46] dpettit commented on #412
I ended up just using some sed statement on screenshots.html and it works just fine for my purposes.  I can share if you like, or not if it is uninteresting.

[2016-02-15 15:53] AvdLee commented on #412
Imo it would be good to share here, if other visit this issue and looking for the same solution.

[2016-02-15 16:14] dpettit commented on #412
I use the following bash script to modify screenshots.html in my process:

![screen shot 2016-02-15 at 9 03 00 am](https://cloud.githubusercontent.com/assets/403463/13053783/8f26da1e-d3c3-11e5-9a15-4b9191ae1d57.png)

Obviously, if the structure of screenshots.html changes in the future, this may need to be modified to accommodate those changes.

Also, I did not make any efforts at portability to o

[2016-02-15 16:53] freynolds commented on #418
Ok, good workarround. thanks @ahknight

[2016-02-16 13:21] jeffreyjackson commented on #399
This just started happening for me as well.  For whatever reason, snapshot has begun to hang on 'check dependencies'

[2016-02-16 14:41] rickvdl opened #439 "Issue when using an output directory using ~/"
When specifying a directory relative to the current user's home directory Snapshot saves the screenshots in a funny way.

Snapfile entry:

`# Where should the resulting screenshots be stored?`
`output_directory "~/Desktop/screenshots"`

And this is what happens:

<img width="404" alt="screen shot 2016-02-16 at 15 40 20" src="https://cloud.githubusercontent.com/assets/6663039/13079258/9e94fd4a-d4c3

[2016-02-16 15:21] jeffreyjackson commented on #399
I was able to resolve this by checking `locale` and realizing `LC_ALL` wasn't set to `en_US.UTF-8`

[2016-02-17 07:56] makadaw commented on #418
I think it makes no sense to ask push notifications on simulator, you can use
#if !(TARGET_IPHONE_SIMULATOR)
#endif

[2016-02-17 10:15] egosapien opened #440 "Device locale not changed to match language"
I apologise in advance if I've missed something in the documentation, but I spent quite a lot of time trying to get localised screenshots working properly without success. Basically, the app changes language flawlessly, but the locale/language of the simulator doesn't match. This is mainly a problem because the app involves text entry. This means that, for example, German screenshots have red unde

[2016-02-17 12:22] DipenPanchasara opened #441 "Unable to import/use SnapshotHelper.swift in Objective-C project"
I configured snapshot and generated SnapshotHelper.swift, added it to my Test Target and writing following code in Test.m file throws error

    XCUIApplication *app = [[XCUIApplication alloc] init];
    [Snapshot setupSnapshot:app];
    [app launch];

error : FastlaneDemoUITests.m:33:6: Use of undeclared identifier 'Snapshot'

It doesn't create ProductModule Header.
#import "FastlaneDemo-Swift.h"

[2016-02-17 16:11] olutsenko commented on #333
I have the same issue.

Location simulation works if running tests from Xcode (cmd+U).
Location simulation doesn't work when running 'snapshot' command.

[2016-02-17 16:24] ahknight commented on #418
That's probably a better idea, as long as you're not automating devices as well (that is, snapshot is outside your normal UI tests).

[2016-02-17 16:56] olutsenko commented on #333
As a workaround this helps me.

Make sure your simulator is set to use custom location manually before running 'snapshot'. You do it once (not for each supported simulator).

![screen shot 2016-02-17 at 17 51 34](https://cloud.githubusercontent.com/assets/303121/13117313/b39b228c-d59f-11e5-845b-6500981df9a7.png)

[2016-02-17 21:00] brentdur opened #442 "launch arguments text file persists after run"
I'm not sure if there's anything preventing the launch-args file (/tmp/snapshot-launch_arguments.txt) from being deleted after snapshot finishes. But if the file was created at the beginning of tests and removed at the end (much like /tmp/snapshot_derived) then the existence of the file could be use as the condition for whether FASTLANE_SNAPSHOT is set in the `setupSnapshot` method. (#404)

Doing

[2016-02-17 21:33] vpolouchkine commented on #388
@ianwhite2 Can you please open a new issue that contains your setup and the full log?

[2016-02-17 21:38] #396 closed

[2016-02-17 21:56] vpolouchkine commented on #408
Are you still running into this? If so, can you please update and try again?

[2016-02-17 21:57] #258 closed

[2016-02-17 21:58] vpolouchkine commented on #411
Are you still running into this? If so, can you please update and try again?

[2016-02-17 22:04] vpolouchkine commented on #291
@thelontx Are you still stuck? Happy to take a look.

[2016-02-17 22:10] vpolouchkine commented on #362
Are you still hitting this? Can you share your setup details please?

[2016-02-18 10:58] dermaaarkus commented on #441
you can write your uitests also in swift, for me it was much easier althoug my app code is objective c

[2016-02-18 15:59] KrauseFx commented on #440
Could you share your complete UI Test file?

[2016-02-18 16:11] ianwhite2 commented on #388
@vpolouchkine Pod was not installed properly thats what the issue was  and it got resolved :)
Thanks

[2016-02-18 16:35] vpolouchkine commented on #388
@ianwhite2 Glad you're up and running! :+1:

[2016-02-18 16:43] KrauseFx commented on #442
`setupSnapshot` should only be called from within UI Tests, it should never be loaded from your actual source code

[2016-02-18 17:16] brentdur commented on #442
But if UI Tests are run from Xcode rather then from the snapshot cli, `setupSnapshot` is still executed, meaning the launch args are still set (including `FASTLANE_SNAPSHOT`)

[2016-02-18 19:57] #439 closed

[2016-02-19 11:51] egosapien commented on #440
Sure thing, I went ahead and created a new project to test the issue as a sanity check. If you look at the screenshot below you can see what I mean. All the codes there, let me know if I can help.

https://github.com/egosapien/SnapshotLocalizationProblem

https://github.com/egosapien/SnapshotLocalizationProblem/blob/master/fastlane/screenshots/de-DE/iPhone6-Localization0.png

[2016-02-19 13:16] MuscleRumble opened #445 "Automatically enroll Touch ID in Simulator"
Is there a way to automatically enroll Touch ID in the iOS simulator? Every time the iOS simulator gets restarted for the next device (or language), I have to manually enable Touch ID. I'm aware that the simulator doesn't persist this setting, but maybe there is some kind of workaround?

[2016-02-19 14:41] vpolouchkine commented on #445
Great idea, but alas, not currently possible. I will share this with the team and see what we can do in a future release. I’ll reopen this ticket and keep you updated when we get a chance to revisit this, stay tuned :+1: If you want to tackle this yourself, check out the [countdown](https://github.com/fastlane/countdown) repo to learn how to contribute to fastlane.

[2016-02-19 14:41] #445 closed

[2016-02-19 15:26] vpolouchkine commented on #440
I don't believe it's possible to set the language of the simulator (see https://github.com/fastlane/snapshot/issues/365#issuecomment-172638332). Perhaps you can work around it by disabling spelling corrections?

[2016-02-19 15:55] i2amsam commented on #440
I wonder if the fix for https://github.com/fastlane/snapshot/pull/437 may also fix this.
@egosapien could you try updating the `SnapshotHelper.swift` to replace the `setLanguage` with

[code]

[2016-02-19 16:16] MuscleRumble commented on #445
Great, thanks! :+1:

[2016-02-19 18:17] gabek opened #446 "Patch simulator to set a Dynamic Type"
*Feature request*

I'd love if we could automate screenshots that set the Dynamic Type size for a session in order to verify [Text Styles](https://developer.apple.com/library/prerelease/ios/documentation/StringsTextFonts/Conceptual/TextAndWebiPhoneOS/CustomTextProcessing/CustomTextProcessing.html#//apple_ref/doc/uid/TP40009542-CH4-SW65) on different size screens, much like we can set the language

[2016-02-19 18:36] vpolouchkine commented on #446
Great idea! I will share this with the team and see what we can do in a future release. I’ll reopen this ticket and keep you updated when we get a chance to revisit this, stay tuned :+1: If you want to tackle this yourself, check out the [countdown](https://github.com/fastlane/countdown) repo to learn how to contribute to `fastlane`.

[2016-02-19 18:36] #446 closed

[2016-02-19 18:37] Blackjacx opened #447 "Recompiling for every Simulator"
Hey,

first of all great tool! But is it really necessary to recompile the app for every simulator? As far as I know e.g. XCTool can compile once and run tests on multiple devices with only a command line switch.

Can't you do the same. This would drastically reduce the time to make the screens.