[2014-11-13 00:56] SimoneCarnio opened #2 "wrong png format"
When uploading files in iTunesConnect i receive this error:

Images can’t contain alpha channels or transparencies.

[2014-11-14 17:49] letatas opened #3 "wait_for_loading_indicator_to_be_finished does not work when status bar is hidden"
When the status bar is hidden, the wait_for_loading_indicator_to_be_finished() of SnapshotHelper.js fails.

[2014-11-14 19:30] #2 closed, assigned to KrauseFx

[2014-11-15 02:36] MichaelRohs opened #4 "pass also regional settings at building"
Currently snapshot passes the language at building. This provides screenshots in different languages, which is one of the top benefits of snapshot. When the app displays fields like date, time and amount, it would be appropriate to set also the corresponding region. Otherwise you will receive screenshots with german texts and dates in US date format or vice versa, for example. Thanks.

[2014-11-15 12:21] #3 closed, assigned to nobody

[2014-11-15 15:02] SimoneCarnio opened #5 "command line parameters"
Can you add the some parameters to command line to:

1 - define output directory
2 - define schema name

[2014-11-15 16:09] letatas opened #6 "Landscape naming"
Hello (again),

When the app runs in landscape the naming of the snapshot of captureLocalizedScreenshot(). Morevover, the rect.size.height is a float and sometimes the test ==667 does not work. To fix both problems, here what I've done :

  var theSize = (rect.size.width > rect.size.height)?rect.size.width.toFixed():rect.size.height.toFixed();

  if (model.match(/iPhone/))
  {
    if (theSize > 66

[2014-11-15 16:15] letatas opened #7 "Evolution: give the Snapfile as parameter"
Hello,

This time it's more some kind of evolution, I would appreciate the possibility of giving the Snapfile as a parameter. In fact, when your script is different, for instance, for iPad and iPhone, it would be great if we could put:

snapshot Snapfile_iPhone
snapshot Snapfile_iPad

Well, if you think it's a good idea!

[2014-11-15 16:18] #6 closed, assigned to nobody

[2014-11-15 16:23] letatas opened #8 "PNG Transparent layer"
Hello (for the last time today, I hope),

When I submitted my screenshots to Apple yesterday, they have been rejected because they contained a transparent layer. I've corrected that with a quick and dirty ImageMagick script, but would it be possible to save the screenshot PNGs directly without the alpha layer?

Thanks in advance,
M.

PS : If you cannot save without alpha, I could give you the scri

[2014-11-15 16:37] #8 closed, assigned to nobody

[2014-11-15 22:14] #5 closed, assigned to nobody

[2014-11-16 17:28] woutergoossens opened #9 "US-ASCII (ArgumentError)"
Hi,

Do I need to open the simulator before I run "snapshot" or will snapshot open the simulator itself?

I have an error when I run it

/Library/Ruby/Gems/2.0.0/gems/snapshot-0.2.4/lib/snapshot/snapshot_file.rb:86:in `split': invalid byte sequence in US-ASCII (ArgumentError)

I am trying with the Example project and I have the same issue. I tried with opening the simulator but without success..

[2014-11-16 22:26] rrichter opened #10 "UIAutomation Error: The operation couldn’t be completed. (com.apple.instruments error -6.)")"
Hi Felix,

thanks a lot for your great work on snapshot! It's quite a handy :+1:

Running `snapshot --trace` with Xcode 6.1 / iOS 8.1 / OSX 10.10.1 gives me the following error message:

[code]

I traced it back to:

Runner.rb

[code]

I suspect `-t 'Automation'` to be deprecated, shouldn't this be

`instruments -t /Applications/Xcode.app/Contents/Applications/Instruments.app/Contents/PlugIns/Auto

[2014-11-17 02:36] rrichter opened #11 "Feature Request: Setup and Teardown Methods"
Wouldn't it be great to have `setup` and `tearDown` -methods which run in between language and device changes ?

**Usecase(s)**
1. Clean iossimulator before each run to have a clean state
2. Populate databases and / or user profiles
3. ...

Additions to Snapfile:

[code]

Additions to Runner.rb

[code]

What do you think?

[2014-11-17 09:14] woutergoossens opened #12 "Clear simulator"
Hi,

Is there a command to clear the simulator (like reset contents and settings) before running the snapshots?

This is because I have a login screen and after the login it would show the main screen and my UI Automation script also included filling in the credentials in the login screen.
And when I run the snapshot command for the second time, it would start with the main screen and the snapshot

[2014-11-17 09:54] vytis opened #13 "Generate screenshot thumbnails for html file"
The project I am using `snapshot` for at the moment supports 13 languages. Even taking only 10 screenshots for each language produces around 150mb worth of screenshots.
Safari seems to be having trouble when displaying the generated html file. It is still usable, but barely. Not sure what will happen when I will add the new iPhones and the iPad to the list of devices though...

[2014-11-17 15:39] hactar opened #14 "Today Extension Targets not Launched"
I am unsure if this is an instruments or snapshot issue, but reporting it here.

I'm trying to automate today-extension creation too. If you pick a today extension target in snapshot (regardless of if you're using xctool or the fallback), the app containing the widget instead of the widget is launched.

A demo project can be downloaded here: http://subzero.eu/wp-content/uploads/2014/11/Widget-Snap

[2014-11-17 16:51] #10 closed, assigned to nobody

[2014-11-18 17:14] flainez opened #15 "No support for iPad?"
Hello,

First of all thanks a lot for creating this, I'm still experimenting with it, but I feel like it will save me countless hours.

It seems that the current code does not support iPad devices... is that true? Are there plans to include it? I'm looking to the code and trying to figure it out. Unfortunately I have no experience with Ruby and I'm a bit lost... if I make it work with the iPad sim

[2014-11-18 17:29] #15 closed, assigned to nobody

[2014-11-18 18:07] #12 closed, assigned to KrauseFx

[2014-11-18 18:07] #11 closed, assigned to KrauseFx

[2014-11-18 19:05] Fogh opened #16 "Alpha channel not removed from screenshots"
The screenshots contains a alpha channel which you can't upload on iTunes Connect.

ImageMagick is installed on my computer.

[2014-11-18 19:39] muZZkat opened #17 "Populating Database"
Hi,

In your demo you use the example of populating the database, if you did run a script to pollute the database then I guess you would need to know the path of the .app?

I am trying to work out how I can preload a workout database onto the simulator app so I have some data for the screenshots.

Thanks

setup_for_language_change do |lang, device|
  puts "Running #{lang} on #{device}"
  system(".

[2014-11-19 16:13] muZZkat opened #18 "New build of app not being copied to simulator"
Hi,

I just made some changes to one of my screens to load some dummy data, when I run snapshot it seems to be building correctly but the changes are not being to the simulator. If I delete the app in the simulator its correctly installed, but if I just run snapshot it doesn't seem to push the new app.

Have you seen anything like this? Any suggestion? Logging?

Murray

[2014-11-20 06:51] #16 closed, assigned to nobody

[2014-11-20 08:49] vytis opened #19 "Remove supported language restrictions"
I am using `snapshot` as a runner for UI tests. Test suite takes screenshots at every step and we then inspect them manually.

The problem I am having is that we support Arabic, but it is not in the language list. I have added it manually to `languages.rb` and it seems to be working fine. What was the initial idea about that list? Does it contain only those languages that iTunes Connect supports?

[2014-11-20 08:51] vytis opened #20 "Add command line argument to disable alpha removal"
It is a convenient feature when generating screenshots for app submission, but it is not needed when creating them for UI testing. At the moment I am always Ctrl+C'ing after the last screenshot is made...

[2014-11-20 17:26] #19 closed, assigned to nobody

[2014-11-21 14:38] #14 closed, assigned to nobody

[2014-11-21 14:57] #20 closed, assigned to KrauseFx

[2014-11-22 06:41] achlee opened #21 ""Instruments Trace Error : Target failed to run" not trying to retry"
It looks like this is supposed to be handled gracefully, but this doesn't seem to work for me.  Here is the error:

INFO [2014-11-21 22:39:26.51]: Running tests on iPhone 4s (8.1 Simulator) in language en-US
ERROR [2014-11-21 22:39:29.44]: Waiting for device to boot...
Instruments Trace Error : Target failed to run: The operation couldn’t be completed. (FBSOpenApplicationErrorDomain error 8.) : Fa

[2014-11-22 16:02] #21 closed, assigned to nobody

[2014-11-24 18:05] #7 closed, assigned to nobody

[2014-11-26 14:58] emmanuelay opened #22 "Issue while updating to snapshot 0.3.2"
When I execute:
gem update snapshot

I get the following:
Updating installed gems
Updating snapshot
ERROR:  While executing gem ... (Gem::SpecificGemNotFoundException)
Could not find a valid gem 'snapshot' (= 0.3.2) locally or in a repository

[2014-11-26 15:45] #22 closed, assigned to nobody

[2014-11-27 10:47] stonemonk opened #24 "Rotate Landscape Screenshots"
If one rotates the device to landscape, the screenshot is not automatically rotated. It would be nice if snapshot detected and rotated it. This is something that ui-screen-shooter does already.

To test, rotate device in the automation script via:

UIATarget.localTarget().setDeviceOrientation(UIA_DEVICE_ORIENTATION_LANDSCAPELEFT);

This could be implemented in the same way that ui-screen-shooter d

[2014-11-28 13:24] dulgan opened #25 "Found 0 simulators"
Hi,
At first thanks for your work, I just discovered your other projects and wow, that'll definitely save me a lot of time as an iOS developer!

I followed your instructions and end up to the following error message :
[code]

Here is the backtrace :
[code]
Any help would be appreciated (ot the hundred of screenshot pain will kill me ;))

Ruby version :
[code]

Here are my simulators

![capture d e

[2014-11-28 14:32] kevinrenskers opened #26 "The run destination iPad 2 is not valid for Running the scheme"
Trying out snapshot for the first time. Did `snapshot init` and am simply trying to run snapshot with the default config.

Devices:

[code]

When I run snapshot, I get this error:

[code]

Any idea what this could be? It is an iOS 8 only app, is it trying to use the iOS 7 simulator or something?

[2014-12-01 20:39] kevinrenskers opened #27 ""Instruments tool failed again" for iPhone 6 Plus"
When I run snapshot, it always fails when it gets to the iPhone 6 Plus simulator. I can see my app starting over and over again in the simulator, with the error message "Instruments tool failed again. Re-trying..." in the console. The app only starts for a split second, then immediately closes and restarts again.

All other devices (iPhone 6, 5s, 4s, iPad Air) do work fine, it's only this one that

[2014-12-01 20:51] kevinrenskers opened #28 "Generated html file doesn't generate relative urls"
This is my Snapfile

[code]

The generated file now has links like these: `./screenshots/en-US/en-US-iOS-iPad-portrait-0-LandingScreen.png`, which is incorrect, it should be `./en-US/en-US-iOS-iPad-portrait-0-LandingScreen.png`

It seems it only works if the html file is in the root project folder. What I want is only a Snapfile in the root, and everything else in a subfolder called "screenshots".

[2014-12-02 10:15] #28 closed, assigned to KrauseFx

[2014-12-02 10:22] #27 closed, assigned to nobody

[2014-12-05 16:15] pronebird opened #29 "Is it possible to stop cleaning project to avoid long rebuild process?"
It takes about 20s to build my app. I am not much into digging build command and fixing `Snapfile` each time, so I think it would be nice to have a `--no-clean` flag to avoid rebuilding app each time I need to re-run a `snapshot` if automation script broke in the middle of process. And you know the process itself is quite long itself. What do you think?

[2014-12-05 16:55] pronebird opened #30 "Enable logging"
Is it possible to pass `UIALogger` messages thru to console?

[2014-12-05 20:10] pronebird opened #31 "JS script kicks in too late"
I have a splash screen that I would like to take capture. I show splash for about 2 seconds after app launched, but turns out it's not enough for JS script to kick in.

My script starts like that:

[code]

and modified capture function:

[code]

The splash is always captured somewhat in between transition to next controller. Is there anything I can about that on configuration level?

[2014-12-06 12:16] #31 closed, assigned to nobody

[2014-12-06 23:08] staxmanade opened #32 "Specifying screenshots output folder and html don't line up."
Hey - I've been playing with this tool and am impressed... Thanks!

I'm building a Cordova hybrid application and as such tweaked the output folders/locations a little as I don't want to muddy up the root of the project with iOS specific stuff.

With the following configuration in my `Snapfile` file:

[code]

It's not generating the html links correctly. With the above configuration I get the foll

[2014-12-09 15:19] #29 closed, assigned to nobody

[2014-12-17 11:32] #32 closed, assigned to nobody

[2014-12-17 11:35] #9 closed, assigned to nobody

[2015-01-01 18:37] philippsandhaus opened #34 "Command fails when multiple projects in path"
My project file is located in a path together with 8 other project fails. This currently leads to an error because snapshot looks for schemes in this path via xcodebuild -list. This command fails when there are multiple project files in the path:

    xcodebuild: error: The directory ... contains 9 projects, including multiple projects with the current extension (.xcodeproj). Specify the project t

[2015-01-01 19:01] philippsandhaus commented on #34
I have provided a fix which works for me with #36

[2015-01-04 14:54] KrauseFx commented on #34
I just added your fix: https://github.com/KrauseFx/snapshot/commit/46a6f110ef6ca83b282bc7626e43366112ede44e
I'll publish a new version later.
Thanks for contributing! :+1:

[2015-01-04 14:54] #34 closed

[2015-01-08 16:51] maremmle commented on #29
Hi, I would actually really like to have a ``no-build`` option in order to develop the ``snapshot.js`` file.

[2015-01-08 16:52] KrauseFx commented on #29
@maremmle That makes sense. But I recommend developing your `snapshot.js` file using `Instruments`, where you can try and debug your program easier and faster.

Any specific reason, why you'd prefer using `snapshot` for it?

[2015-01-08 16:54] maremmle commented on #29
Actually you are right but for some reason ``Instruments`` is acting wired. So yes, it would be very handy to be able to use ``snapshot`` as alternative.

[2015-01-08 16:57] KrauseFx commented on #29
If you want, you can build a pull request, it should be quite straight forward, take a look at this commit: https://github.com/KrauseFx/snapshot/commit/c146b4a94718703bf1b89cc471438f6b807b9f88.

In `runner.rb` you have this line
[code]
which should just not be executed, when you have the option ```--no-build```.

[2015-01-08 20:01] maremmle commented on #29
thx, this helped me to disable build locally for now. I will consider creating a PR if i find some time.

[2015-01-08 23:06] soheil opened #38 "Wrong Simulator"
It always can only open the last simulator that I was using in xcode. It times out for all the other ones.

[2015-01-09 17:08] KrauseFx commented on #38
Can you post the log of `snapshot`? Also, have you tried running snapshot for the example project in this repo? Are you running the latest version?

[2015-01-09 23:09] postmechanical commented on #13
Paths to screenshots in the html file should also be relative. As it is, you cannot zip up the output and move it around or share it with others without first removing the local absolute image paths from `screenshots.html`.

[2015-01-09 23:13] KrauseFx commented on #13
@postmechanical This is not related to this issue, is it? `snapshot` does not create thumbnails right now.

[2015-01-09 23:15] postmechanical commented on #13
@KrauseFx No, I can create a new issue for it if you want.

[2015-01-09 23:19] KrauseFx commented on #13
@postmechanical Yes, that would be great! :+1:
In the mean time you can always use `CMD` + `P` to store the report in a PDF file.

[2015-01-09 23:20] postmechanical opened #39 "Screenshots HTML file should use relative paths"
It currently uses absolute paths which is a problem for portability.

[2015-01-15 22:06] fabnoe opened #40 "Support for 8.2 Simulator?"
What about support for the 8.2 Simulator?

error: Device 'iPhone 6 (8.1 Simulator)' not found. Available device types: ["Resizable iPad (8.2 Simulator)", "Resizable iPhone (8.2 Simulator)", "iPad 2 (8.2 Simulator)", "iPad Air (8.2 Simulator)", "iPad Retina (8.2 Simulator)", "iPhone 4s (8.2 Simulator)", "iPhone 5 (8.2 Simulator)", "iPhone 5s (8.2 Simulator)", "iPhone 6 (8.2 Simulator)", "iPhone 6 P

[2015-01-15 22:18] KrauseFx commented on #40
Sorry, I haven't tried `snapshot` with t Beta release of Xcode yet

[2015-01-16 02:03] jeeeyul opened #42 "Arguments which is defined in Scheme is not passing"
I really impressed what you'v done.

However, I found 1 small problem.

I usually define a `-demo` arguments to generate sample data to take screenshot.
And I made a scheme for take screenshot, and this scheme contains `-demo` argument.

`snapshot` seems to uses scheme to build purpose only. When launches`Instrument`, the arguments that belongs to scheme are not used.
So launched app(mine) did not

[2015-01-16 02:10] jeeeyul opened #43 "Device specific automation script"
UI that runs on iPad may be different with UI that runs on iPhone. (Universal App)
It means that the automation script should have to be specified per device.

or

`Sanpfile` should have to be passed as argument.

[2015-01-16 02:13] jeeeyul commented on #42
Sadly, I fount that some comment says that passing app arguments through Instrument is not possible.

http://stackoverflow.com/questions/19218159/is-there-a-way-to-send-some-arguments-through-the-instruments-command-line-where

[2015-01-16 07:01] fabnoe commented on #40
Okay. Should not be a big issue?! I'll wait for the update.

[2015-01-16 07:36] joepasq commented on #42
I think it may be. That answer is from 2013 and he wrote a blog post in 2014 about changed introduced in Xcode 5.1: http://cocoamanifest.net/articles/2014/03/ui-screen-shooter-now-simpler-and-more-robust-since-xcode-5-1.html

[2015-01-16 08:28] fabnoe opened #44 "Support apps with WatchKit"
snapshot works fine on an empty, new project. But on my "real" project using cocoapods, frameworks etc. my screenshot is alway black (the simulator pops up and stays black too).

What's wrong? How can I debug this issue?

[code]

[2015-01-16 10:41] KrauseFx commented on #44
You can best debug it, when running your app using `Instruments`. Open your project in Xcode, click on Product -> Profile and choose `Automation`.

[2015-01-16 10:44] KrauseFx commented on #43
Thanks @jeeeyul, that makes perfect sense.

Check out this issue: https://github.com/KrauseFx/snapshot/issues/7

This is actually possible: https://github.com/KrauseFx/snapshot#specify-a-custom-snapfile

What do you think? Maybe `snapshot` should provide 2 snapshot.js files by default one for iPhone and one for iPad?

[2015-01-16 11:25] fabnoe commented on #44
Thanks for the tipp. Everything works fine in Instruments . This is where i Irecorded the .js file.

[2015-01-16 11:40] fabnoe commented on #44
snapshot seems to load the Watchkit App! But I selected the iOS App Scheme.

DEBUG [2015-01-16 12:40:05.61]: instruments -w 'iPhone 6 (8.2 Simulator)' -D '/tmp/snapshot_traces/trace' -t 'Automation' '/tmp/snapshot/build/myApp WatchKit App.app' -e UIARESULTSPATH '/tmp/snapshot_traces' -e UIASCRIPT './snapshot.js' -AppleLanguages '(en-US)' -AppleLocale 'en-US'

[2015-01-16 12:06] KrauseFx commented on #44
Woah, you're using snapshot for a WatchKit app? Sorry, I haven't tried that before.

[2015-01-16 12:06] KrauseFx commented on #44
If you can figure out the command which should be used instead of the generated one, let me know.

[2015-01-16 12:36] fabnoe commented on #44
It should be just

instruments -w 'iPhone 6 (8.2 Simulator)' -D '/tmp/snapshot_traces/trace' -t 'Automation' '/tmp/snapshot/build/**myapp.app**' -e UIARESULTSPATH '/tmp/snapshot_traces' -e UIASCRIPT './snapshot.js' -AppleLanguages '(en-US)' -AppleLocale 'en-US'

I deleted "WatchKit App". But I think we need to add this to the snapshot code?! Or can I do this in my snapshot-file?

[2015-01-16 12:51] KrauseFx commented on #44
Where does `WatchKit App` come from? Is it a scheme? A project?

[2015-01-16 12:52] KrauseFx commented on #44
Where does WatchKit App come from? Is is a project?

Yes, it might be related to the `Dir.glob`, which just takes the first app it finds.

[2015-01-16 12:59] fabnoe commented on #44
It's because the compiler generates two .app Files. Probably because the apple watch app is installed via the iPhone to the watch.

For the moment I am using .last to select the other .app file :-)

[2015-01-16 13:02] KrauseFx commented on #44
Okay, that makes sense. This also explains, why the simulator stayed black.

How are the 2 files different from each other? What's in the root in each of the `.app` folders?

I'd like to do this right, since there will be more developers facing this issue in the near future.

[2015-01-16 21:19] lightbow opened #45 "Language Code list accuracy"
In the main readme, the section titled "Available language codes" has the following list:

["da-DK", "de-DE", "el-GR", "en-AU", "en-CA", "en-GB", "en-US", "es-ES", "es-MX", "fi-FI", "fr-CA", "fr-FR", "id-ID", "it-IT", "ja-JP", "ko-KR", "ms-MY", "nl-NL", "no-NO", "pt-BR", "pt-PT", "ru-RU", "sv-SE", "th-TH", "tr-TR", "vi-VI", "cmn-Hans", "zh_CN", "cmn-Hant"]

Can you explain where this list came fro

[2015-01-16 23:30] KrauseFx commented on #45
These are the languages used by Apple von iTunes Connect. I created an app, which supports all languages available and got the list of languages from the generated xml file.
Since `snapshot`s main purpose is to create screenshots for the App Store, I think this should match it.

Does this make sense?

[2015-01-17 18:18] appcelerate opened #46 "callback method won't call"
Hi

i have a snapfile which looks like that:
devices([
"iPhone 6",
"iPhone 6 Plus",
])

languages([
'de-DE'
])
screenshots_path "./screenshots"

scheme 'Test'

project_path './Test.xcworkspace'

teardown_device do |device|
puts "Cleaning device #{device}"
system('./cleanup.sh')
end

And the teardown_device method will not called. But i don't know why.
The Script cleanup.sh works fine if i run it s

[2015-01-17 18:46] joepasq commented on #46
What version are you running? I see the `teardown_device` being called using snapshot 0.3.3. In my teardown I only call `puts` and I do not reference a `project_path`.

[2015-01-18 15:02] KrauseFx commented on #46
Thanks @joepasq, for replying. @appcelerate: make sure you have the latest version installed, update using `sudo gem update snapshot`.

If you're using an old version, there should be a big warning when you execute `snapshot`, right?

[2015-01-18 15:17] appcelerate commented on #46
@joepasq thx for helping. I referenced a wrong project path, that was the mistake, if i don't reference a project path it works

[2015-01-18 15:17] KrauseFx commented on #46
Perfect, great to hear :+1:

[2015-01-18 15:17] #46 closed

[2015-01-18 18:34] appcelerate opened #47 "some functions in snapshot.js won't call"
Hi,

i don't know why but i have a weird problem.

Ich have a snapshot.js file like this:
[code]
and i don't get the element tree in terminal and if want get a callback for alert like
[code]
it will never called. i don't know why. Have u guys some ideas :) ?

Thx for helping

[2015-01-18 18:43] joepasq commented on #47
1) does this run in Instruments? and
2) does snapshot run without your JavaScript?

What do the docs say on logElementTree: does that return a string that you must log or does it write directly to the console?

[2015-01-18 18:51] appcelerate commented on #47
I dont understand the question. I run snapshot via terminal and then the snapshot.js file will use because the taps like

 window.buttons()[0].tap();

working fine, so i don't know why the other stuff don't work and fyi UIALogger functions don't work either.

[2015-01-18 20:34] lightbow commented on #45
If it says so in the generated xml file, I guess that's the canonical truth. I'm still not solid on why the app store codes differ from iOS app localization codes, but as long as it works, I don't care. ;)

Other reference: http://samwize.com/2014/05/24/how-to-upload-many-localized-screenshots-to-itunes-connect/

[2015-01-18 20:34] #45 closed

[2015-01-18 20:35] lightbow commented on #43
+1

[2015-01-18 21:38] lightbow commented on #24
Here's something that may help you. I have an issue only in the iPhone simulator where my bottom tab bar's transparency is messed up on first launch. (not an issue on-device) To snap out of it for the sake of good screenshots, I must first rotate to upside-down using:
target.setDeviceOrientation(UIA_DEVICE_ORIENTATION_LANDSCAPELEFT);
target.setDeviceOrientation(UIA_DEVICE_ORIENTATION_PORTRAIT_UPSI

[2015-01-19 09:28] KrauseFx commented on #47
Sorry, but this is issue is not related to `snapshot`, but to `UI Automation`. What @joepasq was asking: you can run your script in `instruments`, to get a more detailed output and more debugging information. Have you tried that?

[2015-01-19 09:34] KrauseFx commented on #24
@lightbow thanks for sharing, but this will rotate all screenshots. It's okay as a workaround, until `snapshot` does it for you :+1:

[2015-01-19 14:32] tamastimar commented on #18
@KrauseFx Is there any progress on this issue?

Or can I use somehow your [latest snippet](https://github.com/KrauseFx/snapshot/issues/18#issuecomment-64920187) in `setup_for_device_change`?

[2015-01-19 14:34] KrauseFx commented on #18
Sorry, I haven't got that to be fully working yet... You can probably use something like the snippet you linked in the mean time :+1:

[2015-01-19 15:33] tamastimar commented on #18
I've got `Unknown method com` error with the following in my `Snapfile`:

[code]

[2015-01-19 15:37] KrauseFx commented on #18
@tamastimar of course, you forgot to copy the method you want to call:
[code]

[2015-01-19 15:42] tamastimar commented on #18
No, I didn't.

That's right above the `setup_for_device_change` callback. The error is because the **`com` method** is unknown. Should I include anything?

[2015-01-19 15:44] KrauseFx commented on #18
oh, right, add
[code]
above your code

[2015-01-22 06:00] appcelerate commented on #47
Its fixed :)

[2015-01-22 06:00] #47 closed

[2015-01-26 08:53] i0sdev opened #48 "No idea how to proceed."
1. `Copy the generated code into ./snapshot.js` in **Quick Start**
What is the code? Didn't find it. After run `snapshot init`, below default shows up in `snapshot.js`
[code]
2. localisation doesn't work correctly.
Using `Localizable.strings` files, including English / Japanese languages, English is fine. But when Japanese, it show some of titles/labels are Japanese, others are still English.

3.

[2015-01-26 10:12] KrauseFx commented on #48
To get up and running, you start with `snapshot init`, which will set up the project for you. Delete your `snapshot.js` before running it.

Then, take a look a `UI Automation` and how it works. It's used by `snapshot` to navigate through your app.

Have you read through the whole README?

[2015-01-26 18:01] i0sdev commented on #48
I followed **Quick Start** part in README. After `Automation` is clicked, only `var target = UIATarget.localTarget();` in the Instrument window. Is this code to replace the default content in the `snapshot.js`?

[2015-01-26 19:07] i0sdev commented on #48
ah... finally, got to know...

adjusted delay() from 1 to 3, then ok!

BUT,  still not work for snapshot of `ja-JP`.

I'm using `Localizable.strings` files for English/Japanese localisation. Does snapshot work for string files? I noticed that's localised storyboard in your demo project.

[2015-01-26 23:10] KrauseFx commented on #38
@soheil any updates on this?

[2015-01-27 00:12] #24 closed

[2015-01-27 01:33] soheil commented on #38
Yeah it's working now. Not sure what the issue was.

[2015-01-27 09:08] #38 closed

[2015-01-27 09:42] letatas commented on #7
That’s great! (Sorry for the delay!)

I’ve found another use for this feature: when I need snapshots of both iOS8 and iOS7, two snapfiles is the way.

Thanks again, it works perfectly!

M.

[2015-01-27 10:05] letatas opened #50 "Impossible to take snapshots in iOS 7.1"
Hello Felix,

I've made a snapfile for taking iOS 7.1 snapshots, and I've specified:
ios_version '7.1'

I've run it only on compatible devices (iPhone 5s, iPhone 4s and iPad Air) but the script keeps launching the Simulator in iOS 8.1.

I use Xcode 6.1.1, do you know if this is a bug or a problem on my configuration?

Here is my snapfile for more information:
[code]

[2015-01-27 16:08] i0sdev opened #51 "alpha removal seems not work"
at the end, log says `Could not remove transparency of generated screenhots.`. But didn't use `skip_alpha_removal`.

Why?

[2015-01-27 16:30] KrauseFx commented on #51
What's the complete output?

It should be
[code]

Did you install `imagemagick`?

[2015-01-28 01:03] i0sdev commented on #51
Got it! Thank you!

But localisation for `ja-JP` still not working. Could you help take a look?

[2015-01-28 03:54] i0sdev opened #52 "How to capture Launch Screen"
Noticed that `LaunchScreen.xib` localised too in the demo, but not captured. How to make it?
Tried to find and record  in Instruments, but had no idea to do it.

[2015-01-28 09:17] KrauseFx commented on #51
What do you mean by

Doesn't your app run with `snapshot` on the given language?

[2015-01-28 09:21] KrauseFx commented on #52
The Launchscreen should not be used a screenshot for the app. What do you plan to do?

[2015-01-28 09:48] i0sdev commented on #52
Is it not possible to capture launch screen or not necessary to?

[2015-01-28 09:54] i0sdev commented on #51
On my end, after a couple of tuning, `snapshots works for me, tested English, Deutsch, etc.

But when using `ja-JP`, the screenshots captured are default language (English). Tested `zh-CN` also, got same problem as `ja-JP`.

[2015-01-28 10:03] KrauseFx commented on #52
It's not possible and not necessary

[2015-01-28 10:03] #52 closed

[2015-01-28 11:05] i0sdev commented on #51
Updates:

Tested `ja-JP` and `ja` in `snapfile`, `snapshot` can works for both of them.
`zh-CN` in `snapfile`, not work.
`zh` in `snapfile`, works.

[2015-01-28 11:06] KrauseFx commented on #51
So what you're saying, I should replace `sh-CN` with `zh` in the list of available languages?

[2015-01-28 12:13] tooolbox opened #53 "Latest Apple Screenshot Guidelines Require No Status Bar"
In your readme, you recommend SimulatorStatusMagic to make the status bar look good.

However, the latest apple guidelines on submitting screenshots require that the status bar not be in the screenshot.

See: https://developer.apple.com/library/ios/documentation/LanguagesUtilities/Conceptual/iTunesConnect_Guide/Appendices/Properties.html

Where it's clearly stated:
"Don’t include the device status

[2015-01-28 13:32] KrauseFx commented on #53
Thanks for your feedback.

Apple recommends not including the status bar **only** on older iPhone models (3.5 and 4 inch), for the latest models, it is **required** to have the status bar (at least according to the docs you linked)

Apple itself also includes the status bar in its Apps:
https://itunes.apple.com/us/app/find-my-iphone/id376101648?l=en&mt=8
https://itunes.apple.com/us/app/find-my-fri

[2015-01-28 20:58] pbenkoe commented on #26
I had the same problem - meaning that when I used <code>iphoneos</code> the build was successful, but i couldn't launch it in the simulator. When i used <code>iphonesimulator</code> i got the error with the iPad 2 destination. As in @kevinrenskers case, the iPad 2 7.1 simulator showed up as the first element in my project in XCode (which was not the case in the snapshot example project, which is t

[2015-01-28 22:19] KrauseFx commented on #48
Sorry, but this is not related to `snapshot`, but to `UI Automation`.

Please run the same script using `Instruments` to better debug this problem. `snapshot` just launches `UI Automation` which is part of `Instruments`.

[2015-01-28 22:19] #48 closed

[2015-01-28 22:20] KrauseFx commented on #43
@jeeeyul does that solve your problem?
@lightbow What are you +1? You want to have 2 `snapshot.js` files for iPhone and iPad by default?

[2015-01-28 22:21] KrauseFx commented on #40
Perfect, glad to hear :+1:

[2015-01-28 22:21] #40 closed

[2015-01-28 22:21] KrauseFx commented on #51
The original issue about `alpha_removal` is fixed. Please create a separate issue for your language problem.

[2015-01-28 22:21] #51 closed

[2015-01-28 22:24] KrauseFx commented on #50
Sorry, `snapshot` currently does not officially support older iOS versions.

You can see the executed commands. Do they look right? Does `snapshot` correctly set the right iOS version? If so, it's a problem of `Instruments` I guess.

[2015-01-28 22:26] KrauseFx commented on #42
Hey @jeeeyul,
Glad you like `snapshot`. If you know which command to use to launch `UI Automation` with a scheme, I can happily implement it into `snapshot`.

You see the used commands when running `snapshot`. Just modify it and run it manually to try if it works. If you find a way, submit a new issue and I can implement it :+1:

[2015-01-28 22:26] #42 closed

[2015-01-28 22:40] KrauseFx commented on #30
Sorry it took so long, here we go: https://github.com/KrauseFx/snapshot/releases/tag/0.4.4 :+1:

[2015-01-28 22:40] #30 closed

[2015-01-28 23:06] tooolbox commented on #53
Interesting, you're correct: they only mandate no-status-bar on the 3.5 and 4 inch, the iPhone 6 and 6 Plus say nothing about the status bar.

However, the iPad also mandates no status bar...

You know, with what you pointed out, Apple has made the issue too ambiguous.  I'll let it drop--your thoughts on keeping the status bar for some photos sounds reasonable.

Thanks for making snapshot!

[2015-01-28 23:11] KrauseFx commented on #53
Yes, but as you see, even Apple adds the status bar on its apps screenshots. The rule is really old and mostly makes sense on smaller screens.

I'll close this issue for now. The goal of `snapshot` is to create new screenshots. You can then modify the screenshots however you want, including trimming :+1:

[2015-01-28 23:11] #53 closed

[2015-01-29 13:51] letatas commented on #50
Hello,

In fact when I set the 7.1 ios_version, the command-line is still :

instruments -w 'iPhone 4s (8.1 Simulator)' -D '/tmp/snapshot_traces/trace' -t ...

It does not seem to take in account at all the ios_version tag.

Any hint to overload this command line?

Thanks in advance,
Matthias.

[2015-01-29 19:08] KrauseFx commented on #17
I just successfully integrated it - in your `Snapfile` do the following:

[code]

[2015-01-29 19:08] #17 closed

[2015-01-30 17:32] KrauseFx commented on #18
I further investigated, this is not a caching problem of `xcodebuild`, but really a simulator/instruments issue. I'll further investigate, since this issue must be fixed soon!

[2015-01-30 17:55] KrauseFx commented on #18
Looks like my current solution works, I'll keep trying a few apps and release a new version later today :+1:

[2015-01-30 22:43] KrauseFx commented on #18
I'm happy to say, this issue is finally fixed: https://github.com/KrauseFx/snapshot/releases/tag/0.4.5

Update to the latest version and let me know if it works for you too. By default it will now re-install the app. In case you don't want this, see https://github.com/KrauseFx/snapshot/releases/tag/0.4.5

:ship:

[2015-01-31 00:46] feralbob commented on #12
Is there anyway that we can get the UUID of the device in the blocks too?  e.g. So instead of shelling out and having to do shell stuff to get the UUID I could to something like

setup_for_device_change do |device, uuid|
   puts "Preparing device: #{device}"
   system("xcrun simctl erase #{uuid}")
end

[2015-01-31 11:00] KrauseFx commented on #12
Thanks @feralbob, it's merged :+1:

[2015-01-31 17:12] KrauseFx commented on #39
You are completely right, I'll fix this right now! Thanks!

[2015-01-31 17:30] #39 closed

[2015-01-31 17:30] KrauseFx commented on #39
I'll release a new version soon :+1:

[2015-01-31 17:53] KrauseFx commented on #43
Just released: https://github.com/KrauseFx/snapshot/releases/tag/0.4.6

Check out the updated README how to have an iPad automation file :+1:

[2015-01-31 17:53] #43 closed

[2015-02-01 19:41] postmechanical commented on #39
Thanks!

[2015-02-02 11:14] sarunw opened #55 "Error on "Run custom shell script 'Embed Pods Frameworks""
My project use Cocoapods, and when I use snapshot (integrated with fastlane) it failed on this script.

[code]

[2015-02-02 12:43] KrauseFx commented on #55
`snapshot` uses `xctool` to build your app. You can use any other build script or build command if it doesn't work. All `snapshot` needs is a `.app` bundle.

`snapshots` puts out the command it uses before actually running it. You can run it manually and will probably receive the same error.

If you find the error, you can also pass your own build command: https://github.com/KrauseFx/snapshot#cust

[2015-02-02 12:43] #55 closed

[2015-02-02 16:17] paulheyer commented on #4
This is actually a bug in Xcode which can be bypassed by setting the application language in project's build schemes: [Workaround on Stackoverflow](http://stackoverflow.com/questions/24588105/changing-language-on-ios-8-1-simulator-does-not-work)
Not sure if this can be handled by snapshot.

[2015-02-03 10:14] appcelerate opened #56 "Some javascript commands will block (iPad - modalViews)"
Hi,

if i run this script in UIAuomation
[code]
it will run perfectly
but if run this with the snapshot.js it won't make this part
[code]
and so in my opinion is snapshot this action blocking but don't know why.

This is only an issue with the iPad in connection to Modal Views

[2015-02-03 13:48] letatas opened #57 "NoMethodError in v.0.4.7"
Hello Felix,

I've just installed v.0.4.7 and on the iPad, I have a NoMethodError, here is the stack trace :

[code]

[2015-02-03 14:17] maciekish opened #58 "UI Testing"
Hi,
i guess this is in the wrong place but i wanted to raise the question: Since snapshot can run UIAutomation scripts against multiple simulators, is there some component of Fastlane that will only run UI tests as a step?

Thanks
Maciej

[2015-02-03 15:47] KrauseFx commented on #58
Hey Maciej,
What do you mean by `UI tests`? Just regular Unit Tests from Xcode? If so, there is a step for `xctool`. I guess I didn't fully understand your question, sorry.
Felix

[2015-02-03 15:48] KrauseFx commented on #56
Hey,
You are right, this is caused by `snapshot`. `snapshot` will wait for the loading indicator on the status bar to disappear before taking a screenshot.

Check it out here: https://github.com/KrauseFx/snapshot/blob/master/example/SnapshotHelper.js#L4

You can just remove this `wait_for_loading_indicator_to_be_finished()` from your helper to remove this part.

Is the loading indicator shown? Hav

[2015-02-03 15:49] maciekish commented on #58
No, Unit Tests in Xcode don't support UI Automation (tapping, swiping and verifying that something is indeed visible on the screen).

I am thinking about something like https://github.com/enriquez/uiauto but it hasn't been updated for a very long time and is broken.

I am thinking since snapshot is able to launch the correct simulator run a UI Autimation script against it and save the screenshots,

[2015-02-03 15:50] KrauseFx commented on #57
Mh, can you take a look into your screenshots folder and see if all generated screenshots are non damaged png files? Looks like `snapshot` couldn't determine the size of a screenshot.

[2015-02-03 15:57] KrauseFx commented on #58
Oh, now I see. That's exactly what `snapshot` does. You don't need to take any screenshots. `snapshot` just launches your UI Automation file and you can run any integration tests you want. It is a similar project to https://github.com/jonathanpenn/ui-screen-shooter, which is not actively developed any more.

[2015-02-03 15:59] maciekish commented on #58
But is it safe to use for testing? Will it stop the entire Fastlane build if a test fails etc? I thought maybe things like this were skipped because its a screenshot tool not a testing tool.

[2015-02-03 18:52] KrauseFx commented on #56
Do you call `captureLocalizedScreenshot`? If so, what happens if you remove the line?

[2015-02-04 12:40] matteogobbi opened #59 "Multiple schemes"
Hi,
as developer in a large product I would need to be able to take screenshot in several schemes automatically.

I calculated that to take 5 screenshot in 6 different schemes for 10 different languages and 5 different devices, I need to leave it working 12.5 hours over night (and 1500 screenshots).

It is strongly needed something to call `snapshot` on the next scheme.

Thanks.

[2015-02-04 14:56] triangletodd commented on #59
Hi Matteo,

I have a project with close to 100 schemes (96 IIRC). I solved this problem by taking my screenshots concurrently via a Jenkins parameterized build on a few OSX Jenkins slaves that we have running and storing them on Google Drive. Then, at build time, I have a make task that pulls all the screenshots into my workspace. That make task is a dependency of the make task that kicks off my d

[2015-02-04 20:58] KrauseFx commented on #59
Hey,

I solved it by having multiple projects, using the same core. Not sure how to be solve it with having hundreds of schemes.

What do you suggest?

[2015-02-05 10:09] artem-alexandrov opened #60 "OSX (or WindowServer) Crash when snapshot is running"
I'm getting black screen (every single app crashed including Finder) once up on a time snapshot is running

It happens when script is starting instruments, but I can't find crashlogs :(

I'll try to investigate for a reason of such annoying behavior.

---------------------------------
OK, it happen again, here is my system.log output:

[code]

Looks like it caused by simulator:
[code]

[2015-02-05 10:36] KrauseFx commented on #60
I'll take a closer look, in the meantime use `snapshot` like this: `SNAPSHOT_SKIP_UNINSTALL=1 snapshot`.

[2015-02-05 10:36] artem-alexandrov commented on #60
but i need to uninstall :`(

[2015-02-05 10:37] KrauseFx commented on #60
Can you also post the full `snapshot` output by piping it into a file?

[2015-02-05 10:42] tomquist opened #61 "Allow snapshot to be used for non Xcode projects"
We're using snapshot to do automated screenshots for our Xamarin iOS app. It works great, however it doesn't work out of the box:
* Xamarin projects neither have a ``.xcworkspace`` nor a ``.xcproject``, however snapshot requires one of them even when you supply a custom ``build_command``. What I did was creating an empty directory called ``<MyProjectName>.xcworkspace``
* Snapshot looks for ``** BU

[2015-02-05 10:48] KrauseFx commented on #61
This makes sense, right now `snapshot` is quite tightly coupled with `xcodebuild`.

If you have some time, I'll happily merge a pull request :+1:

[2015-02-05 11:00] nicked opened #62 "Language != locale"
(Firstly, thanks for the great tool!)

I realise the list of languages you're using is from those supported by iTunes Connect (https://github.com/KrauseFx/snapshot/issues/45) but those codes are not valid ones to pass to AppleLanguages and AppleLocale.

The examples from the documentation are "de" for AppleLanguages and "fr_FR" for AppleLocale. Snapshot is using "de-DE" and "fr-FR" respectively.

[2015-02-05 11:04] tomquist commented on #61
I'm really not a ruby expert but I'll happily give it a try when I get the time to.

[2015-02-05 11:26] artem-alexandrov commented on #60
omg.. looks like it doesn't crash if piping to file 0_0

[2015-02-05 12:30] maciekish commented on #58
That sounds great, thanks!

[2015-02-05 12:30] #58 closed

[2015-02-05 12:36] KrauseFx commented on #58
Let me know if you're happy with how `snapshot` works :+1:

[2015-02-05 13:42] artem-alexandrov commented on #60
Really.. and works much faster.
The last lines of output before crash was:
1.
DEBUG [2015-02-05 12:15:19.07]: xcodebuild -sdk iphonesimulator CONFIGURATION_BUILD_DIR='/tmp/snapshot/build' -workspace '/Volumes/Data/Projects/imawsg/awesome.xcworkspace' -scheme 'Application' DSTROOT='/tmp/snapshot' OBJROOT='/tmp/snapshot' SYMROOT='/tmp/snapshot' clean build

2.
DEBUG [2015-02-05 11:17:12.50]: instrum

[2015-02-05 13:43] KrauseFx commented on #60
So, does it always work if you pipe the output? :open_mouth:

[2015-02-05 13:44] artem-alexandrov commented on #60
Yes.. no more crashes :)

[2015-02-05 13:44] KrauseFx commented on #60
So I guess it should **not** output the result of the `xcrun` commands then?

[2015-02-05 13:49] artem-alexandrov commented on #60
I don't think that problem in what is in output..
I also think that chance somebody else will get this problem is close to zero :)
I'll live with pipe, so you could just close this issue for now :)

[2015-02-05 13:59] KrauseFx commented on #60
Mh, I got the crashing windows server once as well, but I thought it was fixed.

[2015-02-05 16:02] triangletodd commented on #59
@KrauseFx

I assume that is directed at @matteogobbi? I pointed out how I solved the problem in my above statement. I have a fairly elaborate Deliverfile and I believe that my solution(s) would port easily to a Snapfile. It all gets driven by a Makefile which does the looping over the schemes and handles building. If there is enough interest I would be more than happy to show you what I have (afte

[2015-02-05 16:50] douglaslondrina commented on #26
I have a related problem that don't have to do with snapshot, but maybe help you debug it.
When I try to build with xcodebuild and there is a device connected to the usb port, this same error occurs.
¯\_(ツ)_/¯

[2015-02-05 18:41] matteogobbi commented on #59
Ti is exactly what I think it is needed.
@triangletodd why don't you contribute to this repository with a pull request :P

[2015-02-06 13:55] alex566 opened #63 "Request: add scheme param"
Could you please add parameter "scheme" for the snapshot utility because writing like this:
[code]
Is easier than setting up two snapfiles..

Right now i've found a workaround (i've removed scheme from SnapFile):
[code]

[2015-02-07 01:16] bwolak opened #65 "ios_version in Snapfile is not respected"
[possibly the same this closed issue: https://github.com/KrauseFx/snapshot/issues/50]

Snapshot version 0.4.7

I am using the XCode Beta, so all the sims I want to use are iOS 8.2. Starting with an untouched Snapfile, I made two changes:
1. uncommented ios_version '8.1' line
2. changed '8.1' to '8.2'

Result:
[code]

[2015-02-07 15:15] KrauseFx commented on #65
Thanks Benjamin for your detailed report.

It really looks like, `snapshot` ignores the given iOS version, I'll find a fix tomorrow.

What Watchkit issue are you referring to?

[2015-02-07 15:18] KrauseFx commented on #63
So, you're not using any `Snapfile` when running `snapshot`?

Take a look at the README: https://github.com/KrauseFx/snapshot#scheme

You can use
[code]

[2015-02-07 19:15] bwolak commented on #65
Cool, thanks for looking into it.
Should have been specific about Watchkit issue. It's this one: https://github.com/KrauseFx/snapshot/issues/44

For now I've changed
`@app_path = Dir.glob("/tmp/snapshot/build/*.app").first`
to
`@app_path = Dir.glob("/tmp/snapshot/build/MyApp.app").first`
in runner.rb to prevent the watch app from being selected and launched.

[2015-02-08 15:40] hanneskaeufler commented on #17
Did any of you guys manage to replace an empty `.sqlite` with a prefilled one for a `CoreData` backed app?

[2015-02-08 16:03] #65 closed

[2015-02-08 16:04] KrauseFx commented on #50
Just pushed a fix for this: https://github.com/KrauseFx/snapshot/commit/7dcc0cfce30b635783a66e1347f9867f07dd30bc

Could you try it and let me know if it works as expected? Install using `sudo bundle install` and `sudo rake install`.

[2015-02-08 16:04] #50 closed

[2015-02-08 16:04] KrauseFx commented on #65
Just pushed a fix for this: https://github.com/KrauseFx/snapshot/commit/7dcc0cfce30b635783a66e1347f9867f07dd30bc

Could you try it and let me know if it works as expected? Install using `sudo bundle install` and `sudo rake install`.

[2015-02-09 17:47] #63 closed

[2015-02-09 17:47] KrauseFx commented on #56
Do you still have this issue?

[2015-02-10 12:13] tdgunes opened #67 "Invalid byte sequence in US-ASCII in simulators.rb"
Hello,

After ```sudo gem install snapshot```,
```snapshot init ``` returned:

[code]

I checked my ruby version and gem version, they are:

ruby --version
```ruby 2.0.0p481 (2014-05-08 revision 45883) [universal.x86_64-darwin14]```

gem --version
``` 2.0.14 ```

I checked another similar issue, and tried a solution which is mentioned there. I changed UTF-8 locale on my machine by:

[code]

After

[2015-02-10 15:08] KrauseFx commented on #67
I don't know why, but only some users run into this problem. We should probably add this somewhere in the README.

[2015-02-10 18:38] KrauseFx opened #68 "Provide a setup.js to init values"
By tapbot_paul: https://twitter.com/tapbot_paul/status/565217558752550912

https://twitter.com/KrauseFx/status/565218119057424385

[2015-02-10 22:35] KrauseFx opened #69 "Lightbox for HTML summary"
With Arrow support: https://twitter.com/tapbot_paul/status/565277566408597508

[2015-02-10 22:36] KrauseFx opened #70 "Prepend to build command"
https://twitter.com/tapbot_paul/status/565234306369327104

solution: https://twitter.com/KrauseFx/status/565234640185999361

[2015-02-11 02:00] bwolak commented on #65
Thanks for the update. I just got a chance to try it out.

The ios_version is from Snapfile is being read now (I tried the same tests as above), that seems great. :+1:

Possible regression: when I run snapshot with the default configuration (except for uncommenting and changing ios_version to '8.2'):

INFO [2015-02-10 17:33:08.21]: Using './Snapfile'
/usr/local/lib/ruby/gems/2.1.0/gems/snapshot-0.

[2015-02-11 09:36] KrauseFx commented on #65
Thanks, should be fixed with https://github.com/KrauseFx/snapshot/commit/a03114bcd58cd1bcd8814b10c0c4205e53ac225e

Could you try it? It looks like you have either zero or multiple js files in the current directory, so `snapshot` couldn't automatically choose one.

Anyway, the error message was wrong and should be fixed now :+1:

[2015-02-11 16:00] appcelerate commented on #56
i won't call it

[2015-02-11 17:03] nguyenhuy opened #72 "[Question] js_file as an argument?"
Can I pass `js_file` as an argument to `snapshot` command? Or it has to be in `Snapfile`? Thanks.

[2015-02-11 17:21] KrauseFx commented on #72
No, sorry. But you could do something like this:

`Snapfile`:

[code]

run using

[code]

Does that help?

[2015-02-11 17:26] bwolak commented on #65
Ah, you're right. I had an additional .js file from a previous screenshotting adventure.

[2015-02-11 17:29] nguyenhuy commented on #72
yes, that would do it, but still looks kind of ugly to me :)
Is a PR for this kind of thing welcome? I might try to give it some love (no promise though).

[2015-02-11 17:30] KrauseFx commented on #72
Sure, pull requests are very welcome, thanks :+1:

[2015-02-11 17:30] #72 closed

[2015-02-11 18:15] #70 closed

[2015-02-12 14:29] tdgunes commented on #67
FYI, I am using zsh with iTerm in my Mac OS X 10.10 MBP Retina Mid 2012.

[2015-02-13 09:20] sendhil commented on #57
Bumped into this as well for the iPad.

[2015-02-13 09:54] sendhil commented on #57
Ahhh - it's not that it fails on the iPad, it just fails when the screenshots directory isn't the default directory as the report is assuming that's where the file is. See https://github.com/KrauseFx/snapshot/blob/7571cf3453231f5323fd7bc44fb4f0a195a4bda9/lib/snapshot/page.html.erb#L44

[2015-02-13 12:30] KrauseFx commented on #60
I just verified: Did you manually launch the simulator while `snapshot` was running? I've used `snapshot` a lot recently and it worked just fine. During development I started the iOS simulator myself, which then caused the problem you described.

[2015-02-13 12:31] KrauseFx commented on #57
What was I thinking?

[code]

Anyway, I just pushed a fix: https://github.com/KrauseFx/snapshot/commit/c1f39bd0f919be50b8f2cf4ffad4f19acc410a9b

Could you try the new version by downloading this repository and run `sudo bundle install` and `sudo rake install`?

If it works, I'll release a new version :+1:

[2015-02-13 12:36] artem-alexandrov commented on #60
Nope, I didn't.

[2015-02-14 01:03] sendhil commented on #57
@KrauseFx - the path variable that was yanked here(https://github.com/KrauseFx/snapshot/commit/c1f39bd0f919be50b8f2cf4ffad4f19acc410a9b#diff-dcca1464f1e8760a1dd7cf53a0d3581cL43) is needed over here (https://github.com/KrauseFx/snapshot/commit/c1f39bd0f919be50b8f2cf4ffad4f19acc410a9b#diff-dcca1464f1e8760a1dd7cf53a0d3581cL45).

Otherwise I get this:
[code]

[2015-02-14 01:06] appcelerate opened #73 "NSLocale Issue"
I use NSLocale to show the right currency.
And if i run Snapshot it shows me a weird character
![weird](https://cloud.githubusercontent.com/assets/9802659/6197865/002581d0-b3ee-11e4-9ec1-d4caba992966.png)
The left character i mean will shown instead of $ for example and this character will shown in every NSLocale.

But in ui screen shooter it works :/ so i think this is an snapshot issue.

Thanks

[2015-02-14 01:12] joepasq commented on #73
Can you log what locale your app is detecting when it displays this?

[2015-02-14 01:18] appcelerate commented on #73
I found the mistake...

i forgot the underscores like de_DE or fr_FR

...no comment :dash:

[2015-02-14 01:18] #73 closed

[2015-02-15 16:47] KrauseFx commented on #57
Oh, sorry about that. Just pushed a fix: https://github.com/KrauseFx/snapshot/commit/756fec20789d8f350e8e72dc4b801b2375d69e6b

[2015-02-16 12:44] pbenkoe opened #74 "same filename for iPad Air and iPad 2 screenshots"
hey,

i'm stoked about snapshot, it's a great tool and it already saved me a lot of time with creating screenshots in several languages :)

i stumbled upon a little problem though. snapshot is saving the screenshot files made with the "iPad Air" and "iPad 2" simulator under the same name, which results in overriding of the iPad Air files with the iPad 2 files. is there a way to set the name of the

[2015-02-16 18:14] joepasq commented on #74
The ReportsGenerator is also only using `"iOS-iPad" => "iPad"` in the available devices method.

[2015-02-16 21:24] KrauseFx commented on #74
I wasn't aware you could run `snapshot` for both `iPad Air` and `iPad 2`. Anyway, as @joepasq mentioned, its main use it to upload the generated screenshots to the App Store, where it falls under the same category.

[2015-02-17 09:35] doppelganger9 opened #76 "ios_version in Snapfile is not used ?"
I want to run snapshot on an older iOS version.
This seems to be a feature documented in Snapfile; I uncommented the line with ios_version to enable this.
But when I run snapshot, it does not seem to take it into account, as it still uses the latest SDK simulator.

I have installed both versions of iOS installed, here is the result of xcrun simctl list:
[code]

And "instrument -s" (as it seems to

[2015-02-17 10:31] KrauseFx commented on #76
Ups, sorry, forgot to push a new version, it should be live now: https://github.com/KrauseFx/snapshot/releases

[2015-02-17 10:31] #76 closed

[2015-02-17 10:31] KrauseFx commented on #76
Let me know if it works. Please update using `sudo gem update snapshot` :+1:

[2015-02-17 10:56] letatas commented on #50
Great! It works with iOS 7.1 now. Thanks !

M.

[2015-02-17 11:11] KrauseFx commented on #50
Great to hear :+1:

[2015-02-17 12:37] #57 closed

[2015-02-17 12:51] joepasq commented on #74
As @pbenkoe wrote: “which results in overriding of the iPad Air files with the iPad 2 files.”

The iPad simulators I have available (Xcode 6.1.1) are iPad 2, iPad Air, iPad Retina and (maybe this counts?) Resizable iPad.

Minus resizable I just ran snapshot with all three iPad simulators. Only three screenshots were saved (per @pbenkoe should be 9). I do agree that snapshot should not collide file

[2015-02-17 12:56] doppelganger9 commented on #76
Thank you it works perfectly !

[2015-02-17 13:19] mythodeia opened #77 "timeout issue"
Hey Krause,
just tried snapshot and getting a weird terminal timeout issue.
Bear in mind that the simulator does opens but
-> it does not open the app itself.
-> its not the simulator i added in the ```Snapfile```
i tried it both with & without SNAPSHOT_SKIP_UNINSTALL=1
as well as with noclean

[code]

and my snapfile:
[code]

[2015-02-17 13:24] joepasq commented on #77
What `ios_version` did you specify or did you leave it default?

[2015-02-17 13:25] pbenkoe commented on #74
thanks @joepasq and @KrauseFx for clarifying.
since i'll only use the screenshots for iTunes Connect and i only need one resolution for all iPad versions there, my problem has been solved. :)

[2015-02-17 13:25] mythodeia commented on #77
i did not specify the ``` ios_version ```

[2015-02-17 13:50] KrauseFx commented on #74
@joepasq the crash you described was fixed with the latest version, please update using `sudo gem update snapshot`

[2015-02-17 13:52] KrauseFx commented on #77
You can run the generated `instruments` command yourself and will probably receive the exact same error.
Try restarting your Mac, maybe that solves the proble.m

[2015-02-17 13:54] mythodeia commented on #77
i restarted but got the same issue.
Is it something you have seen before? Maybe i am doing something wrong that i am not aware of...

[2015-02-17 13:56] KrauseFx commented on #77
I haven't seen this before. Does the same error occur when you run the command manually?

[2015-02-17 13:57] KrauseFx commented on #77
This user seems to have the same problem: https://github.com/appium/appium/issues/3835

[2015-02-17 14:01] mythodeia commented on #77
yes...same error in manual mode as well
 :(

[2015-02-18 23:40] matijaSos opened #78 "cannot run snapshot on OS X"
I installed snapshot via `sudo gem install snapshot`, but every time I run it with `snapshot`, I get:
(My brother also tried on his linux machine and the same thing happens to him)

[code]

I would appreciate any help, I'd really like to use snapshot!

P.S: I manually installed fastimage and now it works! I guess it should be added to dependencies?

[2015-02-19 12:53] #78 closed

[2015-02-19 12:53] KrauseFx commented on #78
`snapshot` does not work on Linux.

Thanks for letting me know, there really was a dependency missing. It's fixed now :+1:

[2015-02-19 13:14] KrauseFx commented on #78
Fixed with the latest release: https://github.com/KrauseFx/snapshot/releases/tag/0.4.10

[2015-02-19 15:42] plaetzchen opened #79 "Make SNAPSHOT_SKIP_UNINSTALL configurable in the Snapfile"
In my app users will receive a tutorial screen on first run so I need to use SNAPSHOT_SKIP_UNINSTALL so that snapshots will work as intended. Is there no way to configure this behavior in the Snapfile?

[2015-02-19 15:44] plaetzchen opened #80 "SNAPSHOT_SKIP_UNINSTALL does not only skip the uninstall but will also not update the app"
If I use the environment variable SNAPSHOT_SKIP_UNINSTALL the app will not be uninstalled from the simulator (great) but also the simulator does not use version that was build by xctool before taking the screen shots. Any way to fix this?

[2015-02-19 16:14] KrauseFx commented on #79
Right now, no. I'm working on unifying the API of all tools on this issue https://github.com/KrauseFx/fastlane/issues/45

which will then allow you to define it this option in your `Snapfile`

[2015-02-19 16:21] KrauseFx commented on #80
Unfortunately that's a bug in `Instruments`, that's why `snapshot` will re-install the app by default.

The only way to fix it right now is to not skip the uninstall.

[2015-02-19 16:22] KrauseFx commented on #80
Original issue: https://github.com/KrauseFx/snapshot/issues/18

Let me know if you have any ideas how to fix this :+1:

[2015-02-19 16:22] #80 closed

[2015-02-19 16:26] plaetzchen commented on #80
Thank you for your fast reply. Unfortunately I have no idea how to fix this right now. I use a preprocessor macro to skip the login now.

[2015-02-20 08:42] plaetzchen opened #81 "App stuck in launch screen when running snapshot"
Hi,

Sorry to bother you again. My app gets stuck in the launch screen when snapshot runs the instruments command. My build command looks like this:

[code]

I also tried the commands that snapshots builds with xcodebuild and xctool. Both had the same problem. Running the instruments command by hand has the same issues but produces no error. Running instruments from Xcode has no Problems what so e

[2015-02-20 09:20] KrauseFx commented on #81
Does this happen on every device? Try only enabling one device type and run `snapshot`.

Sometimes the project settings are set wrong and it can only run on some architectures.

[2015-02-20 09:21] plaetzchen commented on #81
It happens on all simulator devices but only with this app. I tried running an empt app with only one VC and it runs like a charm. Also every other Instruments isn't working. Trying to find it with Instruments now.

[2015-02-20 09:38] KrauseFx commented on #81
This sure has something to do with your project settings. I can't tell you what exactly, but it's probably related to the enabled architectures. If you find the exact problem, I'd like to update the README with the exact steps to fix this.

[2015-02-20 10:49] plaetzchen commented on #81
OK I found it. The problem was that I fired a network request in a viewDidLoad: method (d'oh!) and this together with the AFNetworkActivityIndicatorManager lead to a crash that only occurs when running in simulator with Instruments. Any way sorry for bothering you with this. I don't think this is something for the README ;)

[2015-02-20 10:49] #81 closed

[2015-02-21 23:51] FredericJacobs opened #82 "Xcode 6 and pre-populated databases"
Hi,

I was wondering if there is a known technique to populate the app container before the app launches.
Now with Xcode 6 the container ID is randomized at every install making it impossible to pre-emptively populate a app's container.

What are the alternatives?

[2015-02-21 23:53] KrauseFx commented on #82
You can find some code samples here: https://github.com/KrauseFx/snapshot/issues/17

Also there are helper methods available: https://github.com/KrauseFx/snapshot/issues/11

In general, you can just modify the `.app` before installing and then moving the database from the app into the `Documents` folder.

Does that help?

[2015-02-21 23:56] joepasq commented on #82
This isn't quite what you're asking, but what I do is:

1. Duplicate Release configuration.
- Add a compiler flag to that configuration.
- Add a new scheme (AutoScreenshots) that uses that configuration.
- Add conditional code that runs only with that scheme's configuration's compiler flag.
- Change snapshot to use that scheme.

Would this help at all or is it not applicable to your situation?

[2015-02-21 23:57] FredericJacobs commented on #82
Thanks for the feedback!  I'll figure something out based on these answers.

[2015-02-21 23:57] #82 closed

[2015-02-22 00:04] letatas opened #83 "Custom args for the build command in the wrong place"
Hello Felix,

It's me... again... I wanted to try using the custom args for the build command to use a special macro for the screenshots, and it seems the args are non rightly located within the command line:

GCC_PREPROCESSOR_DEFINITIONS='SCREENSHOTS' xctool -sdk iphonesimulator CONFIGURATION_BUILD_DIR='/tmp/snapshot/build' -project '/.../xxx.xcodeproj' -scheme 'xxx' DSTROOT='/tmp/snapshot' OBJRO

[2015-02-22 00:05] KrauseFx commented on #83
Does the command on the bottom work?

[2015-02-22 00:09] letatas commented on #83
Yes, I’ve tried both on my shell, and the second one is the right one.

M.

[2015-02-22 00:18] FredericJacobs commented on #82
I was eventually hoping to be able to have a reference to the container of the app to prepopulate the documents folder but I don't think it's possible with this current version.

[2015-02-22 00:21] KrauseFx commented on #82
Yes, as you mentioned, with the latest release, the folder name is randomised. AFAIK there is no stable to way to retrieve the full path to the folder :disappointed:

[2015-02-23 13:03] einfallstoll commented on #26
I've got the same issue, but I was able to fix it really quickly. I set the deployment target of the project to `7.1` but my target pointed to `8.0`. I deleted the deployment target of my target and set it to `8.0` in my project.

[code]

[2015-02-23 21:38] fsosa opened #86 "iPad orientation not detected correctly"
When running snapshot to take screenshots of an iPad in landscape orientation, the orientation is not correctly detected by snapshot and as a result, the resulting screenshots are not rotated correctly.

My workaround currently is to to manually set the orientation in snapshot.js with

    target.setDeviceOrientation(UIA_DEVICE_ORIENTATION_LANDSCAPERIGHT);

which ends up working correctly.

This o

[2015-02-24 15:47] cl3m commented on #18
I still have problems where the app run in instrument is not the builded version.

Instead of calling reinstall_app I do :

[code]

That way when instruments is started a second time, it is loaded correctly

[2015-02-24 15:49] KrauseFx commented on #18
So, you run this **instead** of the few `com` commands `snapshot` currently uses?

[2015-02-24 16:00] cl3m commented on #18
yes. I don't want to reset the simulator but you could add this step with an option.

[2015-02-24 20:32] bassrock opened #87 "Embed Pods frameworks Issue"
It seems that snapshot is having an issue copying the Cocoapods framework.

I get an error on the Embed Pods Framework Phase:
[code]

Also a bit up the line I see a warning:

[code]

[2015-02-24 20:42] bassrock commented on #87
Should also note that this builds fine with the rest of the fastlane toolset

[2015-02-24 20:43] KrauseFx commented on #87
Please post your full output shown by `snapshot`.

[2015-02-24 20:46] bassrock commented on #87
Here it is with appropriate names changed to Demo and Company:

[code]

[2015-02-24 21:05] KrauseFx commented on #87
Okay, so if you run

`xctool -sdk iphonesimulator CONFIGURATION_BUILD_DIR='/tmp/snapshot/build' -workspace '/Users/daniel/Documents/Work/Company/Demo/DemoiOS/Demo.xcworkspace' -scheme 'Demo' DSTROOT='/tmp/snapshot' OBJROOT='/tmp/snapshot' SYMROOT='/tmp/snapshot' clean build`

you'll probably receive the exact same error.

And if you replace `xctool` with `xcodebuild` you'll get the same error. Thi

[2015-02-24 21:27] bassrock commented on #87
Yep that failed. But if I remove the snapshot settings in that line it succeeds.  I went through the build settings and based on your line there it looks like it should be running a build for iphonesimulator but in the link phase it is trying to link with the the actual device library:

[code]

[2015-02-26 09:06] letatas commented on #83
Great, I’ll wait for the release, thanks again Felix!

M.

[2015-02-26 09:14] letatas opened #89 "Prevent computer to go asleep"
Hello Felix,

Is it possible for snapshot to prevent the computer to go asleep while running. In fact, as my scripts take a long time (200 screenshots) I sometimes go away, but when I come back it's stuck because it went asleep in the meanwhile.

I know it's not a bug, I don't even know if it's possible, but I think it could be useful.

Thanks in advance,
M.

[2015-02-26 12:52] ccarnino commented on #62
Hello everybody.
I experienced the same problem. Changing "de-DE" to "de" and "fr-FR" to "fr", made the app show the string in the expected way.
I had also to do the change for Chinese (cmd vs zh).

 I hope you're going to find a solution to this issue.
Thanks a lot!

[2015-02-26 16:27] KrauseFx commented on #62
Hey, sorry for not replying earlier on this issue.

So all I have to change is to pass the locale on the `instruments` command, which is generated by removing the second part, but only if the first and second parts are the same?

Have you tried this?

[2015-02-26 19:39] KrauseFx commented on #89
Hey, I don't think that's possible. I guess for now you can just use https://itunes.apple.com/de/app/caffeine/id411246225?mt=12 or something similar.

[2015-02-26 19:54] letatas commented on #89
Thanks, I'll check it out!

M.

[2015-02-27 14:09] KrauseFx commented on #9
Did you use `sudo` to run `snapshot`? Maybe `sudo` is causing the problem.

[2015-02-27 14:09] KrauseFx commented on #67
Did you use `sudo` to run `snapshot`? Maybe `sudo` is causing the problem.

[2015-02-28 00:54] raulriera commented on #44
I can confirm this issue, tried running snapshot on this project http://github.com/raulriera/Bike-Compass (has Watch app) and it always opened the Watch app, no matter what I do. I ended up removing the targets entirely to make it work

[2015-02-28 13:44] tdgunes commented on #67
No, I did not. :confused:

[2015-03-02 10:04] plaetzchen opened #90 "Error when running: snapshot_file.rb:15:in `eval': string not matched (IndexError)"
Hi,

I rerun my fastline command today after one week not using it and I keep getting this error when running snapshot:

[code]

Any ideas how to fix this?

Thanks for your help,
Philip

[2015-03-02 10:26] askay opened #91 "setup_for_language_change should be called after reinstall_app"
In runner.rb:

          SnapshotConfig.shared_instance.blocks[:setup_for_language_change].call(language, device) # Callback
          reinstall_app(device, language) unless ENV["SNAPSHOT_SKIP_UNINSTALL"]

The device can never be set up correctly as a result.

[2015-03-02 10:39] KrauseFx commented on #91
Good point, nice catch! :+1:

[2015-03-02 10:40] KrauseFx commented on #91
Honestly, I'm not sure if we need 2 blocks, one for language, one for device? I guess we could drop that and have just one block for `prepare_device`. What do you think?

[2015-03-02 11:01] askay commented on #91
is the idea that we'd just call prepare_device for each language? i think that would be fine, so long as you're still passing the UDID. i hacked an ugly script to copy my demo data to the simulator location.

in other words:
      reinstall_app(device, language) unless ENV["SNAPSHOT_SKIP_UNINSTALL"]
      SnapshotConfig.shared_instance.blocks[:prepare_device].call(language, device, udid) # Callbac

[2015-03-02 13:56] plaetzchen commented on #90
Seemed to be fixed after cleaning some stuff from the Snapfile. Never mind.

[2015-03-02 13:56] #90 closed

[2015-03-02 14:06] KrauseFx commented on #90
Yes, it was just some error in the `Snapfile`.

[2015-03-02 14:09] plaetzchen commented on #90
I actually have some ruby code in the Snapfile that modifies a JSON file for a mocked server response that is used in the screenshots. It needs to be there because there is noway to run a custom command before the snapshot build command is run or is there?

[2015-03-02 14:10] KrauseFx commented on #90
You mean something like this? https://github.com/KrauseFx/snapshot#custom-callbacks-to-prepare-your-app

[2015-03-02 14:23] plaetzchen commented on #90
Yes but this callbacks all run after the app is built. But I would need to change a file in the bundle of the app so those won't help much.

[2015-03-02 14:24] KrauseFx commented on #90
Okay, then having some code just in the `Snapfile` directly is a good way to do so.

[2015-03-02 16:42] powtac commented on #69
+1 I was thinking the same. When I have the time I will try to add lightweight lightbox to the HTML source.

[2015-03-02 17:37] KrauseFx commented on #69
If you have some experience with HTML/JS/CSS, this would be a really cool pull request :+1:

My HTML/JS code always turns out so hacky :stuck_out_tongue_winking_eye:

[2015-03-02 19:55] askay commented on #91
Are there any instructions on how I can edit the gem on my computer? I tried gem unpack/build/install, but that didn't work.

[2015-03-02 20:23] KrauseFx commented on #91
Download the repository as zip and run `sudo bundle install` and `sudo rake install` after editing the source files.

[2015-03-03 20:36] ehlersd commented on #68
+1

[2015-03-04 14:58] powtac opened #94 "Snapfile ignored - syntax error?"
When running snapshot (v 0.4.12 and v 0.4.13) with the [default Snapfile](https://github.com/KrauseFx/snapshot/blob/master/example/Snapfile) but uncommented the `schema 'MySchema'` line it seems that everything inside the Snapfile is ignored. `snapshot` asks me which schema to choose... But also says `Using './Snapfile'`

When deleting everything inside the Snapfile but only placing `schema 'MySch

[2015-03-04 19:08] bassrock commented on #87
So /tmp/snapshot/build/Pods-Demo/ is never created. So it seems that the Pods are not being built into the tmp snapshot directory.

[2015-03-04 19:26] bassrock commented on #87
Created a reproducible demo here on the snapshot issue branch: https://github.com/bassrock/CocoaPodsIssueDemo/tree/snapshotissue

just run:

[code]

[2015-03-05 10:12] #69 closed

[2015-03-05 10:16] powtac opened #96 "Open default browser with screenshots.html after successful generation"
Or at least do offer the ability at the end of the script with `[Y/n]`.

*This is only a feature request idea. Not sure if that fits into the general fastlane paradigm...*

[2015-03-05 14:36] dral3x opened #100 "Populate app Documents/Library folder"
Hello there,

I would love if we could pre-populate the device Documents (and Library) folder in the simulator before taking screenshots. This will allow us to prepare the app taking those file from an .xcappdata file to make screenshots consistent.

Sort of preparing the app manually on the device, save the FULL state of it locally in the .xcappdata file, then copy the content inside the simulato

[2015-03-05 16:38] KrauseFx commented on #100
Currently, the recommended way is as described in this GH issue: https://github.com/KrauseFx/snapshot/issues/17#issuecomment-72084383

Does that help? I guess the documentation is not yet complete in that area :disappointed:

[2015-03-05 17:17] dral3x commented on #100
Thanks for the suggestion but that solution doesn't work because those files have no sense inside the app bundle.
They must be place inside the app Documents folder.

[2015-03-05 17:20] KrauseFx commented on #100
No, the point is to only temporary put it into the app's bundle and let the app's binary move the documents over to the Documents folder.

I agree, it's not super easy right now, there is room for improvement.

[2015-03-05 17:22] dral3x commented on #100
I'll do some more tests and let you know.
Thanks !

[2015-03-05 18:06] dral3x commented on #100
After more tests I can tell that the main problem is that those callbacks are called before reinstalling the app itself, so I cannot look for it and place those files.

There is any other callback between the app installation and its run?
Looking at runner.rb it seams not :)

[2015-03-05 18:08] KrauseFx commented on #100
That's true, `snapshot` **will** delete the app from the simulator, but this doesn't change the app bundle in the `/tmp` folder.

[2015-03-05 18:11] dral3x commented on #100
Got it.

Thanks !

[2015-03-05 19:07] bassrock commented on #87
I believe this may be a cocoa pods issue, so I have entered a an issue here: https://github.com/CocoaPods/CocoaPods/issues/3231

[2015-03-05 23:26] bassrock commented on #87
Looks like this is an issue with cocoa pods: https://github.com/CocoaPods/CocoaPods/issues/3220

[2015-03-06 16:33] HughJeffner opened #101 "Fails when product name has an apostrophe"
`${EXECUTABLE_NAME}` is derived from `${PRODUCT_NAME}` so if you have an apostrophe in it then the output executable has an apostrophe as well.  When snapshot invokes the instruments command this is not properly escaped:

[code]

[2015-03-06 16:40] KrauseFx commented on #101
The output of the executed command really helped in that case :+1:

[2015-03-06 17:51] almassapargali commented on #101
@KrauseFx Could this be an issue on [this line](https://github.com/KrauseFx/snapshot/blob/master/lib/snapshot/runner.rb#L89) too?

[2015-03-06 17:54] #101 closed

[2015-03-06 17:55] KrauseFx commented on #101
Thanks @almassapargali, looks good.

@HughJeffner Could you download the repository as zip and run `sudo bundle install && sudo rake install` and let me know if that fixes your problem?

[2015-03-06 20:01] HughJeffner commented on #101
With the update I get this:
[code]
Which does not work.  Shouldn't it be more like this?

[code]
Running that in shell works

Thanks

[2015-03-09 12:16] powtac commented on #13
`sips` can be used with a quality parameter. I'm wondering if the second highest quality param would reduce the file size dramatically.

[2015-03-11 05:24] KrauseFx opened #104 "Automatically fetch the currently installed iOS version"
Get rid of https://github.com/KrauseFx/snapshot/commit/4387ae1497d51160b7eddfede25cc0be0572bca2

[2015-03-11 07:32] paweldudek commented on #104
Calling

`xcodebuild -version -sdk`

will result in a list of installed SDKs, along with available versions.

[2015-03-11 18:04] KrauseFx commented on #96
I agree, this makes sense. I'll implement this when I'm refactoring `snapshot` to use the new configuration system of `fastlane_core` :+1:

[2015-03-11 18:04] KrauseFx commented on #94
Sorry, hard to tell, could you post the complete `Snapfile` which was causing the problem? Sorry for the late reply, somehow missed that issue.

[2015-03-11 18:11] powtac commented on #94
The problem still exists. You can see that Snapfile is found but ignored.

[code]

The current Snapfile

[code]

[2015-03-11 23:36] powtac commented on #94
I found the solution! It is related to the line encoding! It was "Old Mac Format".

How to reproduce the problem:

1. In atom.io install the `line-ending-converter`
1. Open a Snapfile
1. Via the Menu select `Packages > Line Encoding Converter > Convert To Old Mac Format`
1. Save the Snapfile.
1. Run `snapshot`
1. The Snapfile will be ignored.

BTW: formated with Windows line formatting it worked.

[2015-03-12 00:28] powtac opened #106 "Displaying the passed parameter of captureLocalizedScreenshot() on cmd line"
While running snapshot sometimes errors in the execution of snapshot.js occur for example because of different position of buttons, reasoned of different device types/screen sizes.
For me it is hard to figure out where exactly the script fails because on the command line is says only:
[code]
It would be helpful in the described situation to have the argument that was passed into the `captureLocali

[2015-03-12 08:25] powtac commented on #94
I did a `diff` I think snapshot was correct.
[code]
So the whole file was somehow formatted in a single line with strange line breaks (see http://en.wikipedia.org/wiki/Newline#Common_problems).

[2015-03-12 08:25] #94 closed

[2015-03-12 09:03] KrauseFx commented on #94
Thanks for investigating and letting me know :+1:

[2015-03-12 09:06] KrauseFx commented on #106
I don't think that's possible. `snapshot` uses the terminal output when running `Instruments`:

[code]

You could copy and run the `instruments` command shown and run it manually to see the output. Let me know if you find a way to fetch that information.

[2015-03-12 09:06] #106 closed

[2015-03-12 09:53] powtac commented on #106
I checked already the source code and I don't see an easy way to achieve this. :-/

[2015-03-12 09:54] powtac opened #107 "Add schema name as title into generated HTML"

[2015-03-13 15:05] fulldecent opened #108 "File pollution"
Running `snapshot init` should create a new folder and put all your stuff in that folder. I have enough files in my root folder TYVM

[2015-03-13 15:34] KrauseFx commented on #108
Ah, don't worry, you can just create a new folder called `fastlane` or even `.fastlane` and put your `Snapfile` and the other files in there. If you use [fastlane](https://github.com/KrauseFx/fastlane) it will automatically be moved there.

But you can also just create the folder without using `fastlane` :+1:

Does that solve your problem?

[2015-03-13 20:07] fulldecent commented on #108
Yes, that solves it.

[2015-03-13 20:07] #108 closed

[2015-03-14 10:42] KrauseFx commented on #107
Why would you want this? I don't that makes sense for all apps, if you have a scheme, just named `Debug` for example

[2015-03-14 11:05] #104 closed

[2015-03-14 11:05] KrauseFx commented on #104
Thanks @paweldudek :+1:

[2015-03-14 11:08] #89 closed

[2015-03-14 11:08] #83 closed

[2015-03-14 11:11] KrauseFx commented on #68
@ehlersd sorry, I missed the point here... what should it be used for again?

[2015-03-14 11:11] KrauseFx commented on #77
There is not much I can do at this point. Do you still run into this problem?

[2015-03-14 11:11] #77 closed

[2015-03-14 11:12] #67 closed

[2015-03-14 11:13] KrauseFx commented on #60
Are you still running into this problem? I've been using this for quite some time now and didn't run into any crashes.

[2015-03-14 11:14] KrauseFx commented on #59
Is it okay to close this issue? Anything you'd like to further discuss?

[2015-03-14 11:14] #59 closed

[2015-03-14 11:14] KrauseFx commented on #56
Any news on this?

[2015-03-14 11:27] KrauseFx commented on #13
Yes, but this would result in storing the screenshots multiple times. I'll close this issue for now.

[2015-03-14 11:27] #13 closed

[2015-03-14 11:58] KrauseFx commented on #44
@raulriera Thanks for providing an example project. I fixed that issue and will release a new version later next week :+1:

[2015-03-14 11:58] #44 closed

[2015-03-14 11:58] KrauseFx commented on #96
This is implemented with the next version :rocket:

[2015-03-14 11:58] #96 closed

[2015-03-14 11:59] KrauseFx commented on #91
This is fixed with the next version, thanks for letting me know :+1:

[2015-03-14 12:25] artem-alexandrov commented on #60
I didn't, but I didn't tried also )

[2015-03-14 17:41] fishstix opened #109 "Further segment resulting html"
This is a great tool.  I've produced a script that's generating 30 images per language/device.  This will likely increase dramatically.  It would be great to have the ability to segment those 30 images into their own subsections. (e.g. 5 views of our app's WebView, 5 views of various configs of the Home screen, etc...).

[2015-03-14 18:22] powtac commented on #96
:-)

[2015-03-15 18:40] matteogobbi commented on #59
At the end I created a bash script to iterate the different schemes. Cheers!

[2015-03-16 21:55] zauberware commented on #40
As 8.2 is out now, it would be helpful to add this to the documentation of the snapfile.

[2015-03-17 03:20] stonemonk commented on #79
@plaetzchen

If you only need to skip a tutorial screen, you probably don't need the SNAPSHOT_SKIP_UNINSTALL option.  Rather, you can use this in your Snapfile:

custom_args "GCC_PREPROCESSOR_DEFINITIONS='SCREENSHOTS'"

then in your app code, you can have different behavior depending on mode:

#ifdef SCREENSHOTS
  // do special snapshot mode behavior
#else
  // do normal behavior (show tutorial sc

[2015-03-17 09:16] KrauseFx commented on #40
I already prepared `snapshot` to automatically use the latest iOS version. In the mean time, please just insert the `ios_version` to your `Snapfile`.

[2015-03-19 21:12] KrauseFx commented on #91
Fixed with https://github.com/KrauseFx/snapshot/commit/e20202f6d0b463224f048f33f9d6e016f6e22844

[2015-03-19 21:12] #91 closed

[2015-03-20 16:16] wireframe opened #110 "Application launched not in clean state"
I thought snapshot would delete / re-install the app cleanly for each simulator, but my app is launching the iOS 8.2 iPhone 6 version in the same state as when I test via XCode.  anything I can do to *force* snapshot to launch each version cleanly?

[2015-03-21 11:21] KrauseFx commented on #110
It should clean install the app, can you post the log?

[2015-03-23 06:48] victorfigol opened #111 "device orientation broken ?"
The following used to produce snapshots perfectly, not anymore. The exported images are not properly rotated (tried iPhone & iPad)

var target = UIATarget.localTarget();
target.setDeviceOrientation(UIA_DEVICE_ORIENTATION_LANDSCAPERIGHT);

[2015-03-23 06:58] victorfigol opened #112 "screenshots.html with custom image names"

[2015-03-23 14:20] wireframe commented on #110
upon further investigation, it appears that this isn't an issue with snapshot.  Rather, it's an issue with iOS not clearing the keychain when an app is uninstalled.  My oauth credentials are being cached via the NXOauth2Client library and the user is automatically logged in afterwards.

I will have to [manually detect and clear the cache](http://stackoverflow.com/questions/4747404/delete-keychain-

[2015-03-23 14:20] #110 closed

[2015-03-23 21:13] appcelerate opened #113 "Device Locale will not change"
With the new Xcode Version i can't use snapshot.
Its not possible to change the Locale via snapshot.

Its always English.

But the Device Langauge will Change. Is this true?
If i changed the language in the simulator it works.

newest snapshot version

[2015-03-24 10:17] KrauseFx commented on #113
Which version of Xcode? A beta version?

[2015-03-24 11:11] appcelerate commented on #113
Version 6.2 (6C131e)

my languages are

languages([
 'en_US',
 'de_DE',
 'pt_PT',
 'fr_FR',
 'it_IT',
 'jp_JP',
 'ru_RU',
 'zh_Hans'])

[2015-03-24 11:12] appcelerate commented on #113
maybe the problem is, i init fastlane and instead of using fastlane i only use snapshot command?

[2015-03-25 06:13] askay commented on #91
Thanks. I'm afraid I haven't had time to verify.

[2015-03-26 09:30] appcelerate commented on #113
@KrauseFx, any updates?

[2015-03-26 09:35] KrauseFx commented on #113
Is it only the Carrier that's not working? Maybe this is also related to https://github.com/KrauseFx/snapshot/issues/62

Anyway, I can really recommend using https://github.com/shinydevelopment/SimulatorStatusMagic, as this will remove the Carrier text on the top left.

[2015-03-26 09:37] appcelerate commented on #113
No not only the Carrier. I use for my App Geo Coords and i have a ReverseGeoCoder which gave me the Adress of a GeoPoint but they gave me always the english version of the adress.
The other stuff like NSLocalizedStrings are working perfect :)

[2015-03-26 16:55] CraigSiemens opened #114 "Unable to create a preprocessor definition"
I'm tying to add a preprocessor definition so I can skip my apps onboarding flow when taking screenshots. Unfortunately it never works and `SCREENSHOTS` is never defined.

In my snapfile I've added the following.
`custom_args "GCC_PREPROCESSOR_DEFINITIONS='SCREENSHOTS'"`

In my project I've added the following.
[code]

[2015-03-26 16:57] KrauseFx commented on #114
I haven't used it myself, here's the original issue: https://github.com/KrauseFx/snapshot/issues/83

Maybe @letatas or @cbot could help here?

[2015-03-26 16:59] CraigSiemens commented on #114
Actually, it might just be a documentation issue. Using `custom_build_args` instead of `custom_args` solves the problem.

`custom_build_args "GCC_PREPROCESSOR_DEFINITIONS='SCREENSHOTS'"`

[2015-03-26 17:02] KrauseFx commented on #114
Oh, right, one is used for the build, the other one to run.

[2015-03-26 17:48] #112 closed

[2015-03-27 04:25] winzig opened #115 "How to determine which localization is currently running?"
Is there a way to know which localization is running, so that I can vary my javascript code in snapshot.js based on localization?

[2015-03-27 12:45] i0sdev opened #116 "Many pieces of image slices found after snapshot finished."
Besides the whole screenshots captured by Snapshot, also found many small slices images of respective whole screenshots under the folder /Snapshot.

Are they right? How to avoid these slices generated?

[2015-03-27 15:04] KrauseFx commented on #116
As far as I know, they are only stored if an error occurred when executing `UI Automation`.

[2015-03-27 15:06] KrauseFx commented on #115
`snapshot` uses `UI Automation` to run the tests. You might find something interesting in this article: https://www.innoq.com/blog/phaus/2011/01/using_uiautomation_for_multila.html

[2015-03-27 15:20] winzig commented on #115
That must be the only person that's written about it, ;-) because that is actually the thing I'm using to try and do some of these things. But the problem is, whenever I use those techniques within snapshot.js, it always thinks I'm running in English mode, i.e. that's what I get from:

`application.preferencesValueForKey("AppleLanguages")[0]; // always returns "en"`

[2015-03-27 15:29] KrauseFx commented on #115
Ha, I remember how I solved this:

This should solve your issue: https://github.com/KrauseFx/snapshot/blob/master/example/SnapshotHelper.js#L53-L54

[code]

This will return the language, which is used in the file name.

[2015-03-27 15:39] winzig commented on #115
Thanks so much! BTW, I love what you've done here and with fastlane in general.

[2015-03-27 15:39] #115 closed

[2015-03-28 16:03] KrauseFx commented on #115
Thanks @winzig :+1:

[2015-03-28 17:44] appcelerate commented on #113
@KrauseFx any Idea :/ ?

[2015-03-28 19:30] KrauseFx commented on #113
Sorry, I don't know and I haven't had time to look into this.

[2015-03-28 20:07] fabnoe opened #118 "error: expected type after 'as'"
I got an error with a project that compiles with xCode. What's wrong with the Alamofire Pod?

pod 'Alamofire', :git => "git@github.com:Alamofire/Alamofire.git", :branch => 'xcode-6.3'

myprojrect/Pods/Alamofire/Source/Alamofire.swift:82:93: error: expected type after 'as'

        var mutableURLRequest: NSMutableURLRequest! = URLRequest.URLRequest.mutableCopy() as! NSMutableURLRequest

[2015-03-28 20:09] KrauseFx commented on #118
`snapshot` prints out the compile command it uses when running. Try copy&pasting it and run it for yourself to see a more detailed error message. If you want to provide a custom build command, you can do so using the `Snapfile`.

Let me know if you need more help.

[2015-03-28 20:09] #118 closed

[2015-03-28 20:15] fabnoe commented on #118
xctool -sdk iphonesimulator CONFIGURATION_BUILD_DIR='/tmp/snapshot/build' -workspace 'myapp.xcworkspace' -scheme 'myapp' DSTROOT='/tmp/snapshot' OBJROOT='/tmp/snapshot' SYMROOT='/tmp/snapshot'  clean build

This produces the same error. Maybe xctool uses the wrong SDK?

[2015-03-28 20:21] KrauseFx commented on #118
Probably, you can provide your own build command if you want.

[2015-03-29 14:10] appcelerate commented on #113
Ok sorry for the hard communication :) i thought that i am not the only one with this issue. Because this issue only appears if you are using ReverseGeoCoder. If u want more Details about the Project or u have time to look into this feel free to contact me.

[2015-03-29 19:42] KrauseFx commented on #113
Sure thing, thanks for understanding. Take a look at the submitted issues on the tools, there is so much to do, and can't work on everything at the same time :wink:

If you have time to look into this, I'll happily merge a pull request :+1:

[2015-03-30 09:42] onato opened #119 "Show Different Orientations on Different Lines in the HTML Report"
I would like to have each orientation on a different row in the HTML report. Does this make sense to you?

**For Example**
iPhone 4s (Portrait)
iPhone 4s (Landscape Left)
iPhone 6 (Portrait)
iPhone 6 (Landscape Left)

This would let me catch issues where certain view controllers do not support landscape when they should.

[2015-03-30 13:14] KrauseFx commented on #119
I guess it makes sense, if you want to work on this, check out the file generating the HTML page: https://github.com/KrauseFx/snapshot/blob/master/lib/snapshot/page.html.erb

[2015-03-30 14:35] paweldudek opened #120 "Issue with using old version of Xcode"
I've ran into an interesting issue when using snapshot and an old version of Xcode.

A bit of introduction. We're actually using `deliver` which then pulls `snapshot` under the hood. Moreover our build system is capable of deployment using an old version of Xcode (which we need for Enterprise dist for some clients) by using:

[code]

Now the problem is that this messes with how snapshot finds simu

[2015-03-30 15:47] KrauseFx commented on #120
You mean, `deliver` calls `snapshot` under the hood? I just checked, there is no dependency between `deliver` and `snapshot`.

[2015-03-30 16:00] paweldudek commented on #120
We might be using a really old `deliver` version, I see that in latest version this dependency has been removed. :wink:

However, my point still stands - it would be better to invoke that logic only if `snapshot` has actually been used rather than invoking this any time it's loaded into runtime.

[2015-03-31 07:41] KrauseFx commented on #120
`snapshot` is never used is run time, you must have used a **really, really** old version, where there was no `fastlane` yet. With the introduction of `fastlane`, there are no dependencies between `deliver` and `snapshot`, not even on run time.

[2015-03-31 07:41] #120 closed

[2015-03-31 19:00] bassrock opened #121 "Apple Watch"
Ok, I'll be that guy. With submissions now allowed and the guidelines set. Apple watch screenshot support would be awesome or this awesome toolset!

The guidelines are here: https://developer.apple.com/app-store/watch/

[2015-04-01 11:56] onato commented on #74
The issue with supporting the iPad Retina is that `UIATarget.localTarget().rect()` returns 1024x768 on both the retina and air simulators.

[2015-04-02 18:01] KrauseFx commented on #119
Implemented with https://github.com/KrauseFx/snapshot/pull/122

Thanks again :+1:

[2015-04-02 18:01] #119 closed

[2015-04-02 18:02] #68 closed

[2015-04-02 18:03] KrauseFx commented on #61
This now possible thanks to the awesome @apalancat with https://github.com/KrauseFx/snapshot/pull/123

Check out the updated documentation for further information.

[2015-04-02 18:03] #61 closed

[2015-04-02 18:03] #56 closed

[2015-04-02 18:04] #18 closed

[2015-04-02 18:04] #116 closed

[2015-04-02 18:04] KrauseFx commented on #100
This should be resolved with the latest version :+1:

[2015-04-02 18:04] #100 closed

[2015-04-02 18:05] KrauseFx commented on #109
I agree, this would probably be pretty nice :+1:

[2015-04-02 18:05] KrauseFx commented on #113
This issue seems to be related https://github.com/KrauseFx/snapshot/issues/4, moving further discussions to https://github.com/KrauseFx/snapshot/issues/4

[2015-04-02 18:05] #113 closed

[2015-04-04 14:56] #114 closed

[2015-04-05 20:01] bassrock commented on #121
Damn. This may not even be possible for the time being.

https://developer.apple.com/library/ios/releasenotes/DeveloperTools/RN-Xcode/Chapters/Introduction.html

UIAutomation is not available for the Watch with the current Xcode release.

[2015-04-05 21:35] KrauseFx commented on #121
Oh, but does that mean Apple is working on it?

[2015-04-05 21:37] bassrock commented on #121
I would hope so. It seems like the Watch acts as an external display in the simulator, and this is technicality the first "external iOS device" so who knows.. The other solution that could be jerry rigged is something that controls the mouse input but that should only be if  gives us no solution anytime soon.

[2015-04-07 13:15] dral3x commented on #100
Skipping the installation of the app helps my flow. Thanks !

[2015-04-07 13:55] KrauseFx commented on #100
Great to hear :+1:

[2015-04-12 02:41] koedal commented on #115
This should be in the readme. Great project! Thanks!

[2015-04-12 08:47] KrauseFx commented on #115
@koedal done: https://github.com/KrauseFx/snapshot/commit/e92817505bed5c98591f5b3430a95c631c31df58

[2015-04-12 17:18] jilouc commented on #4
The locale can be passed as a launch argument the same way the language is, using the `AppleLocale` argument, e.g.:

    -AppleLocale en_GB

But there is an another issue with these parameters: the iTunes Connect language code used for screenshots and app description, changelog etc. is not necessarily the same as the one passed to AppleLanguages.
For simplified Chinese, with a Chinese locale:

* `

[2015-04-13 02:01] mpprdev opened #126 "snapshot fails with error: reinstall_app': undefined method shellescape'"
~/.rvm/gems/ruby-2.1.4/gems/snapshot-0.6.1/lib/snapshot/runner.rb:94:in `reinstall_app': undefined method `shellescape' for []:Array (NoMethodError)

Note: I have rvm installed and ruby version is 2.1.4 on Yosemite

[2015-04-13 08:30] KrauseFx commented on #126
Uh, looks like it can't import `shellwords` somehow or imports an old version. Do you have `shellwords` installed and the latest version? It looks like I forgot to specify that in the `.gemspec` file.

[2015-04-13 20:37] mpprdev commented on #126
Not sure if ```shellwords``` is a seperate gem. Here's what I see.
[code]
BTW, version 0.5.0 of snapshot works fine - something is not right in 0.6.0 and 0.6.1

[2015-04-14 11:21] muZZkat opened #127 "Add "-Snapshot" or a custom parameter to instruments command"
I would like to pass some custom parameters to the application so it knows its running for snapshot. I've seen a few questions before about it and if you prepend the arguments to the end of the instruments command then it should work. Right now, i just check [[NSProcessInfo processInfo] arguments] for "-AppleLanguages" but I would prefer to check for a custom argument or just "-Snapshot".

Thanks

[2015-04-14 14:14] KrauseFx commented on #127
You mean something like this?

https://github.com/KrauseFx/snapshot#custom-args-for-the-build-command

In your code, you can use an `#ifdef` to check if it's `snapshot`.

[2015-04-14 15:01] muZZkat opened #128 "UIAutomation error"
Hi,

I have a script that was working fine, but not fails. It still works fine when using in instruments but only fails when using snapshot, have you seen this before?

target.frontMostApp().navigationBar().buttons()[2].tap();

in Snapshot this is causing an exception,

UIAutomation Error: Script threw an uncaught JavaScript error: Cannot perform action on invalid element: UIAElementNil from targe

[2015-04-14 15:11] muZZkat commented on #127
Ah, perfect. I was thinking arguments for the instruments command but build/preprocessor is just fine.

Thanks

[2015-04-14 15:11] #127 closed

[2015-04-14 15:20] KrauseFx commented on #127
Is there any way I could improve the project documentation to make this clearer?

[2015-04-14 15:24] muZZkat commented on #127
I don't think so, its very clear but I just had stuck in my head that I wanted it to pass it as a argument to the instruments cmd as this would be the same as arguments passed from a scheme.

[2015-04-14 18:56] muZZkat commented on #128
I still haven't found a solution, since updating to Xcode 6.3 for some reason navigationBar() is returning UIAElementNil when run from the command line but works fine when using instruments. Sigh.

[2015-04-17 10:10] powtac commented on #107
When you have multiple browser tabs open, the generic title tells not much.

*low priority*

[2015-04-17 11:10] jaroslavas commented on #128
I think I have similar issue. I'm trying to set TextVields value with:
[code]
and  get error:
[code]
The same stuff works fine in instruments.

[2015-04-17 12:29] KrauseFx commented on #128
I cannot tell why UI Automation behaves differently when running via the command line. If you know how to work around this issue please let me know.

[2015-04-17 16:14] tp commented on #107
How about adding the app's name? All those `KrauseFx/snapshot` tabs don't help with organization :smiley_cat:

[2015-04-18 15:34] muZZkat commented on #128
I got it working, but I wouldn't say it was a very nice work around.

I had to change the way I got the navigationBar using the elements()[] and finding the right window then using elements[] again to find the navigationBar, for some reason the navigationBar() and several other methods just return NIL, it took hours of trial and error :(

The code is now extremely fragile now as its using indexes

[2015-04-19 10:19] powtac commented on #107
Very good idea!

[2015-04-19 10:20] KrauseFx commented on #107
I'll happily merge a pull request of whatever you come up with :+1: :smiley:

[2015-04-19 10:21] KrauseFx commented on #107
Keep in mind, you probably don't know the app name, as the Xcode project is optional. Probably based on the `.app` file it should work.

[2015-04-19 14:23] jilouc commented on #4
Well it seems that I was partly wrong in my previous comment. You can use the iTunes Connect language id for the `AppleLanguages` and `AppleLocale` arguments.

But we definitely need the ability to specify a custom locale id in some cases (see #131).

[2015-04-19 14:30] KrauseFx commented on #4
Thanks @jilouc! Moving further discussion to https://github.com/KrauseFx/snapshot/pull/131 :+1:

[2015-04-19 14:30] #4 closed

[2015-04-21 11:18] fousa commented on #87
So at the moment we can't use snapshot when we use Pods? Or is there a workaround?

[2015-04-21 14:30] KrauseFx commented on #87
@fousa `snapshot` should work just fine with a CocoaPods project, using it in 3 different ones.

[2015-04-21 14:40] fousa commented on #87
I don't really understand. I'm having the exact same issue. I'm not sure what I'm doing that makes this error occur.

This is my Fastfile:

[code]

[2015-04-21 15:51] bassrock commented on #87
The issue occurs when you have cocoa pods being used with a framework not an app target. And this is an issue with cocoa pods itself

[2015-04-21 16:10] fousa commented on #87
Ah okay, so I'll try to get rid of the _use_frameworks!_ :)

Thanks!!

[2015-04-22 01:54] scottphc opened #133 "Support Today Widget?"
I saw the discussion of #14 .

Now is it possible to take a snapshot on Today Widget?
I tried to test the below command:
[code]
And the widget launches!

I haven't researched the source code in depth. Just let you know about this possibility.
What do you think?

[2015-04-22 06:37] KrauseFx commented on #133
Sorry, I don't know if it's possible to run UI Automation code on widgets.

[2015-04-22 15:58] #133 closed

[2015-04-24 17:37] shmidt opened #134 "The target application appears to have died"
Hi Krause,
When I run snapshot I see error message ```The target application appears to have died```.
It happens when Simulator runs:

[code]

[2015-04-25 01:32] brookstalley opened #135 "Address localized controls with text rather than ordinal?"
I realize this is more of a UIAutomation issue, but since it's impacting me with Snapshot and can be solved there, I'm opening it here :)

Right now Instruments records scripts by referencing buttons, text fields, etc, with their name, like:
`target.frontMostApp().mainWindow().buttons()["Set Mark"].tap();`

Of course that won't work when the app is running in French. The example that comes with Sn

[2015-04-25 08:17] milch commented on #135
I haven't tried it myself, but have you tried the script from [this gist](https://gist.github.com/futuretap/4321967)? Also take a look at #115, localisation is discussed there as well.

[2015-04-25 08:38] shmidt commented on #134
I find out that it's UI Automation bug, so it's not a snapshot issue.

[2015-04-25 08:38] #134 closed

[2015-04-28 01:45] brookstalley commented on #135
Looked at a few solutions.

The right way to do it is to write a JS function to import the various localized strings files, build a dictionary, and offer a helper function.

The way I'm doing it is to ensure that any UI element that needs automation gets its accessibilityIdentifer set during viewDidLoad, which UIAutomation can use to find the element using the name. So in my above example, I have:

[2015-04-28 01:45] #135 closed

[2015-04-29 09:52] frranck opened #137 "error when running snapshot if ' caracter in product name"
If i have a ' caracter in the product name i get those errors:

[code]

[2015-04-30 23:44] 0xced opened #140 "Unable to activate commander-4.2.1, because highline-1.7.2 conflicts with highline (~> 1.6.11)"
I just installed snapshot with `sudo gem install snapshot` but when I run `snapshot init` I get this error:
[code]

I’m a ruby noob, can you suggest something before I completely break my ruby environment? ;-)

[2015-05-01 12:58] 0xced commented on #140
It turns out that manually installing commander with `sudo gem install commander` solved the issue. Thanks @alloy!

[2015-05-01 13:10] alloy commented on #140
As discussed in our chat, there’s still a ‘bug’ here and this ticket should be re-opened.

The ‘fastlane_core’ gem depends on the ‘commander’ gem at minimum version 4.1.0. version 4.1.0 in turn has a dependency on highline lower than 1.7, but the ‘fastlane_core’ gem wants at least highline 1.7.2.

To fix it, you should depend on a commander version that is compatible with your highland requirement

[2015-05-01 18:27] drupalmodule commented on #137
I have the same problem

[2015-05-03 11:00] KrauseFx commented on #140
Thank you so much @alloy for taking a closer look, I'll publish a fix with the new update! :+1:

[2015-05-03 12:03] KrauseFx commented on #140
@milch submitted a pull request: https://github.com/KrauseFx/fastlane_core/pull/17 :+1:

[2015-05-03 20:02] KrauseFx commented on #140
@alloy does this look okay for you? I hope to have this resolved now.

[2015-05-04 12:18] alloy commented on #140
@KrauseFx Yup, it sure does. You might want to use something like ‘gem sets’ or a clean ‘GEM_HOME’ to test installation in a completely empty gem env.

[2015-05-08 14:55] skywinder commented on #87
Damn.. New Crashlytics version requires to add external .dylib file. And it cause similar crash

)'

[2015-05-09 17:24] KrauseFx commented on #107
Thanks to @mathcarignani this is now implemented with https://github.com/KrauseFx/snapshot/pull/141 :+1: :rocket:

[2015-05-09 17:24] #107 closed

[2015-05-11 12:20] skywinder commented on #87
Sorry. This problem not related with crashlytics lib. I found some changes that xcode make automatically in schemes. After reverting them everything start working again!

[2015-05-12 13:20] gylippus commented on #91
@KrauseFx  Just wanted to note that when running snapshot for all 5 devices for 13 languages, there are occasions when it appears the device has not completed changed languages before loading. Not sure if that would be the real description of the problem, but I'd say 5% of my screenshots were not in the right language or somehow they are writing over each other to the wrong place. I personally wou

[2015-05-13 13:20] pbrooks opened #142 "Unity3d support"
Instead of authoring screenshots within Automator, it'll be useful to script them within Unity3d and have them captured within the simulator.

I'm happy to implement, any feedback before I begin is welcome.

[2015-05-13 14:11] KrauseFx commented on #142
I'm not sure how that work. Could you describe how you want to solve this? The main point of `snapshot` is to execute UI Automation scripts. I don't think that will work if you want to execute different kind of scripts.

[2015-05-13 15:44] tp commented on #134
@shmidt Care to share some details? Having similar issues now, with a script that I recall working fine before :-/

[2015-05-13 15:47] KrauseFx commented on #134
@tp it usually means your app actually crashes. Make sure the app runs on the simulator properly.

If that doesn't help, you could try reseting your simulators `snapshot reset_simulators` or restarting your Mac.

[2015-05-13 16:11] tp commented on #134
Must be related to this script I inserted so that unused architectures get removed from App Store builds.

It works once I set "Run script only when installing", so it does not get triggered by `xctool` I guess.
(But then I can't submit my binary containing ReactiveCocoa to the Store..)

Strangely enough building the App with Xcode and running it in the Simulator works fine..

(cmd output is going

[2015-05-13 16:16] tp commented on #134
@KrauseFx Is there maybe a better way to only remove the unused architectures on IPA builds in fasten instead of embedding the script in the Xcode project? (Sorry for hijacking this thread, that has gone a little off-topic).

[2015-05-13 19:47] tp commented on #134
Workaround: Exit the script early when `TARGET_BUILD_DIR == "/tmp/snapshot/build`.

No idea, why this works in Xcode but not xctool/snapshot. Will file a separate bug report when I get a handle on this.

[2015-05-13 23:45] dmercer1 commented on #126
Same issue here. Anyone find a cure?

[2015-05-14 08:30] KrauseFx commented on #126
@dmercer1 can you try:

`irb`

`require 'shellwords'`

Does it show `true`?

[2015-05-14 16:08] dmercer1 commented on #126
Yes, it shows true.

[2015-05-14 16:32] dmercer1 commented on #126
Tried this on a different machine that has Mavericks instead of Yosemite and it worked. Probably other differences as well?

[2015-05-14 20:21] christophercotton commented on #24
I found that in our iPad app, it launches to the default of Landscape Right, but unfortunately the deviceOrientation() returns Portrait. I ended up having to add an explicit setDeviceOrientation() to our snapshot.js file to fix it.

[2015-05-15 09:29] plamenterziev opened #143 "Status bar localization"
Thanks for the great script - it saved me many hours :)

One issue I noticed is that the status bar is not localized and always shows "Carrier" text in english and the AM/PM format in english too. Is there a way to localize the status bar too without using SimulatorStatusMagic?

Thanks,
Plamen Terziev

[2015-05-15 09:30] KrauseFx commented on #143
Great to hear :+1:

No, sorry, when not using SimulatorStatusMagic, there is no way to access the carrier information.

[2015-05-15 09:31] KrauseFx commented on #143
At least they don't change automatically depending on the language.

[2015-05-15 09:32] plamenterziev commented on #143
Cool, not a big issue. Was just wondering if is possible. Thanks :)

[2015-05-15 09:32] #143 closed

[2015-05-15 09:47] osrufung opened #144 "Unknown method html_title"
That's my Snapfile:

[code]
And that's the error:

[code]

[2015-05-15 09:50] KrauseFx commented on #144
Sorry @osrufung, I haven't pushed the new version yet, I'll do that now :+1:

[2015-05-15 09:57] KrauseFx commented on #144
Here we go: https://github.com/KrauseFx/snapshot/releases/tag/0.9.0 :+1: Let me know if that works for you.

[2015-05-15 09:57] #144 closed

[2015-05-15 10:04] osrufung commented on #144
👌 Great! It works.

[2015-05-15 11:53] Joseph310 opened #145 "Support for different tap locations depending on device type"
Hello,

I have the issue that on smaller devices (iPhone 5/5s) I need a different tapOffset than on larger devices (iPhone 6/6Plus).

For Example:
// iPhone 6
target.frontMostApp().mainWindow().tableViews()[0].tapWithOptions({tapOffset:{x:0.92, y:0.30}});
// iPhone 5
target.frontMostApp().mainWindow().tableViews()[0].tapWithOptions({tapOffset:{x:0.92, y:0.37}});

Can I create different scripts for

[2015-05-15 12:17] KrauseFx commented on #145
Sorry, I don't think that's possible.

[2015-05-16 05:44] Joseph310 commented on #145
I have a UITableView with UISwitches as accessory items. I have given them tags. Can one initiate a tap on a specific switch using the tag? That way I would completely circumvent the offset problem.

[2015-05-16 08:09] KrauseFx commented on #145
Yes, the clean way is using accessibility labels. You'll have to take a look at the UI Automation documentation on how to do this correctly. All `snapshot` does it calling your UI Automation scripts.

[2015-05-16 09:57] Joseph310 commented on #145
Great! adding .accessibilityLabel did the trick! Thanks!

[2015-05-16 09:57] #145 closed

[2015-05-17 12:31] sbhhbs commented on #60
I run into this issue with the latest version. It happened when the first simulator is killed. Then the whole Window server seems crashed.

[2015-05-18 11:44] buscarini commented on #17
I think the documentation is quite lacking in this regard. It took me a long time to get this working. The current example could use some data from the Documents folder, and use this hook to populate it for screenshots.

Anyway, in case someone needs help: I used the script in the previous comment, putting it into "test_data", and then I did this in my app delegate did finish launching:

    #ifde

[2015-05-18 11:47] hanneskaeufler commented on #17
Interesting, I was messing with `xcappdata` packages lately (I use a seperate Scheme for snapshot), which is a dead end because `xcappdata` loading is currently broken in XCode 6.3 http://stackoverflow.com/questions/29717611/xcode-is-not-loading-the-xcappdata-into-the-app

[2015-05-18 13:10] KrauseFx commented on #17
@buscarini @hanneskaeufler

Take a look at how MindNode implements the [`Snapfile`](https://github.com/fastlane/examples/blob/master/MindNode/Snapfile#L46-L59)

How could I improve the documentation? With more sample code and how it works?

[2015-05-18 13:51] hanneskaeufler commented on #17
I want to avoid having any CoreData importing code in the app, as I really don´t need it otherwise. `xcappdata` would be perfect for the `snapshot` Scheme imho.

Sure, maybe linking to the mind node example here could help. https://github.com/KrauseFx/snapshot#custom-callbacks-to-prepare-your-app

I was a little disappointed to see `./prepareDatabase.sh` and then not find any documentation about a

[2015-05-18 15:06] pbrooks commented on #142
As far as I currently understand it, Snapshot reads in a UIAutomation JS file which specifies UI Automation commands and when to take screenshots.

If making games in Unity3D, it'll be better to script the taking of screenshots within a Unity script which writes out the relevant file or provides calls into the game to setup the various screenshots.

I'm happy to take on this task and implement.

[2015-05-18 15:55] KrauseFx commented on #142
Can you outline how you'd approach this issue?

[2015-05-19 07:48] niklassaers opened #147 "Launch screen"
Hi,
I've done "fastlane init" and am running the beta lane. I haven't updated the snapshot.js file yet. When the lane has run past snapshot, I have my screenshots directory that contains the landing screen. Very cool. (except one of them was black, but I expect I'll have to dig into what happens on that device type. So very cool for catching that as well! :-) )

I would really like it to capture m

[2015-05-19 11:37] KrauseFx commented on #147
Hi @niklassaers, sorry but `UI Automation` can't take a screenshot of your launch screen, as it starts running once the main loop is free. If you artificially let it be longer on the screen you might be able to achieve the result you want. Apple recommends to *not* use splash screens as screenshots, as they usually don't add any value for the end user.

This is not a `snapshot` issue per se, but h

[2015-05-19 11:37] #147 closed

[2015-05-19 13:59] kohtenko opened #148 "Incorrect html generation in 0.9.0"
HTML file in this version generated with width starched to browser bounds, but if you would try to create a lot of  screenshots (Lets say 25 for each device), you'll see how inconvenient it looks like.
Moreover, last screenshots for some reason even smaller that same size screenshots for same device.

[2015-05-19 14:05] KrauseFx commented on #148
Thanks for reporting this. I'm using `snapshot` to generate 5 screenshots only. I guess it would make sense to set a minimum width so that doesn't happen? What's your suggestion?

[2015-05-19 14:58] kohtenko commented on #148
@KrauseFx I guess it makes perfect sense to set minimum width for images.```td {
        min-width: 200px;
}``` will make html correct again

[2015-05-19 15:05] KrauseFx commented on #148
Can you try it on your `html` file locally and let me know if that looks better? :+1:

[2015-05-19 15:07] kohtenko commented on #148
@KrauseFx Just did, ```min-width: 200px; ``` is the only line I added into ```td``` style

[2015-05-19 18:58] #148 closed

[2015-05-19 18:58] KrauseFx commented on #148
Thanks @kohtenko, this will be in the next version :+1:

[2015-05-21 10:03] Darkreaper101 opened #150 "Building app with Xamarin, doesn't install app to simulator."
Hi there,

I ran into this issue a couple of times now. When using the Xamarin build commands in the Snapfile the build is executed perfectly and the build succeeds.

The process continues telling me that it's Re-installing the app that also completes, but then when the simulator is started up the app isn't installed on the simulator.

So the process doesn't continue.

Any help with this would be

[2015-05-21 10:04] KrauseFx commented on #150
I don't use Xamarin myself, but maybe @apalancat has an idea?

[2015-05-21 10:14] apalancat commented on #150
Sorry, right now I don't have a Xamarin license that allows command line builds, so I can't test the behavior. Please report back if you find a solution.

[2015-05-21 10:42] Darkreaper101 commented on #150
I'm going to post the response I get when running snapshot.
[code]

And it keeps on going on like that with the IOS simulator just open the entire time.

[2015-05-21 10:52] KrauseFx commented on #150
What happens when you run
[code]

yourself? Also you can use `snapshot --verbose` to get more information of what `snapshot` is doing.

[2015-05-21 11:00] Darkreaper101 commented on #150
When I run the instrument command manually I get the following output:

[code]

[2015-05-21 13:39] Darkreaper101 commented on #150
For some reason the Automation Instrument give's a null result, as you can see in the comment above.

[2015-05-27 08:51] Darkreaper101 commented on #150
Hi there,

This is still a problem I've even build an app with XCode but it doesn't get installed.
I get the following output:

[code]

[2015-06-03 08:02] gregpassmore opened #154 "Waiting for network loads to be done before snapshotting"
How does this feature work? It doesn't seem to work with our app. We don't make great use of the net indicator in the status bar - is this what determines network load status?

[2015-06-03 08:52] KrauseFx commented on #154
Yes, `snapshot` simply waits for the status bar loading indicator to disappear. You can implement your own solution right with your UI Automation script.

[2015-06-04 10:58] walsht commented on #134
@tp @shmidt Were you able to resolve the "The target application appears to have died" issue.  I have two projects and one works fine, but another gets this error every time.  I have reset the simulators and restarted my mac, but nothing seems to correct it.

[2015-06-04 13:05] Darkreaper101 commented on #150
Anybody have an update on this issue?

[2015-06-04 14:31] shmidt commented on #134
@walsht no, I don't know how to fix it also.

[2015-06-04 15:31] DavidFrahm commented on #62
PR #131 resolves this for us, but it needs added to the documentation so people know it exists, what it is for, and how to use it

[2015-06-04 18:46] walsht commented on #134
I found that my logic to pre-populate core data was the issue.   Basically, it was causing a memory crash every-time on launch.   I am going to use the populateDatabase.sh to setup the data. Hope this helps others.

[2015-06-05 12:20] kohtenko opened #155 "custom_build_args for swift compiler"
As far as I know swift compiler uses different project setting named `Other Swift Flags`, so probably you could add one more parameter to `snapshot` in next release.

[2015-06-06 11:36] ConfusedVorlon opened #156 "access device name in snapfile?"
I'm using the suggested script to copy files to the device for testing - however, I'd like to copy different files based on whether it is an iPhone or iPad

the device value passed into setup_for_device_change seems to be some form of simulator id (like AB1EAC90-CD32-4C9E-B7E8-A8358E86AB24 )

is there a way to get the device name from the devices array?
e.g. 'iPhone 6'

thanks.

[2015-06-06 15:02] KrauseFx commented on #156
It's probably easier to copy files for all devices and do the logic within your app. In your app's code, you copy over the files you need for the current device type. Does that make sense?

[2015-06-06 15:17] ConfusedVorlon commented on #156
actually - I just spotted that the setup_for_device_change in the readme has the wrong params:

in the example in the readme, it uses:
setup_for_device_change do |lang, device|

where the correct input is

setup_for_device_change do |device, udid, language|

once this is fixed, it is really easy:

setup_for_device_change do |device, udid, language|
    # This will make sure, all example documents

[2015-06-06 15:17] #156 closed

[2015-06-07 03:21] KrauseFx commented on #156
Thanks, I updated the README.

[2015-06-12 11:22] lukamate opened #157 "Run instruments on Device, not on Simulator."
It's not possible to run instruments in snapshot on device, or i don't know how to do it.
When I write in device field(Snapfile) my iphone 'iPhone' from: xcrun instruments -s
iPhone (8.3) [xxxxxxxxxxx] <- it's my iphone
Resizable iPad (8.3 Simulator) [xxxxxxxxxxx]
Resizable iPhone (8.3 Simulator) [xxxxxxxxxxx]
iPad 2 (8.3 Simulator) [xxxxxxxxxxx]
iPad Air (8.3 Simulator) [xxxxxxxxxxx]
iPad Retina

[2015-06-13 11:40] KrauseFx commented on #157
`snapshot` was not designed to use the real device as the primary use case is to create screenshots for the AppStore. Technically it's possible to run instruments on a real device as far as I know.

[2015-06-15 08:09] jaroslavas opened #158 "Itarate schemes?"
Is it possible to iterate through schemes?
I have one codebase for several apps with different bundle id's and would like snapshot to iterate all (or part) of them to make all the screenshots in one go.

[2015-06-15 08:12] KrauseFx commented on #158
You can use [fastlane](https://github.com/krausefx/fastlane) for that. You will find more interesting information [here](https://github.com/KrauseFx/fastlane/issues/341)

[2015-06-15 08:12] #158 closed

[2015-06-16 13:37] fuggly opened #159 "custom_xxx_args ignored?"
Hiyas

My SnapFile contains the two lines:

custom_run_args "ch.abacus.abaclik.demo YES"
custom_args "GCC_PREPROCESSOR_DEFINITIONS='$(inherited) SCREENSHOTS=1'"

but, for whatever reasons, when I do a snapshot, neither is SCREENSHOTS defined NOR is the NSUserDefaults property set when I read it. Is there maybe a sample or so on how to use this properly? I'm quiet sure that the issue is somewhere i

[2015-06-16 13:53] fuggly commented on #159
Nevermind.. found it.. my bad..

[2015-06-16 13:53] #159 closed

[2015-06-17 05:17] KrauseFx commented on #159
What was the issue?

[2015-06-17 19:37] niklassaers commented on #147
Hey Felix,
I'm sorry for my very late replies.

Thank you for your swift reply, and thanks for pointing out that Apple recommends against this. I hadn't noticed that and really liked my launch screen. :-)

Cheers

   Nik

[2015-06-18 04:13] KrauseFx commented on #147
Great to hear :+1:

[2015-06-19 13:23] skrew opened #161 "Application don't run in clean state"
Hello, using the last version (9.0), the uninstall command fail.

```xcrun simctl uninstall booted 'Print: Entry, "CFBundleIdentifier", Does Not Exist'```

I making it working by patching runner.rb, line 187

```app_identifier = `/usr/libexec/PlistBuddy -c 'Print CFBundleIdentifier' '#{path}' 2>&1`.strip```
with
```app_identifier = `/usr/libexec/PlistBuddy -c 'Print CFBundleIdentifier' '#{path}'`.

[2015-06-19 13:38] #157 closed

[2015-06-20 05:16] KrauseFx commented on #161
Thanks for letting me know. As I'm currently migrating `snapshot` to make use of the new UI Testing, I won't change this now.

[2015-06-20 14:13] skrew commented on #159
I think it's because he used "custom_args" instead of "custom_build_args"

The description can be confusing:

"Use the ```custom_args``` directive to prepend custom statements to the build command."

[2015-06-20 15:34] fuggly commented on #159
I used custom_run_args but I forgot the dash at the beginning of the value. I think I tried to use custom_build_args, but as skrew mentioned, it might be possible that I've totally misread, I'm not sure. I solved it using custom_run_args so I closed the issue again. Thanks anyway, I'm currently only using snapshot, but it's already real timesaver!

[2015-06-22 12:25] niklassaers opened #162 "snapshot & UI testing"
Hey Felix,
I'd like to hear your thoughts on snapshot and UI testing.

I love snapshot. I love that I can set up the environment like I want to, can run predictable tests and get predictable output.

But I don't get that. And that is down to UI automation. Honestly, I cannot get it to work properly. I've read a lot in here and elsewhere, and I have spent an awful lot of time trying to get it to wo

[2015-06-22 12:28] niklassaers commented on #162
Eh... you know when you've just asked a question and the next thing you do is [find the answer][0]? (at least to many of my questions)

[0]:https://krausefx.com/blog/run-xcode-7-ui-tests-from-the-command-line

[2015-06-22 14:02] KrauseFx commented on #162
Thanks for the issue @niklassaers. I'm already working on a new version of `snapshot` to use the new UI Tests, as blogged [here](https://krausefx.com/blog/run-xcode-7-ui-tests-from-the-command-line).

I'm still looking for a way to generate screenshots from the UI Tests.

[2015-06-24 17:52] gfpacheco opened #163 "Can't find variable: captureLocalizedScreenshot"
I know this isn't an issue of Snapshot, but someone else may, like me, try to find help here.

I was getting this error when running Snapshot:

    UIAutomation Error: Script threw an uncaught JavaScript error: Can't find variable: captureLocalizedScreenshot on line 8 of snapshot.js

This was my `snapshot.js` file:

    #import 'SnapshotHelper.js'

    var target = UIATarget.localTarget();
    var

[2015-06-24 17:52] #163 closed

[2015-06-26 21:34] arypurnomoz commented on #77
i got the seem issue here

[2015-06-29 13:38] kohtenko commented on #155
Finally, I found solution. In my `Snapfile` I added
`custom_build_args "OTHER_SWIFT_FLAGS='-DSNAPSHOT' GCC_PREPROCESSOR_DEFINITIONS='$(inherited) SNAPSHOT=1'" `

`-D` is necessary for `OTHER_SWIFT_FLAGS`, other way you'll get compiler error. In project I use `#ifdef SNAPSHOT` in swift and Objective-C as well.

Moreover, since `xctool` doesn't allow to select specific target, you need operate with

[2015-06-29 13:38] #155 closed

[2015-06-29 19:52] JesseCrocker commented on #161
I'v also run into the same issue due to having other .plist files in the app bundle, and the fix was to change ```app_identifier = `/usr/libexec/PlistBuddy -c 'Print CFBundleIdentifier' '#{path}' 2>&1`.strip``` to  ```app_identifier = `/usr/libexec/PlistBuddy -c 'Print CFBundleIdentifier' '#{path}'`.strip``` because app_identifier was ending up set to an error message

[2015-06-29 20:30] KrauseFx commented on #161
@JesseCrocker thanks for sharing, but it seems like you posted the same code twice?

[2015-06-29 20:48] JesseCrocker commented on #161
@KrauseFx No, I removed the redirection from stderr to stdout

[2015-06-29 21:28] KrauseFx commented on #161
@JesseCrocker Wups, sorry. So the `2>&1` was resulting in the code to not work? That's odd, I'll take a closer look at this.

[2015-06-29 21:57] skrew commented on #161
It's what i said in my first post.
I have multiple .plist too in this project.

[2015-07-01 15:34] 3a4oT commented on #87
I have the same issue.
 **"Run custom shell script 'Embed Pods Frameworks"**
[code]

[code]

[2015-07-01 18:04] johnboiles opened #165 "Relative paths broken for `--snapfile` option"
When trying to use the `--snapfile` option with snapshot, snapshot is unable to find the Snapfile if it contains a relative path.

[code]

If I pass the entire path, to the `--snapfile` option, snapshot finds the Snapfile, but then is unable to resolve the relative path in `js_file`

[code]

The workaround is to remove the `js_file` line in my Snapfile and manually pass it in:

[code]

[2015-07-01 22:18] johnboiles commented on #165
Ah looks like snapshot detects the 'Fastlane' directory and is using that as the current directory. If I rename the 'Fastlane' directory, everything works as expected

[2015-07-02 07:38] biolinh opened #166 "snapshot run with CI (jenkins): common not found"
I installed Jenkin and snapshot on my Mac. When i integrate Snapshot with Jenkin with command line:

;execute script

snapshot --noinstall

I got an error: snapshot: command not found

Thank in advances

[2015-07-02 08:15] KrauseFx commented on #166
Can you share me your configuration? Why `./screenshots/src`?

[2015-07-02 08:39] biolinh commented on #166
the command is snapshot --noinstall. please ignore the  ./screenshots/src

[2015-07-02 09:04] KrauseFx commented on #166
That's probably because of how you installed Jenkins. It's running as its own user, therefore you'll have to install it for the Jenkins user scope as well.

[2015-07-02 09:22] biolinh commented on #166
that is weird. Because, when I run the command on  project home, it work.

[2015-07-02 12:43] KrauseFx commented on #165
Great to hear :+1:

[2015-07-02 13:46] zerbfra opened #167 "it-IT locale not working"
On my app, fully localized in italian, it-IT locale doesn't work, screenshots are in english :(

Here's my snapfile:

    languages([
      'en-US',
      'de-DE',
      'it-IT',
      'fr-FR',
      'es-ES'
    ])

If I choose the italian language directly from the simulator the app is correctly displayed in italian.

    [16:01:32]: instruments -w 'iPhone 6 Plus (8.4 Simulator)' -D '/tmp/snapsho

[2015-07-02 16:24] johnboiles commented on #165
@KrauseFx so it's expected behavior that `--snapfile` uses paths relative to the `Fastlane` directory otherwise it's relative the the directory in which `snapshot` is executed? This is very surprising. At very least maybe we add a note in the help for `snapshot`?

[2015-07-02 21:23] KrauseFx commented on #165
It's not, I'll have to take a closer look at this.

[2015-07-03 22:05] MrMatthias opened #168 "Scheme not found"
I get the following error message:

I disabled autocreation of the schemes in the workspace and enabled sharing as suggested.

[2015-07-03 22:39] MrMatthias commented on #168
i auto recreated the scheme for the snapshot target and it works now.

[2015-07-03 22:40] #168 closed

[2015-07-07 16:18] mikhov opened #169 "snapshot command fails"
I'm following the [guide](https://github.com/krausefx/snapshot#installation). In my project file, I run the snapshot command, but I get the following error:

	from /Library/Ruby/Gems/2.0.0/gems/snapshot-0.9.0/lib/snapshot/snapshot_config.rb:184:in `scheme'
	from /Library/Ruby/Gems/2.0.0/gems/snapshot-0.9.0/lib/snapshot/builder.rb:56:in `generate_build_command'
	from /Library/Ruby/Gems/2.0.0/gems/s

[2015-07-07 16:31] KrauseFx commented on #169
I'll need more information, how does your `Snapfile` look like? Can you also share the complete output when running `snapshot`?

[2015-07-07 17:28] mikhov commented on #169
Snapfile looks like this:

[code]

Full output is:

[code]

[2015-07-07 17:34] KrauseFx commented on #169
Looks like `snapshot` can't parse your project file. Can you try running
[code]

and share the output?

[2015-07-07 17:37] mikhov commented on #169
[code]

[2015-07-08 09:10] KrauseFx commented on #169
You're using an outdated version of `snapshot`, please update and see if that fixes your issue.

[2015-07-08 09:12] KrauseFx commented on #169
Sorry, you're using the latest version, I'll take a closer look.

[2015-07-09 20:56] mcactive opened #170 "Wrong application opens.."
Hi,

We have a white label app, so multiple applications with different brandings.
If I try to make the screenshots, it runs the wrong application. I've tried setting the ENV["SNAPSHOT_APP_IDENTIFIER"] to the identifier of my app (com.identifier.of.my.app), but that doesn't make any difference..

[code]
I've also tried the solution as mentioned in #161, but this doesn't work for me neither..

// I

[2015-07-10 09:19] KrauseFx commented on #170
It seems like `SNAPSHOT_APP_IDENTIFIER` does not work. I updated the README to remove this. Sorry about that.

[2015-07-10 12:29] mcactive commented on #170
Any other suggestions on how to make it work without snapshot reset_simulators?

[2015-07-10 13:30] cdesch commented on #137
Any fix for this issue? I seem to be running into the same thing, but related to schemes like in issue #34

The Config:

      scheme "Shirley\'s Treadmill"

The error:

                cjs-MBP15:Shirley's Treadmill cj$ snapshot
		xcodebuild: error: Unknown build action 'Treadmill/Shirleys Treadmill.xcworkspace'.
		/Users/cj/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/snapshot-0.9.0/lib/snapsho

[2015-07-11 08:58] KrauseFx commented on #170
The output says something about:
[code]

That's not printed by `snapshot`, but by Apple's Instruments. Can you make sure that's valid and try again?

[2015-07-11 20:25] zmeyc commented on #162
@KrauseFx please take a look at my implementation of screenshot capture: https://github.com/zmeyc/UITestUtils
It requires starting a server on app side, but I haven't found any other method of doing this.

[2015-07-11 21:43] niklassaers commented on #162
Cool, that's a solution that'll work well for me. For Well Tempered I need to simulate audio input when I do the screenshots, so adding a bit more for that scheme is not a problem.

[2015-07-11 21:54] KrauseFx commented on #162
@zmeyc Have you found any other solution to trigger screenshot generation? I love your library, also that you can override the status.

I'm looking for a solution that doesn't require the user to add anything to their application.

[2015-07-12 00:02] zmeyc commented on #162
@KrauseFx Unfortunately no. I've been stuck on this for quite a while but didn't find anything else.

[2015-07-12 00:17] zmeyc commented on #162
What theoretically could work is a console utility monitoring XCTest output for some token while the test is running. When the token is found it should take an image with most recent date from automatic screenshots (derivedData) folder. Moreover, the test itself could start this utility at the beginning of test (tests do not seem to be sandboxed).

[2015-07-12 08:45] KrauseFx commented on #162
@zmeyc I already found a way to properly identify and load the screenshots from derivedData. The only missing piece is taking screenshots. `snapshot` should be able to take new screenshots without having to interact with the app (e.g. tapping somewhere)

[2015-07-14 08:23] patricks opened #171 "Snapshot cmdline tool crashes on app build"
I started to add snapshot to another project. But it fails with the following error:
I have only added the build scheme in the  `Snapfile`.

[code]

[2015-07-14 12:41] patricks commented on #171
Had the same problem on another project. I think the error happens with cocoapods and swift frameworks.

[2015-07-14 22:23] KrauseFx commented on #171
Probably. You see the build command printed out by `snapshot`. You can then modify the build command to make it work on your setup and define it in your `Snapfile`

[2015-07-16 21:55] michaeleisel opened #174 "Snapshot deletes existing snapshot.js file"
I'd already created a snapshot.js file when running `snapshot init` overwrote it. I guess I didn't follow the installation instructions correctly, but it's still a bummer and easily preventable.

[2015-07-16 21:55] KrauseFx commented on #174
That should not happen, I'm really sorry about this, I'm taking a look at this now!

[2015-07-16 21:56] KrauseFx commented on #174
This really should not happen, I added a check [here](https://github.com/KrauseFx/snapshot/blob/master/lib/snapshot/snapfile_creator.rb#L7). Are you sure it removed your existing file?

[2015-07-21 16:45] Gurpartap commented on #87
Overriding the build command to remove `CONFIGURATION_BUILD_DIR='/tmp/snapshot/build'` worked for me. Something like this in your `Snapfile`:

[code]

[2015-07-22 20:11] jondot commented on #155
+1 I'd love if this would have been on the README

[2015-07-23 16:52] KrauseFx commented on #155
Yes, thanks @jondot :+1:

[2015-07-23 21:03] atobulredy opened #175 "Simulator is not selecting for running tests"
Hi,

I am not able to run in simulator. I have opened one simulator - iPhone 6 (9.0 Simulator). But its not executiong. Getting the below error.
[code]

[2015-07-23 21:18] atobulredy opened #176 "Simulators are not created - snapshot reset_simulators"
[code]

[2015-07-23 21:57] KrauseFx commented on #175
Can you share your `Snapfile`?

[2015-07-24 02:06] matthewcheok commented on #176
I'm having the same problem

[2015-07-24 03:38] atobulredy commented on #175
# Uncomment the lines below you want to change by removing the # in the beginning

# A list of devices you want to take the screenshots from
devices([
  "iPhone 6",
  "iPhone 6 Plus",
  "iPhone 5",
  "iPhone 5s",
  "iPhone 4s",
  "iPad Air"
])

languages([
  'en-US',
  'de-DE',
  'it-IT'
])

# Where should the resulting screenshots be stored?
screenshots_path "./screenshots"

# clear_previous_scre

[2015-07-24 07:53] KrauseFx commented on #176
I could reproduce the issue, working on a fix right now :+1:

[2015-07-24 07:53] KrauseFx commented on #175
I could reproduce the issue, working on a fix right now :+1:

[2015-07-24 08:04] KrauseFx commented on #176
I just pushed https://github.com/KrauseFx/snapshot/releases/tag/0.9.2, let me know if that works for you :+1:

[2015-07-24 08:04] #176 closed

[2015-07-24 08:04] KrauseFx commented on #175
I just pushed https://github.com/KrauseFx/snapshot/releases/tag/0.9.2, let me know if that works for you :+1:

[2015-07-24 08:04] #175 closed

[2015-07-24 08:06] matthewcheok commented on #176
Works perfectly!

[2015-07-27 07:55] hco opened #177 "localstorage not cleared?"
Hi,

I have two locales configured, and when the simulator starts with the second locale, the application is not in a clean state.

Is it possible that an applications webviews localStorage will not be purged between switching locales?

[2015-07-27 19:24] larryonoff opened #178 "How to add OTHER_SWIFT_FLAGS"
I need to add ```OTHER_SWIFT_FLAGS='$(inherited) -DSNAPSHOT=1'``` in addition to ```GCC_PREPROCESSOR_DEFINITIONS```.

How can I do it?

[2015-07-27 20:42] KrauseFx commented on #177
The easiest way probably is to make use of the pre-complier flag and clean your app from your app's Objective-C code. There should be some information on the project page :+1:

[2015-07-27 20:43] KrauseFx commented on #178
Check out the documentation on custom pre-processor flags and custom args on the [project page](https://github.com/KrauseFx/snapshot#custom-args-for-the-build-command).

[2015-07-27 20:43] KrauseFx commented on #178
Does that help?

[2015-07-28 08:24] hco commented on #177
So that's expected behaviour? I was expecting a clean build to be completely clean.
Maybe a note in the documentation could be useful?

(But maybe I'm the only one building webview based applications using fastlane :-))

[2015-07-28 09:48] KrauseFx commented on #177
You can set custom build arguments https://github.com/KrauseFx/snapshot#custom-args-for-the-build-command and then handle all that inside your app. I don't know how you'd solve it for a web view app.

[2015-07-28 10:00] hco commented on #177
Yep, found that already, it seems to work.
As soon as I understand what it actually does, I'm gonna pull request a note about that to the readme - you can than decide, if you want to include it or not :-)

Thanks a lot :-)

[2015-07-28 10:17] KrauseFx commented on #177
Sounds good, thanks @hco :+1:

[2015-07-29 06:48] larryonoff commented on #178
@KrauseFx thanks. This is what I already use.

This what I have now.
[code]

[2015-07-29 07:20] KrauseFx commented on #178
Great to hear :+1:

[2015-07-29 07:20] #178 closed

[2015-07-29 07:25] larryonoff commented on #178
Thanks!

I'm just curious now how to specify ```custom_build_args`` not in one line, but it two lines or more.

[2015-07-30 15:07] jormungand commented on #134
Possible the solution:
Make sure you don't use Xcode beta. I've just switched it and the error gone:

ilya@njord /WORK/project1 $ xcode-select -p
/Applications/Xcode-beta.app/Contents/Developer

ilya@njord /WORK/project1 $ xcode-select -s /Applications/Xcode.app/Contents/Developer

[2015-07-31 08:10] anphung opened #180 "Stuck on running with Xcode 7"
I try running with xcode 7 and custom `build_command` to overcome some small issues. Stuck after build succeeded.
[code]

After waiting for a long time, I `Control + C`, output:
[code]

Snapfile:
[code]
I guess it has something to do with xcode 7 simulator.

Any one encountered this?

[2015-07-31 08:31] KrauseFx commented on #180
I've seen the same issue before. Could you try restarting your Mac? I haven't found a perfect solution for it yet.

[2015-07-31 08:48] anphung commented on #180
After restarting the Mac, it progresses to `Reinstalling app...`, and hang there. The problem could be from xcode beta.

![screen shot 2015-07-31 at 5 42 13 pm](https://cloud.githubusercontent.com/assets/6447970/9003760/c73ba8da-37ab-11e5-96d6-ce4da0b43438.png)

[2015-07-31 09:05] KrauseFx commented on #180
@anphung Probably true. As you may know, I'm working on a re-write to use the new UI Tests instead of UI Automation. This should solve the issue :+1:

[2015-07-31 09:09] anphung commented on #180
Looking forward to it.

[2015-08-01 14:57] alpriest commented on #87
@Gurpartap I was having the same problem, your change worked for me, thanks!

[2015-08-06 15:07] loftyet commented on #170
@KrauseFx I saw the same output with Xcode 7 beta and its command line tool.

[2015-08-07 05:18] NikhilRyan commented on #167
Do we need to specifically define separate `.js` files for each language or modify something in xCode. How does it work?

[2015-08-14 09:35] SPAHI4 opened #181 "target application is not frontmost"
Sometimes alert with push notifications is not auto accepting and getting error "target application is not frontmost"

[2015-08-14 09:49] KrauseFx commented on #181
This is not really an issue of `snapshot` but of UI Automation itself. The easiest way to fix this is probably to define a pre-processor macro in `snapshot` and don't enable push notifications for `snapshot` builds :+1:

[2015-08-18 12:32] pronebird opened #182 "Scary"
[code]

Snapshot is dead.

[2015-08-18 12:41] KrauseFx commented on #182
@pronebird Could you provide more information? Is that a beta version of Xcode? Has it worked before?

[2015-08-18 12:42] pronebird commented on #182
it's Xcode 7 (beta 5). Works with Xcode 6.4 command line tools.

[2015-08-18 12:43] SPAHI4 commented on #181
@KrauseFx please can you write more about this solving?

[2015-08-18 13:23] schickling commented on #25
Having the same problem using Xcode 7 beta 5. `xcode-select -p` shows the right path and `instruments -s` also lists everything as expected. The error message looks like this:

![screenshot 2015-08-18 15 22 17](https://cloud.githubusercontent.com/assets/1567498/9330973/f05259d4-45bc-11e5-8447-3e337f05a2f5.png)

![screenshot 2015-08-18 15 22 17](https://cloud.githubusercontent.com/assets/1567498/93

[2015-08-18 13:24] KrauseFx commented on #181
Basically, follow [this guide](https://github.com/KrauseFx/snapshot#by-pre-filling-datadocuments-in-the-bundle) but instead of copying over documents, you can check if the current application runs as `snapshot` and then skip registering for push notification.

[2015-08-18 13:24] KrauseFx commented on #182
`snapshot` doesn't support the new Xcode beta as it will soon be updated to support the new UI Tests: https://github.com/KrauseFx/snapshot#note-support-for-ui-tests-with-xcode-7

[2015-08-18 13:25] pronebird commented on #182
Got it.

[2015-08-18 13:25] #182 closed

[2015-08-18 13:37] KrauseFx commented on #25
@schickling are you using a beta version of Xcode maybe?

[2015-08-18 14:01] schickling commented on #25
Yes, as mentioned in my previous comment I'm using **Xcode 7 beta 5**.

[2015-08-18 14:05] KrauseFx commented on #25
@schickling Sorry, missed the text above. Yes, the beta version is not supported yet.

[2015-08-18 14:30] schickling commented on #25
Alright. Thanks for the info! :+1:

Any plans to support it before GM?

[2015-08-18 15:53] allballsin commented on #25
Hi schickling . Can I suggest getting the stderr to output on your stdout by adding the following to simulators.rb in the snapshot gem? Note the 2>&1

It worked for me.

module Snapshot
  class Simulators
    def self.available_devices
      if not @result
        @result = []
        `instruments -s 2>&1`.split("\n").each do |current|
          # Example: "iPhone 5 (8.1 Simulator) [C49ECC4A-5A3D-

[2015-08-18 16:03] allballsin commented on #25
@schickling I just walked through the Xcode 7 beta valley of tears with fastlane and made it out the other side. The other trick to getting through is to do this to make the simulator to run in the open:

In runner.rb, I wanted the simulator to be visible so I could see what was going on. I used screen instruments -w to get a visible version of the simulator. (It occasionally crashes when it loads

[2015-08-18 17:33] schickling commented on #25
Thanks @allballsin for your workaround. This is very helpful in the meantime! :+1:

[2015-08-19 13:00] bdpluim opened #183 "Screenshots are not stored into screenshots_path until after all tests have run"
I'm trying to do some image comparison in my UIAutomation tests to validate that the images are similar to a reference image.  I've got the images I want to compare, and I think I've figured out the Javascript running some old TuneUp scripts, but I am having issues getting the image to compare because as far as I can tell SnapShot stores the images in a temp directory until after all files have co

[2015-08-19 13:01] KrauseFx commented on #183
Sorry, that's not possible right now.

[2015-08-19 13:05] bdpluim commented on #183
Can you share what temp folder you store them in?  That might get me close enough as I could write a step to move those files somewhere myself.

[2015-08-19 13:47] bdpluim commented on #183
For anyone who is interested, the screenshots are stored in /tmp/snapshot_traces/  You can see each individual run there.  Comparing the screenshots is possible but it's definitely a pain to do.  @KrauseFx what prevents you from storing them in the output directory immediately?  I'm just curious why you hold them in the tmp directory until you complete all snapshot items.

Thanks again for the too

[2015-08-19 13:51] KrauseFx commented on #183
@bdpluim because there is a lot of unnecessary files generated by the command and I only want to copy over the ones we need.

[2015-08-19 14:00] bdpluim commented on #183
Makes sense.  But the screenshots are things that we obviously want, and we even specify the path we want them in, so it seems like you could copy the screenshots into tmp if you still need them and into the output path at the same time.

Anyway I got it working good enough for my needs just some feedback that might help someone else running UIAutomation tests and trying to compare screenshots in

[2015-08-20 10:24] KrauseFx commented on #183
Okay, thanks @bdpluim :+1:

[2015-08-20 10:24] #183 closed

[2015-08-21 12:17] patoroco opened #184 "Better exit in cancelation of reset_simulators"
When you insert `n` after execute reset_simulators, script raises an exception:

[code]

Maybe should be better exit with a message, isn't it?

[2015-08-21 12:45] KrauseFx commented on #184
The message is `User cancelled action (RuntimeError)` :wink:

[2015-08-21 13:15] patoroco commented on #184
Yes, haha. But I mean to exit without raise an exception. Really, that's an expected behavior (that user cancel intentionally).

[2015-08-28 19:01] larryonoff opened #186 "Add build configuration attribute into Snapfile"
Could you please add xcodebuild parameter '-configuration' into Snapfile.

For now I set-up configuration it in the following way, what I think isn't clean.
[code]

[2015-08-29 08:44] KrauseFx commented on #186
Thanks for the pull request https://github.com/KrauseFx/snapshot/pull/185

[2015-08-29 09:03] larryonoff commented on #186
This suggestion isn't part of pull request #185.

[2015-08-29 12:25] larryonoff commented on #186
I have updated description to show more clear the request.

[2015-09-01 10:38] osrufung commented on #182
Hi! I'm using Xcode 6.4 + OS X Yosemite with same result :(

[code]

We are executing Snapshot inside a Runtime.exec() from a Tomcat Server v7.0. We need to programatically execute snapshot (and Instruments) without this grant permission dialog. Any idea?

Thanks!

[2015-09-01 11:11] osrufung commented on #182
@pronebird Same problem like me? :S

[2015-09-01 11:15] pronebird commented on #182
@osrufung I am afraid not, my issue was related to Xcode 7 beta. Xcode 6.4 works fine. I do run it from console though. Probably your Tomcat server executes command line from some other user that did not give sufficient permissions to instruments. I'd try `su -l` or something like that and switch to the user that has permissions to run instruments.

[2015-09-01 11:32] osrufung commented on #182
@pronebird user executing Tomcat server is the same as Instruments permissions. We use the launchctl system to start Tomcat.

[2015-09-02 12:56] chrifpa commented on #180
Similar problem here. I know it's not highest priority to fix this, with the rewrite and all, but I'd hate to have to capture all those screenshots for the iOS 9 version manually. So I guess what I'm asking is

a) Any idea how to fix it (reboot doesn't work)?
b) Hows that rewrite coming along?

[code]

[2015-09-02 17:35] KrauseFx commented on #180
@chrifpa Sorry, this issue is unresolved on beta versions of Xcode.

[2015-09-02 17:44] chrifpa commented on #180
¯\_(ツ)_/¯
Guess I'm waiting for the rewrite, then :)

[2015-09-02 21:37] williamsjj opened #187 "Just hangs on test or run (Xcode 7 beta 6)"
Let this run for 10 minutes...never returns or prints anything:

[code]
[code]

[2015-09-02 21:55] KrauseFx commented on #187
Sorry, `snapshot` doesn't yet support the Xcode Beta, but this will soon change https://github.com/KrauseFx/snapshot#note-support-for-ui-tests-with-xcode-7

I'll close this issue as duplicate of https://github.com/KrauseFx/snapshot/issues/180

Thanks for reporting :+1:

[2015-09-02 21:55] #187 closed

[2015-09-02 22:07] williamsjj commented on #187
Is there a working beta branch we can get started with? Doesn't seem worthwhile to set up the UI automation script for snapshot if we're going to have to redo them to use UI Testing shortly.

[2015-09-02 22:13] KrauseFx commented on #187
Yes, that's true. If you're just getting started, please wait a few more weeks before setting up `snapshot`

[2015-09-03 09:39] osrufung commented on #182
Finally I've solved this problem. 🎉 I've changed my LaunchDaemon script by a LaunchAgent inside ~/Library/LaunchAgents running in the User Login event.

Maybe Xcode+Instruments running in "Daemon Mode" of Launchd is not the best idea. :-(

[2015-09-04 11:02] mark5422 commented on #186
I’d like to second this request. We have debug data showing in the standard run build so would appreciate the ability to use a custom configuration.

[2015-09-09 19:44] Usipov commented on #168
The scheme also may be required to be marked as Shared

[2015-09-13 19:30] sergii-frost opened #191 "reset_simulators install only latest iOS simulators"
Hi, this may be not an issue but lack of my knowledge of the tool, please do not judge.
My Xcode 6.4 has Simulators 7.1, 8.2, 8.2, 8.3, 8.4 installed.
But hewn when I am running `snapshot reset_simulators` I am getting simulators only for latest 8.4.
Is is possible to specify somehow to configure all the simulators?

[2015-09-13 19:40] KrauseFx commented on #191
I haven't yet looked into creating the simulators for multiple versions. Right now it only supports the currently used version from `xcode-select`.

[2015-09-13 21:20] sergii-frost commented on #191
@KrauseFx thanks for your quick response.
I thought I was blocked by this issue, but then found that it is possible to create additional simulators from  "Organiser" in Xcode. Feel free to mark this issue as Enhancement. It will be really nice-to-have.

[2015-09-14 03:21] KrauseFx commented on #191
:+1:

[2015-09-14 19:49] CraigSiemens commented on #180
Any updates on this? I'm having the same issue with the Xcode 7 GM.

[2015-09-15 15:41] KrauseFx commented on #180
Sorry, no update yet, haven't found a way to solve this yet.

[2015-09-16 00:39] KrauseFx commented on #191
Solved with https://github.com/KrauseFx/snapshot/pull/192, this will be in the next release :+1:

[2015-09-16 00:39] #191 closed

[2015-09-16 00:40] KrauseFx commented on #184
I'll keep it like this for now, thanks for reporting though :+1:

[2015-09-16 00:40] #184 closed

[2015-09-16 00:42] KrauseFx commented on #180
Thanks for the link @CraigSiemens!

[2015-09-16 06:35] sergii-frost commented on #191
@KrauseFx Perfect! Thank you!

[2015-09-16 16:21] KrauseFx commented on #180
Almost forgot to post it here, I pushed a new version: https://github.com/KrauseFx/snapshot/releases/tag/0.10.0

[2015-09-16 16:21] #180 closed

[2015-09-16 21:39] CraigSiemens opened #193 "App no longer uninstalled on Xcode 7 GM"
I know this partially on purpose because of `simctl` hanging when uninstalling an app.

Would it be possible for snapshot to delete everything in the apps Documents and Library folders as a possible workaround?

[2015-09-16 21:46] KrauseFx commented on #193
Sorry, that's probably not possible. I'm focussing on the new version of `snapshot` for now.

[2015-09-16 21:47] KrauseFx commented on #193
You can easily use a workaround like clearing the Documents from within your app when the current run is from `snapshot`.

[2015-09-16 22:05] CraigSiemens commented on #193
Fair enough. That was my workaround for now.

I've also found it sometimes runs the version of the app that was previously installed on the simulator. The only solution I've found it to always run `snapshot reset_simulators` before `snapshot`. Hopefully that will also be fixed with the new version.

[2015-09-17 09:43] olutsenko opened #194 "Xcode 7: Fails to take a snapshot if app contains a native WatchKit app."
Hello,

After I run 'snapshot' command I get this error:

*target specifies product type 'com.apple.product-type.watchkit2-extension', but there's no such product type for the 'iphonesimulator' platform*

Is there fix/workaround for this?

Thanks!

[2015-09-17 10:36] olutsenko commented on #194
My current workaround is to create a dedicated 'snapshot' branch, remove WatchKit app completely, and generate iPhone screenshots there.

[2015-09-17 16:39] KrauseFx commented on #193
Great to know :+1:

[2015-09-18 17:21] winkelsdorf opened #196 "Xcode 7: Freeze, Failure, Nothing Works ;) (Pipe actually broken)"
I always wanted to write such a title ;)

No, looks like a cool tool(chain), thank you! In my tests it didn't work well with current Xcode 7.

iOS9 Simulators on current Devices (iPhone 6 and 6S) work like a charm, but somehow the pipe breaks when trying to generate Screenshots for older devices (iPhone 5S, 5, 4S, all iOS9).

Command issued (I mean really? you mention this in the Guideline..): ```

[2015-09-18 21:06] kpavankotesh opened #197 "iPad gives only one screen shot. No error message"
First of all thanks for these wonderful applications.

Coming to my problem, I am unable to generate snapshots for ipad. It works completely fine on iPhone. It doesn't even throw error message for not taking all the screen shots. Any help would be appreciated.

Here are the logs
[code]

[2015-09-18 21:46] KrauseFx commented on #197
What's not working exactly? You probably have 2 `js` files, one for iPad one for iPhone in your folder.

[2015-09-18 23:58] kpavankotesh commented on #197
Okay. Sorry. I looked into it. Thanks

[2015-09-18 23:58] #197 closed

[2015-09-20 15:18] bb-git opened #198 "Instruments Usage Error: Ambiguous device name/identifier 'iPhone 6 Plus (9.0)'"
I always receive this error on running snapshot, for all languages, also for the iphone 6.

iphone 5 seems to run fine

[2015-09-20 17:58] KrauseFx commented on #198
You could try resetting all your simulators using `snapshot reset_simulators`

[2015-09-21 16:02] joepasq commented on #198
If you open Xcode's "Devices" window, it shows the installed simulators. My 6 and 6s are listed with paired Apple Watches, which changes the name of the simulator.

I do not see a way to remove the watch simulator, my guess is that this is the cause of the problem. @KrauseFx is there a way to list the simulators that `snapshot` identifies?

[2015-09-21 16:31] KrauseFx commented on #198
@joepasq `snapshot` creates one device per device type. I remember there was a way to fetch a list of available devices somewhere.

[2015-09-21 16:35] joepasq commented on #198
Okay, thanks. @bb-git I was able to work around this by 1) opening the Devices window, 2) selecting iPhone 6, (then 6s) and hitting `enter`, or double-clicking the name in the sources-list/sidebar, and adding "- watch" to the name. 3) Then I added new simulators with just iPhone 6/6s.

[2015-09-23 01:50] pedro380085 commented on #198
Hi @KrauseFx , I've called `snapshot reset_simulators` and it did reset by simulators, but created iPhone 6 and iPhone 6 Plus twice. Don't know if that would be my configuration or is something related to snapshot.

[2015-09-23 08:28] sandman4sure opened #199 "Blurry none retina images used"
When I use Xcode 7 to compile and test my app on the Simulator, everything is fine, but when I use snapshot the app loads with the none-retina images selected and everything looks blurry.

Any idea what is different between using snapshot to put the app on the simulator and using Xcode7?

(I have xctool installed for compiling, but without it also goes wrong)

This started happening with new Xcode

[2015-09-23 09:01] iftachowen commented on #169
Bump

[2015-09-23 09:02] Iftachorr commented on #169
Hi bumped this issue as well.

[2015-09-23 13:05] Ged2323 opened #200 "Not really taking many snapshots and sometimes opening the Lite version of the app"
Hi,
This is a great program though I have tried doing the automation and adding the places in the automation to take the snapshots but keep on getting errors.  Also I tried running on Xcode 7 and it was running the lite version of my app rather than the full version when taking the snap shots.  I had even selected my full version of the app from the menu when loading snapshot.  Have you got any ti

[2015-09-23 13:06] Ged2323 commented on #198
I noticed when I reset my simulators I lost a lot of simulators.

[2015-09-23 14:15] pedro380085 commented on #198
Did you read the confirmation message?
ᐧ

On Wed, Sep 23, 2015 at 10:06 AM, Ged2323 <notifications@github.com> wrote:

--
Pedro Góes,
C.E.O. @ InEvent <http://inevent.us/>
Skype: pedro380085
T: +55 16 981406550

[2015-09-23 15:41] jlubeck commented on #178
For some reason this is not working for me...
I tried
[code]
Nothing seems to work. But if I put the flag manually in xcode it works just fine
http://prntscr.com/8jm4ku

[2015-09-23 16:58] KrauseFx commented on #178
@jilouc You can only have one line of `custom_build_args` which contains all the flags you want to use.

[2015-09-23 17:23] #193 closed

[2015-09-23 17:29] kevinstueber opened #201 "Disable HTML Generation?"
Hello,

Is there a way to disable the HTML generation when the screenshot process completes?

Thanks,
Kevin

[2015-09-23 17:44] KrauseFx commented on #201
That's not possible, but you can use

[code]

to not automatically open the file and use `fastlane` to automatically delete the HTML file.

[2015-09-23 17:46] kevinstueber commented on #201
Perfect, thank you!

[2015-09-23 18:16] KrauseFx commented on #201
:+1:

[2015-09-23 18:16] #201 closed

[2015-09-23 19:26] jlubeck commented on #178
Maybe you missunderstood me. I don't have all the lines together. Those are the 3 different options that I tried without success...

[2015-09-23 19:38] jlubeck opened #202 "The process seems to halt when switching to a different device"
So I can run multiple locales on the same device without an issue. It even seemed to work when going from iPhone 6 to iPhone 6 plus. But When it switched to an iPhone 5, the script just sits there and nothing else happens.

So I tried removing the iPhone 6 devices from the config file. It went succesfully over the iPhone 5, and then again halts when trying to switch to iPhone 4s.

http://prntscr.c

[2015-09-23 20:14] KrauseFx commented on #202
Unfortunately Xcode 7 introduced a lot of regressions which make `snapshot` a bit more unstable. I'm working on a new version of `snapshot` which uses all the latest APIs

[2015-09-23 20:19] jlubeck commented on #202
Ahhh sounds good. Not to pressure of course, but do you any kind of ETA on that? Even rough? Just wondering if I should wait or not. Thanks!1

[2015-09-23 20:35] KrauseFx commented on #202
Probably a few weeks, what's the alternative you'd be using?

[2015-09-23 21:00] jlubeck commented on #202
No alternative, just manually changing the file and running snapshot for each device :) But don't worry, there aren't that many devices, so I already did that. We are good! Thanks for your awesome tools

[2015-09-23 21:01] KrauseFx commented on #202
:+1:

[2015-09-25 22:13] plam4u opened #203 "Failed to install using "sudo gem install snapshot""
Plamens-Mac-Pro:~ plam$ sudo gem install snapshot
Password:
Fetching: addressable-2.3.8.gem (100%)
Successfully installed addressable-2.3.8
Fetching: fastimage-1.6.8.gem (100%)
Successfully installed fastimage-1.6.8
Fetching: multi_json-1.11.2.gem (100%)
Successfully installed multi_json-1.11.2
Fetching: highline-1.7.7.gem (100%)
Successfully installed highline-1.7.7
Fetching: commander-4.3.5.gem

[2015-09-28 07:44] bestwnh opened #204 "A strange issue only for iPhone6 Plus simulator"
There is the situation when I run the snapshot:
In all other device simulators the back button look like this:
![correct](https://cloud.githubusercontent.com/assets/1201345/10130063/5d49202c-65f7-11e5-98f1-f4cdf3afc108.png)
But in iPhone6 Plus simulator the back button look like this:
![wrong](https://cloud.githubusercontent.com/assets/1201345/10130064/5dd2784a-65f7-11e5-934b-232c5b91c819.png)
I a

[2015-09-28 21:43] victorfigol commented on #111
Seems to be working perfectly now.

[2015-09-28 21:43] #111 closed

[2015-09-29 08:09] kohtenko commented on #198
I also got this issue. Solved by opening in iOS simulator `Hardware->Device->Manage Devices`. In open menu on left panel you can review all of available simulators. In my case there was duplicates of `iPhone 6` and `iPhone 6plus`. Remove duplicates and run `snapshot` again

[2015-09-29 08:22] PaulTaykalo commented on #198
@kohtenko Thanks :+1:

[2015-10-02 12:55] kostiakoval commented on #79
I would like to have skip install action as well. This way I can keep my code clean and get the correct Screenshots :)

[2015-10-02 15:23] nitinalabur commented on #196
+1

works like a charm while taking screenshots on iPhone 6 and newer devices

[2015-10-04 12:17] larryonoff commented on #178
I have found the issue here. Change ```OTHER_SWIFT_FLAGS``` to ```OTHER_SWIFT_FLAGS='$(inherited) -D SNAPSHOT'```.

[2015-10-05 17:52] yogoo commented on #198
Same issue with Xcode 7.0.1. @kohtenko solution led to a different error. The workaround was to configure all devices to the "s" version in the ```Snapfile```: ```iPhone 6s```, ```iPhone 6s Plus```,...

[2015-10-06 12:30] vineethvijayan commented on #171
Any update on this?? I am still getting this error

[2015-10-06 15:57] yeradis commented on #167
I´m facing a similar problem, even i i just set the language code as for example : 'it'
i´m not able to get the localized string for that language

I´m using the `NSLocalizedString`

As a note: this only happens with snapshot, if i pass a launch param from xcode like : `-AppleLanguages (it)` or if i change the language in the simulator or device, NSLocalizedString returns the correct value

[2015-10-06 16:06] yeradis commented on #62
I´m facing a similar problem, even i i just set the language code as for example : 'it'
i´m not able to get the localized string for that language

I´m using the NSLocalizedString

As a note: this only happens with snapshot, if i pass a launch param from xcode like : -AppleLanguages (it) or if i change the language in the simulator or device, NSLocalizedString returns the correct value

[2015-10-07 07:40] Shukuyen commented on #199
We have the same issue. On iPhone (where we only have retina images) no images are displayed. On iPad we get the 1x images. This happened after updating to Xcode 7 (using 7.0.1 at the moment) and resetting the simulators.

Did you find a solution, @sandman4sure ?

[2015-10-07 07:58] sandman4sure commented on #199
No, sadly not.

[2015-10-07 09:42] ThomasCassany commented on #203
Same issue...

[2015-10-07 14:31] KrauseFx commented on #203
Did you make sure to run `sudo xcode-select --install`?

[2015-10-07 20:47] humberaquino commented on #198
@joepasq workaround worked for me. Added the "-watch" suffix to the device name that I wanted to create the snapshot from, then create a new simulator without a paired apple watch.
@KrauseFx Could "the way to fetch a list of available devices" that you mentioned be this one?
`instruments -s devices`

[2015-10-08 07:55] winkelsdorf commented on #196
After update to El Capitan and Snapshot 0.10.1 it's working fine 👍

[2015-10-08 07:55] #196 closed

[2015-10-08 12:38] kostiakoval commented on #121
- Can't run snapshot for the iOS app that includes Apple Watch target

Steps:
- Create new iOS app with Watch OS 2
- run snapshot init
- run snapshot

Get Error:

"target specifies product type 'com.apple.product-type.watchkit2-extension', but there's no such product type for the 'iphonesimulator' platform"

It should use correct platform form the watch target

[2015-10-08 12:39] kostiakoval opened #208 "Can't make snapshot of iOS app that includes Watch target"
- Can't run snapshot for the iOS app that includes Apple Watch target

Steps:
- Create new iOS app with Watch OS 2
- run snapshot init
- run snapshot

Get Error:

"target specifies product type 'com.apple.product-type.watchkit2-extension', but there's no such product type for the 'iphonesimulator' platform"

It should use correct platform form the watch target

[code]

[2015-10-08 13:09] kostiakoval commented on #208
Fix:

- duplicate target
-  In build phases remove Watch App target dependency
-  In build phases remove embedded Watch Content

Run the snapshot, it works

[2015-10-09 07:19] b-ray opened #209 "Screenshots are not localized in chinese with 'cmn-Hans' language-identifier"
When running snapshot in the 'cmn-Hans' language (as defined here: https://github.com/KrauseFx/snapshot/issues/45), our app (iOS9) is not correctly localized to 'chinese simplified', it is still in the default localization.
When using 'zh-Hans' as the language for snapshot, the app is localized correctly, but the files and folder are also named with that identifier, and I think iTunesConnect expec

[2015-10-09 07:43] #209 closed

[2015-10-09 07:47] b-ray commented on #209
nevermind, I just found the right identifiers to use in the readme, I was looking at the wrong place.

[2015-10-09 09:22] yeradis opened #210 "Last version forcing to use "js_file" in snapshot.js"
[code]

[2015-10-09 14:15] KrauseFx commented on #209
Was there a part of the documentation still using the old language codes?

[2015-10-09 14:44] b-ray commented on #209
the documentation of the Snapfile in the readme includes a 'cmn-Hans' language code:
[code]

[2015-10-09 16:30] imanf opened #211 "WatchKit app is executed instead of phone app"
This is the same issue as https://github.com/KrauseFx/snapshot/issues/44, but is coming up now for me.

The WatchKit app is selected when running instruments rather than the phone app. See the execution logs:

[12:11:30]: #############################################################
[12:11:30]: # xctool is recommended to build the apps
[12:11:30]: # Install it using 'brew install xctool'
[12:11:30

[2015-10-10 13:54] KrauseFx commented on #210
You probably have multiple Javascript files in the current directory. Please add

[code]

to your `Snapfile` to specify which file to use :+1:

[2015-10-10 23:39] joepasq commented on #203
@plam4u I am also seeing this. Running OS X El Capitan, Ruby 2.2.3, and freshly installing `gem install snapshot`. `--verbose` outputs:

[code]

[2015-10-11 12:07] KrauseFx commented on #211
I'm currently working on a new version of `snapshot`, that gets rid of UI Automation: https://github.com/KrauseFx/snapshot#note-support-for-ui-tests-with-xcode-7

Sorry, but I won't have time to look into this issue.

[2015-10-11 12:38] guyisra opened #212 "Creating screenshots via deep links"
is it possible to configure a set of deep links for which the screenshots will be created?

[2015-10-11 15:47] davidrothera opened #213 "[UI Testing] Looping waiting for menu bar to clear"
When you run the UITesting branch on a simulator that has had it's status bar changed with SimulatorStatusMagic there is a loop.

It is looping waiting for the menu bar to clear as we are waiting for there to be 4 (or less) items in the menu bar, in a fresh simulator there are 4 items:
* Carrier
* WiFi
* Clock
* Battery

When you have run SimulatorStatusMagic though there are 6:
* Carrier name (bl

[2015-10-11 16:31] davidrothera opened #214 "[UI Testing] Running Snapshot in a directory with fastlane dir fails"
This is on the uitest branch:

[code]

Checked and it runs fine if I `mv fastlane blah` out of the way.

Let me know if you don't want bugs for the testing branch though :P

[2015-10-11 22:44] KrauseFx commented on #212
No, sorry.

[2015-10-11 22:44] KrauseFx commented on #213
Nice catch, thanks! :+1:

[2015-10-11 22:46] KrauseFx commented on #214
Thanks, I'll push a fix :+1:

[2015-10-11 22:46] KrauseFx commented on #214
That happens when the project couldn't be detected automatically.

[2015-10-12 08:19] davidrothera commented on #214
Hmm, all the other Fastlane tooling works fine in that directory and even if I run `snapshot -p Blah.xcodeproj` or `snapshot -w Blah.xcworkspace` I get an error like:

[code]

[2015-10-12 08:27] davidrothera commented on #214
Found the issue, if there is a fastlane directory then you need to give paths relative to that directory for the proj/workspace: `snapshot -p ../SugarFix.xcodeproj`

[2015-10-12 09:00] davidrothera opened #215 "[UI Testing] Snapshot helper clicks item on tabBar"
When using the snapshot helper on an application that has a tabBar on it the lower right object is clicked erroneously.

I have created a simple example application showing this, https://github.com/davidrothera/snapshot_test run snapshot on that application and you will see it clicks into the second view controller.

[2015-10-12 12:21] kostiakoval commented on #128
@muZZkat  can you show the code example ?

[2015-10-12 14:26] davidrothera commented on #214
If you don't give a path and instead try and use the Snapfile under `fastlane` then it bombs out about not being able to find a workspace/project

[2015-10-12 14:38] eminisrafil opened #216 "Run snapshot with WatchOS1 and WatchOS2"
Would be cool to be able to run snapshot on the iOS target without deleting the watch content.
I currently get the same error indicated here: https://github.com/KrauseFx/snapshot/issues/208

I know you're working on a new version of snapshot (https://github.com/KrauseFx/snapshot#note-support-for-ui-tests-with-xcode-7), just wanted to express interest in it being compatible with WatchOS1/WatchOS2 p

[2015-10-12 14:57] KrauseFx commented on #214
Great catch, working on a fix :+1:

[2015-10-12 14:58] KrauseFx commented on #214
Just pushed a fix :rocket:

[2015-10-12 14:58] #214 closed

[2015-10-12 15:21] davidrothera commented on #214
Fix works a treat! :+1:

[2015-10-12 23:46] cbowns commented on #198
Another workaround which worked for me: delete the 9.0 + Apple Watch simulator, and manually add one without a Watch.

[2015-10-13 13:25] netbe commented on #9
Got same issue:
[code]

I've try to uninstall and reinstall as suggested with `sudo` on yosemite.

[2015-10-13 14:14] netbe commented on #9
ok it wsa on a jenkins build slave and putting the two:
[code]
in the "[EnvInject] - Injecting as environment variables the properties" of the job solved it.

[2015-10-15 09:45] billypchan commented on #198
@cbowns How to remove the 9.0 + Apple Watch simulator?

[2015-10-15 15:59] joepasq commented on #194
@olutsenko can you try using a simulator that has a watch paired? This thread discusses the opposite problem: iPhone/iPad only projects running into issues with watch simulators: https://github.com/KrauseFx/snapshot/issues/198

[2015-10-15 16:50] cbowns commented on #198
some quick unedited screenshots:

Step 1: go to Devices

![screen shot 2015-10-15 at 9 47 01 am](https://cloud.githubusercontent.com/assets/474/10520937/dac61726-7321-11e5-94f0-949aa94cf11b.png)

Step 2: Scroll down in the left sidebar:

![screen shot 2015-10-15 at 9 47 05 am](https://cloud.githubusercontent.com/assets/474/10520945/e3f759b8-7321-11e5-91be-3b75dcf55fbd.png)
![screen shot 2015-10-15

[2015-10-16 09:44] odrobnik opened #218 "reset_simulators might fail to remove some simulators"
I've had the situation that somehow the permissions of a subfolder of the simulator folder got messed up. A normal `rm -rf UUID` would not work then and you would get a message like I am [showing in this blog post](https://www.cocoanetics.com/2015/10/fixing-the-simulators/)

Running `sudo snapshot reset_simulators` was not able to remove the two offending directories.

Im my case the workaround wa

[2015-10-16 20:27] steveriggins opened #219 "Failed to install on 10.11.1"
Building native extensions.  This could take a while...
ERROR:  Error installing snapshot:
	ERROR: Failed to build gem native extension.

    /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/bin/ruby extconf.rb
creating Makefile

make "DESTDIR="
make: *** No rule to make target `"/Applications/Xcode', needed by `websocket_mask.o'.  Stop.

Still investigating

[2015-10-16 20:30] steveriggins commented on #219
I am having this issue with a number of gems, so closing

[2015-10-16 20:30] #219 closed

[2015-10-16 20:35] steveriggins commented on #219
sudo xcode-select install fixed the problem with being able to build snapshot

[2015-10-17 10:04] iOSAppMaker opened #220 "Stuck with Instruments repeating for same language-device combo"
Any idea why the process is not moving forward?? The simulator turns on and just when it comes active, another instruments is initiated automatically and the simulator restarts. No pictures are taken. The whole process keeps on repeating. Everything went smoothly untill this point.

![error shot2](https://cloud.githubusercontent.com/assets/15169453/10558173/05b14ae6-74e4-11e5-886f-82def1dce29d.png

[2015-10-17 10:05] iOSAppMaker commented on #220
Also, it has two lines:

"Invalid device: booted
No matching processes were found"

Is something wrong here??

[2015-10-17 15:23] muZZkat commented on #128
Sure, here is a snippet from my current script,

[code]

[2015-10-17 19:35] KrauseFx commented on #220
The error message shouldn't be a problem. Could you try running the yellow command manually yourself and see if it works?

[2015-10-18 02:09] joepasq commented on #203
@KrauseFx is this a dependency on `libwebsockets`? I've tried installing libwebsocket through brew and gems, but haven't had any luck.

[2015-10-18 04:08] KrauseFx commented on #218
Sorry for the delayed reply - somehow lost this tab. Interesting, I haven't seen this issue before.

This is definitely something where I'd prefer showing a better error message with proper instructions right in `snapshot`.

Thanks for the blog post and the nice words :+1:

[2015-10-18 04:09] KrauseFx commented on #218
You should try some of the other `fastlane` tools too, like [gym](https://github.com/fastlane/gym). I wouldn't start setting up `snapshot` for screenshots right now, as I'm currently working on a rewrite using UI Tests instead of UI Automation.

[2015-10-20 07:54] jaroslavas commented on #198
@cbowns Thanks, that worked for me!

[2015-10-20 13:35] converted2mac commented on #198
Having this issue, but my only "duplicate" simulators are the iPhone 6 running iOS 8.4 and the iPhone 6 running iOS 9.0. The script doesn't have any issues if I explicitly tell it to snapshot the 8.4 simulators, but runs into this problem when I comment out the iOS version (or set it to try iOS 9.0).

In my case, I don't have "duplicates" so much as I have two different simulators for the same dev

[2015-10-20 14:29] michaelforrest opened #222 "[UI Testing] Fail when multiple test targets are present"
I have multiple test targets in my project, and collection of data from any non-ui tests fail at
https://github.com/KrauseFx/snapshot/blob/feature/uitests/lib/snapshot/collector.rb#L46, as these tests contain no `ActivitySummaries` entries (fails with
[code]
.)

[2015-10-20 16:11] KrauseFx commented on #222
Thanks, nice catch :+1:

[2015-10-20 16:18] #222 closed

[2015-10-20 17:24] pedro380085 opened #223 "Simulator datetime"
It's possible to set the simulator date when taking a screenshot?

That would be a feature enhancer, of course.

[2015-10-20 17:32] converted2mac opened #224 "Macro variable"
Having issues setting the "SNAPSHOT" variable for the macro, by including the following build args in the snapfile in combination with the #ifdef in my source code.

Have tried both:
```custom_build_args "GCC_PREPROCESSOR_DEFINITIONS='$(inherited) SNAPSHOT=1' OTHER_SWIFT_FLAGS='$(inherited) -D SNAPSHOT'" ```

and
```custom_build_args "GCC_PREPROCESSOR_DEFINITIONS='$(inherited) SNAPSHOT=1'" ```

Bu

[2015-10-20 20:20] converted2mac commented on #224
Never mind... I had also been using the 'SNAPSHOT_SKIP_UNINSTALL' flag, which kept me on an older version of the simulated app that didn't have the pre-processor #ifdef checks.

[2015-10-20 20:20] #224 closed

[2015-10-21 02:23] johnboiles commented on #198
@yogoo: super clever workaround since the 's' devices don't seem to have watch versions. Love it! ❤️

[2015-10-22 15:57] michaelforrest opened #226 "[UI Testing] Performance is prohibitively slow"
I'm not sure if this applies to the normal process but I'm running snapshot on my project and it's painstakingly recompiling everything for each language. There must be a way to optimise this - or is there an option I'm unaware of?

I see a commented-out reference to `config[:clean]` [here](https://github.com/KrauseFx/snapshot/blob/master/lib/snapshot/test_command_generator.rb#L47) which makes me

[2015-10-22 17:35] ZevEisenberg commented on #199
I’m seeing this as well. Not sure about what the simulator is doing, but my screenshots are Retina-size, but each pixel is a cluster of 4 identical pixels. See attached example:

![de-de-ipad-0-landingscreen-portrait](https://cloud.githubusercontent.com/assets/464574/10673057/c1ce00da-78c1-11e5-95f2-21cb7a1a2423.png)

[2015-10-22 20:20] AliSoftware opened #227 "snapshot reset_simulator finishes with an error on Xcode 7.1 Final"
When running `snapshot reset_simulators` using Xcode 7.1, I get an error message at the end of the execution:

[code]

## With Xcode 7.0.1: works

[code]

## With Xcode 7.1 Final: fail

[code]

_Note: I tried using `snapshot reset_simulators --verbose` but it doesn't seem to change the output and provide more info._

[2015-10-22 21:56] ericertl opened #228 "Support for Objective-C tests"
xcodebuild: error: Scheme fma is not currently configured for the test action.
[14:53:07]: Exit status: 66
[14:53:07]: Cought error... 66
[14:53:07]: Too many errors... no more retries...
/Library/Ruby/Gems/2.0.0/gems/snapshot-1.0.1/lib/snapshot/runner.rb:30:in `work': Too many errors... no more retries...; Too many errors... no more retries...; Too many errors... no more retries... (RuntimeError)

[2015-10-23 00:59] KrauseFx commented on #226
I didn't find a way to make things faster. The `xcodebuild` command re-compiles the app for every language / device, yes.

[2015-10-23 01:03] zineer commented on #215
+1
I just upgraded snapshot and I'm noticing the same thing. I have a Cordova app which has a toolbar along the bottom and the app recognizes the "snapshot swipe" as a press & hold on the bottom right button and it pops up the Safari "open in new tab" interface buttons.

[2015-10-23 04:01] BlakeLucchesi opened #229 "Edge case when you update Xcode and haven't agreed to license requirements"
I just updated my Xcode to 7.1 and tried to run `snapshot init` on my project.  The ruby code to detect the version of Xcode bailed because the xcodebuild command gives the following response:

[code]

I'll submit a PR that catches the case where no version is returned so a more user friendly error can be displayed.

[2015-10-23 11:33] plaetzchen commented on #215
+1
I can't use snapshot to do a screenshot because it will always tap on the settings of my app when snapshot is run.

[2015-10-23 12:10] ericertl commented on #228
Nevermind. I saw the .js files are deprecated, and I have to create a test project.
Figuring out how to make the swift file with objC

[2015-10-23 12:59] carlossless commented on #176
Xcode 7.1 cause this issue to reappear.

[2015-10-23 13:02] ericertl commented on #228
So, the only way I could make this work was surrounding SnapshotHelper.swift code inside a class

[code]

and in my UITests.m file import the swift header

[code]

and to call the functions I had to create an instance of SnapshotHelper like this

[code]

If anyone finds a better way to do this, please let me know

[2015-10-23 14:12] plaetzchen opened #232 "[UI Testing] Language not set when running snapshots"
When running snapshots with only de-DE in the Snapfile the app will alway run in english in the simulator. The screenshots are correctly put into the de-DE folder.
I made a scheme for my UITests to run (duplicated the normal one and disabled unit tests so they won't run).

[2015-10-23 14:37] plaetzchen commented on #232
Uups. Found my mistake: I used the launch arguments to pass the state of running ui tests to my app and overwrote the language settings. Stupid me. Sorry.

[2015-10-23 14:37] #232 closed

[2015-10-23 15:19] plaetzchen opened #233 "[UI Testing] Also set locale when running screenshots tests"
Right now only the language (-AppleLanguages) is set when running snapshot but also the tool should set the locale (-AppleLocale) so that NSDateFormatter and Co. give back the right strings.

[2015-10-23 15:27] oskarn97 opened #234 "Snapshot runs UITests but does not take screenshots"
Hello,

I tried to integrate UITests into an existing project.
Snapshot runs the tests successfully but is unable to fetch the screenshots.

The log:

▸ Linking UITests
Running Tests: ▸ Touching UITests.xctest
▸ Test Succeeded
All tests
Test Suite UITests.xctest started
UITests
✓ testExample (36.821 seconds)

	 Executed 1 test, with 0 failures (0 unexpected) in 36.821 (36.822) seconds

[17:07:57]:

[2015-10-23 19:01] iOSAppMaker commented on #220
The problem is fixed. It was a problem with the snapshot.js file filled with text in wrong encoding. But I have trouble with frameit now. It is not framing for the iPad Air 2 and iPad Mini 4 despite me already having the templets. It is saying something alongside "missing file:". And how do you frameit for devices not available in the official giveaway like iPhone 4S (I support iPhone 4S). Great p

[2015-10-23 19:12] KrauseFx commented on #232
:+1:

[2015-10-23 19:16] KrauseFx commented on #228
@ericertl Interesting. I'd love to support Objective-C tests as well :+1:

[2015-10-23 19:16] KrauseFx commented on #223
Sure https://github.com/KrauseFx/snapshot#use-a-clean-status-bar

[2015-10-23 19:16] #223 closed

[2015-10-23 19:18] KrauseFx commented on #227
Thanks for the detailed report. Updating Xcode to reproduce this issue now :+1:

[2015-10-23 20:02] pieisgood commented on #234
can I see the snapshot code you wrote? if it's in the setup function it won't work (or didn't for me), did you also  register the language?

[2015-10-23 20:03] oskarn97 commented on #234
override func setUp() {
        super.setUp()

        // Put setup code here. This method is called before the invocation of each test method in the class.

        // In UI tests it is usually best to stop immediately when a failure occurs.
        continueAfterFailure = true

        let app = XCUIApplication()
        setLanguage(app)
        app.launch()
    }

    override func tearDown() {

[2015-10-23 20:07] pieisgood commented on #234
try calling XCUIApplication() just before the snapshot call, just a guess though

[2015-10-23 20:09] oskarn97 commented on #234
Same issue...

[2015-10-23 20:12] pieisgood commented on #234
what does the snapfile look like?

[2015-10-23 20:13] oskarn97 commented on #234
nothing changed after snapshot init...

[2015-10-23 20:18] pieisgood commented on #234
try running a tap on something that doesn't affect the app

[2015-10-23 20:26] pedro380085 commented on #223
Thanks @KrauseFx !

[2015-10-23 20:46] oskarn97 commented on #234
that somehow did the trick. thanks! why is that?

[2015-10-23 20:46] #227 closed

[2015-10-23 20:49] KrauseFx commented on #25
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:49] #25 closed

[2015-10-23 20:49] KrauseFx commented on #26
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:49] #26 closed

[2015-10-23 20:49] KrauseFx commented on #60
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:49] #60 closed

[2015-10-23 20:49] KrauseFx commented on #62
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:49] #62 closed

[2015-10-23 20:49] KrauseFx commented on #74
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:49] #74 closed

[2015-10-23 20:49] KrauseFx commented on #74
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:49] KrauseFx commented on #79
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:49] #79 closed

[2015-10-23 20:49] KrauseFx commented on #86
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:49] #86 closed

[2015-10-23 20:49] KrauseFx commented on #87
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:49] #87 closed

[2015-10-23 20:50] KrauseFx commented on #126
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:50] #126 closed

[2015-10-23 20:51] KrauseFx commented on #128
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:51] #128 closed

[2015-10-23 20:51] KrauseFx commented on #137
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:51] #137 closed

[2015-10-23 20:51] KrauseFx commented on #140
Is this issue ready to be closed?

[2015-10-23 20:51] #140 closed

[2015-10-23 20:51] KrauseFx commented on #142
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:51] #142 closed

[2015-10-23 20:51] KrauseFx commented on #150
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:51] #150 closed

[2015-10-23 20:51] #154 closed

[2015-10-23 20:51] KrauseFx commented on #161
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:51] #161 closed

[2015-10-23 20:51] alloy commented on #140
:+1:

[2015-10-23 20:52] KrauseFx commented on #162
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Let me know what you think :+1:

[2015-10-23 20:52] #162 closed

[2015-10-23 20:52] KrauseFx commented on #165
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:52] #165 closed

[2015-10-23 20:53] KrauseFx commented on #166
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:53] #166 closed

[2015-10-23 20:53] KrauseFx commented on #169
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:53] #169 closed

[2015-10-23 20:53] KrauseFx commented on #169
This issue should be fixed with the new release :+1:

[2015-10-23 20:53] KrauseFx commented on #167
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:53] #167 closed

[2015-10-23 20:54] KrauseFx commented on #171
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:54] #171 closed

[2015-10-23 20:54] KrauseFx commented on #170
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:54] #170 closed

[2015-10-23 20:54] KrauseFx commented on #174
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:54] #174 closed

[2015-10-23 20:55] KrauseFx commented on #181
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:55] #181 closed

[2015-10-23 20:55] KrauseFx commented on #177
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:55] #177 closed

[2015-10-23 20:55] KrauseFx commented on #194
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:55] #194 closed

[2015-10-23 20:55] KrauseFx commented on #186
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:55] #186 closed

[2015-10-23 20:55] KrauseFx commented on #200
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:55] #200 closed

[2015-10-23 20:56] KrauseFx commented on #202
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

[2015-10-23 20:56] #202 closed

[2015-10-23 20:56] KrauseFx commented on #204
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:56] #204 closed

[2015-10-23 20:56] KrauseFx commented on #208
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:56] #208 closed

[2015-10-23 20:56] KrauseFx commented on #210
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1:

[2015-10-23 20:56] #210 closed

[2015-10-23 20:56] KrauseFx commented on #211
I just released [snapshot 1.0](https://github.com/KrauseFx/snapshot/releases/tag/1.0.0), please follow the [migration guide](https://github.com/KrauseFx/snapshot/blob/master/MigrationGuide.md).

Since the underlying `snapshot` was completely rewritten, I'm closing this issue now. Feel free to submit a new issue if you're experiencing an issue :+1: